<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: III he și verbe slabe</h1>
      </header>
      <main>
        <h3>III he</h3>
        <p>
            &#x1F449; Hiphilul verbelor din rădăcinile III he variază de la paradigma standard 
            cu aceleași terminații ca în qal și piel.
        </p>
        <table>
            <tr>
                <th style="width:22%">III he hiphil imperfect</th>
                <th style="width:22%">III he qal imperfect</th>
                <th style="width:22%">III he hiphil perfect</th>
                <th style="width:22%">III he qal perfect</th>
            </tr>
            <tr>
                <td class=cell-dr>יַגְלֶה</td>
                <td class=cell-dr>יִגְלֶה</td>
                <td class=cell-dr>הִגְלָה</td>
                <td class=cell-dr>גָּלָה</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּגְלֶה</td>
                <td class=cell-dr>תִּגְלֶה</td>
                <td class=cell-dr>הִגְלְתָה</td>
                <td class=cell-dr>גָּלְתָה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּגְלֶה</td>
                <td class=cell-dr>תִּגְלֶה</td>
                <td class=cell-dr>הִגְלִיתָ</td>
                <td class=cell-dr>גָּלִיתָ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּגְלִי</td>
                <td class=cell-dr>תִּגְלִי</td>
                <td class=cell-dr>הִגְלִית</td>
                <td class=cell-dr>גָּלִית</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>אַגְלֶה</td>
                <td class=cell-dr>אֶגְלֶה</td>
                <td class=cell-dr>הִגְלִיתִי</td>
                <td class=cell-dr>גָּלִיתִי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr><td>
            <tr>
                <td class=cell-dr>יַגְלוּ</td>
                <td class=cell-dr>יִגְלוּ</td>
                <td class=cell-dr>הִגְלוּ</td>
                <td class=cell-dr>גָּלוּ</td>
                <td class=cell-st><i>3m/cp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תִַגְלֶינָה</td>
                <td class=cell-dr>תִּגְלֶינָה</td>
                <td></td>
                <td></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּגְלוּ</td>
                <td class=cell-dr>תִּגְלוּ</td>
                <td class=cell-dr>הִגְלִיתֶם</td>
                <td class=cell-dr>גָּלִיתֶם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תִַגְלֶינָה</td>
                <td class=cell-dr>תִּגְלֶינָה</td>
                <td class=cell-dr>הִגְלִיתֶן</td>
                <td class=cell-dr>גָּלִיתֶן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נַגְלֶה</td>
                <td class=cell-dr>נִגְלֶה</td>
                <td class=cell-dr>הִגְלִינוּ</td>
                <td class=cell-dr>גָּלִינוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <th style="width:22%">III he hiphil participiu</th>
            <th style="width:22%">III he qal participiu</th>
            <th style="width:22%">III he hiphil imperativ</th>
            <th style="width:22%">III he qal  standard</th>
        </tr>
        <tr>
            <td class=cell-dr>מַגְלֶה</td>
            <td class=cell-dr>גֹּלֶה</td>
            <td class=cell-dr>הַגְלֵה</td>
            <td class=cell-dr>גְּלֵה</td>
            <td class=cell-str><i>2ms</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַגְלָה</td>
            <td class=cell-dr>גֹּלה</td>
            <td class=cell-dr>הַגְלִי</td>
            <td class=cell-dr>גְּלִי</td>
            <td class=cell-st><i>2fs</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַגְלִים</td>
            <td class=cell-dr>גֹּלִים</td>
            <td class=cell-dr>הַגְלוּ</td>
            <td class=cell-dr>גְּלוּ</td>
            <td class=cell-st><i>2mp</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַגְלוֹת</td>
            <td class=cell-dr>גֹּלוֹת</td>
            <td class=cell-dr></td>
            <td class=cell-dr>גְּלֶינָה</td>
            <td class=cell-st><i>2fp</i></td>
        </tr>
    </table>
    </br>
    <table>
        <tr>
            <th style="width:25%">III he hiphil inf abs</th>
            <th style="width:25%">III he qal inf abs</th>
            <th style="width:25%">III he hiphil inf constr</th>
            <th>III he qal inf constr</th>
        </tr>
        <tr>
            <td>הַגְּלֵה</td>
            <td>גָּלֹה</td>
            <td>הַגְּלוֹת</td>
            <td>גְּלוֹת</td>
        </tr>
    </table>
</br>
<table>
    <tr>
        <th style="width:25%">III he hiphil wci</th>
        <th style="width:25%">III he qal wci</th>
        <th style="width:25%">III he hiphil iusiv</th>
        <th>III he qal iusiv</th>
    </tr>
    <tr>
        <td>וַיֶּגֶל</td>
        <td>וַיִּגֶל</td>
        <td>יֶגֶל</td>
        <td>יִגֶל</td>
    </tr>
</table></br>
<h3>Hiphilul lui נכח</h3>
<p>
    &#x1F449; Hiphilul lui <font size="4">נכח</font> este destul de frecvent, el apare de peste 500 de ori, 
    și este de două ori slab, fiind I nun și III he.
</p>
<table>
    <tr>
        <th style="width:22%">participiu</th>
        <th style="width:22%">imperativ</th>
        <th style="width:22%">imperfect</th>
        <th style="width:22%">perfect</th>
    </tr>
    <tr>
        <td>מַכֶּה</td>
        <td>הַכֵּה</td>
        <td>יִכֶּה</td>
        <td>הִכָּה</td>
        <td class=cell-st><i>3ms</i></td>
    </tr>
</table></br>
<table>
    <tr>
        <th style="width:22%">wci</th>
        <th style="width:22%">iusiv</th>
        <th style="width:22%">inf abs</th>
        <th style="width:22%">inf constr</th>
    </tr>
    <tr>
        <td>וַיַּךְ</td>
        <td>יַךְ</td>
        <td>הַכֵּה</td>
        <td>הַכּוֹת</td>
        <td class=cell-st><i>3ms</i></td>
    </tr>
</table></br>
<h3>Verbe slabe (găunoase)</h3>
<p>
    &#x1F449; Hiphilul verbelor cu rădăcini slabe (sau găunoase) va avea în cele mai multe 
     forme <font size="4"> &#1497;&#8239;&#1460;&#9744;</font> ca vocala tematică.
</p>
<table>
    <tr>
        <th style="width:22%">slabe hiphil imperfect</th>
        <th style="width:22%">slabe qal imperfect</th>
        <th style="width:22%">slabe hiphil perfect</th>
        <th style="width:22%">slabe qal perfect</th>
    </tr>
    <tr>
        <td class=cell-dr>יָקִים</td>
        <td class=cell-dr>יָקוּם</td>
        <td class=cell-dr>הֵקִים</td>
        <td class=cell-dr>קָם</td>
        <td class=cell-st><i>3ms</i></td>
    </tr>
    <tr>
        <td class=cell-dr>תָּקִים</td>
        <td class=cell-dr>תָּקוּם</td>
        <td class=cell-dr>הֵקִימָה</td>
        <td class=cell-dr>קָמָה</td>
        <td class=cell-st><i>3fs</i></td>
    </tr>
    <tr>
        <td class=cell-dr>תָּקִים</td>
        <td class=cell-dr>תָּקוּם</td>
        <td class=cell-dr>הֲקִימוֹתָ</td>
        <td class=cell-dr>קָמְתָּ</td>
        <td class=cell-st><i>2ms</i></td>
    </tr>
    <tr>
        <td class=cell-dr>תָּקִימִי</td>
        <td class=cell-dr>תָּקוּמִי</td>
        <td class=cell-dr>הֲקִימוֹת</td>
        <td class=cell-dr>קָמְתְּ</td>
        <td class=cell-st><i>2fs</i></td>
    </tr>
    <tr>
        <td class=cell-dr>אָקִים</td>
        <td class=cell-dr>אָקוּם</td>
        <td class=cell-dr>הֲקִימוֹתִי</td>
        <td class=cell-dr>קָמְתִּי</td>
        <td class=cell-st><i>1cs</i></td>
    </tr>
    <tr><td>
    <tr>
        <td class=cell-dr>יָקִימוּ</td>
        <td class=cell-dr>יָקוּמוּ</td>
        <td class=cell-dr>הֵקִימוּ</td>
        <td class=cell-dr>קָמוּ</td>
        <td class=cell-st><i>3m/cp</i></td>
    </tr>
    <tr>
        <td class=cell-dr>תְּקִימֶנָה</td>
        <td class=cell-dr>תְּקוּמֶנָה</td>
        <td></td>
        <td></td>
        <td class=cell-st><i>3fp</i></td>
    </tr>
    <tr>
        <td class=cell-dr>תְּקִימוּ</td>
        <td class=cell-dr>תְּקוּמוּ</td>
        <td class=cell-dr>הֲקִימוֹתֶם</td>
        <td class=cell-dr>קָמְתֶּם</td>
        <td class=cell-st><i>2mp</i></td>
    </tr>
    <tr>
        <td class=cell-dr>תְּקִימֶנָה</td>
        <td class=cell-dr>תְּקוּמֶנָה</td>
        <td class=cell-dr>הֲקִימוֹתֶן</td>
        <td class=cell-dr>קָמְתֶּן</td>
        <td class=cell-st><i>2fp</i></td>
    </tr>
    <tr>
        <td class=cell-dr>נָקִים</td>
        <td class=cell-dr>נָקוּם</td>
        <td class=cell-dr>הֲקִימוֹנוּ</td>
        <td class=cell-dr>קָמְנוּ</td>
        <td class=cell-st><i>1cp</i></td>
    </tr>
</table>
</br>
<table>
    <tr>
        <th style="width:22%">slabe hiphil imperfect</th>
        <th style="width:22%">slabe qal imperfect</th>
        <th style="width:22%">slabe hiphil perfect</th>
        <th style="width:22%">slabe qal perfect</th>
    </tr>
    <tr>
        <td class=cell-dr>מֵקִים</td>
        <td class=cell-dr>קָם</td>
        <td class=cell-dr>הָקֵם</td>
        <td class=cell-dr>קוּם</td>
        <td class=cell-st><i>2ms</i></td>
    </tr>
    <tr>
        <td class=cell-dr>מְקִימָה</td>
        <td class=cell-dr>קָמָה</td>
        <td class=cell-dr>הָקִימִי</td>
        <td class=cell-dr>קוּמִי</td>
        <td class=cell-st><i>2fs</i></td>
    </tr>
    <tr>
        <td class=cell-dr>מְקִימִים</td>
        <td class=cell-dr>קָמִים</td>
        <td class=cell-dr>הָקִימוּ</td>
        <td class=cell-dr>קוּמוּ</td>
        <td class=cell-st><i>2mp</i></td>
    </tr>
    <tr>
        <td class=cell-dr>מְקִימוֹת</td>
        <td class=cell-dr>קָמוֹת</td>
        <td class=cell-dr>הָקֵמְנָה</td>
        <td class=cell-dr>קֹמְנָה</td>
        <td class=cell-st><i>2fp</i></td>
    </tr>
</table></br>
<table>
    <tr>
        <th style="width:23%">slabe hiphil inf abs</th>
        <th style="width:23%">slabe qal inf abs</th>
        <th style="width:23%">slabe hiphil inf constr</th>
        <th style="width:23%">slabe qal inf constr</th>
    </tr>
    <tr>
        <td>הָקֵם</td>
        <td>קוֹם</td>
        <td>הָקִים</td>
        <td>קוּם</td>
    </tr>
</table></br>
<table>
    <tr>
        <th style="width:23%">slabe hiphil wci</th>
        <th style="width:23%">slabe qal wci</th>
        <th style="width:23%">slabe hiphil iusiv</th>
        <th style="width:23%">slabe qal iusiv</th>
    </tr>
    <tr>
        <td>וַיָקֶם</td>
        <td>וַיָקָם</td>
        <td>יָקֵם</td>
        <td>יָקֹם</td>
    </tr>
</table></br>
<h3>Verbe slabe (găunoase) la hiphil cunoscute</h3>
<table>
    <tr>
        <th style="width:23%"></th>
        <th style="width:23%">hiphil</th>
        <th style="width:23%"></th>
        <th style="width:23%">qal</th>
    </tr>
    <tr>
        <td class=cell-st>să aducă</td>
        <td>הָבִי</td>
        <td class=cell-st>vino</td>
        <td>בּוֹא</td>
    </tr>
    <tr>
        <td class=cell-st>să ucidă</td>
        <td>הָמִית</td>
        <td class=cell-st>mori</td>
        <td>מוֹת</td>
    </tr>
    <tr>
        <td class=cell-st>să elimine</td>
        <td>הָסִיר</td>
        <td class=cell-st>dă-te la o parte</td>
        <td>סוּר</td>
    </tr>
    <tr>
        <td class=cell-st>să ridice</td>
        <td>חָקִים</td>
        <td class=cell-st>crești</td>
        <td>קוּם</td>
    </tr>
    <tr>
        <td class=cell-st>a se întoarce</td>
        <td>הָשִׁיב</td>
        <td class=cell-st>întoarce</td>
        <td>שׁוּב</td>
    </tr>
</table></br>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>