<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: III he și verbe slabe</h1>
      </header>
      <main>
        <h3>III he</h3>
        <p>
            &#x1F449; Hiphilul verbelor din rădăcinile III he variază de la paradigma standard 
            cu aceleași terminații ca în qal și piel.
        </p>
        <table>
            <tr>
                <td style="width:23%">III he hiphil imperfect</td>
                <td style="width:23%">III he qal imperfect</td>
                <td style="width:23%">III he hiphil perfect</td>
                <td style="width:23%">III he qal perfect</td>
            </tr>
            <tr>
                <td>יַגְלֶה</td>
                <td>יִגְלֶה</td>
                <td>הִגְלָה</td>
                <td>גָּלָה</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תַּגְלֶה</td>
                <td>תִּגְלֶה</td>
                <td>הִגְלְתָה</td>
                <td>גָּלְתָה</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תַּגְלֶה</td>
                <td>תִּגְלֶה</td>
                <td>הִגְלִיתָ</td>
                <td>גָּלִיתָ</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תַּגְלִי</td>
                <td>תִּגְלִי</td>
                <td>הִגְלִית</td>
                <td>גָּלִית</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אַגְלֶה</td>
                <td>אֶגְלֶה</td>
                <td>הִגְלִיתִי</td>
                <td>גָּלִיתִי</td>
                <td>1cs</td>
            </tr>
            <tr><td>
            <tr>
                <td>יַגְלוּ</td>
                <td>יִגְלוּ</td>
                <td>הִגְלוּ</td>
                <td>גָּלוּ</td>
                <td>3m/cp</td>
            </tr>
            <tr>
                <td>תִַגְלֶינָה</td>
                <td>תִּגְלֶינָה</td>
                <td></td>
                <td></td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תַּגְלוּ</td>
                <td>תִּגְלוּ</td>
                <td>הִגְלִיתֶם</td>
                <td>גָּלִיתֶם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תִַגְלֶינָה</td>
                <td>תִּגְלֶינָה</td>
                <td>הִגְלִיתֶן</td>
                <td>גָּלִיתֶן</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נַגְלֶה</td>
                <td>נִגְלֶה</td>
                <td>הִגְלִינוּ</td>
                <td>גָּלִינוּ</td>
                <td>1cp</td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <td style="width:23%">III he hiphil participiu</td>
            <td style="width:23%">III he qal participiu</td>
            <td style="width:23%">III he hiphil imperativ</td>
            <td style="width:23%">III he qal  standard</td>
        </tr>
        <tr>
            <td>מַגְלֶה</td>
            <td>גֹּלֶה</td>
            <td>הַגְלֵה</td>
            <td>גְּלֵה</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td>מַגְלָה</td>
            <td>גֹּלה</td>
            <td>הַגְלִי</td>
            <td>גְּלִי</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td>מַגְלִים</td>
            <td>גֹּלִים</td>
            <td>הַגְלוּ</td>
            <td>גְּלוּ</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td>מַגְלוֹת</td>
            <td>גֹּלוֹת</td>
            <td></td>
            <td>גְּלֶינָה</td>
            <td>2fp</td>
        </tr>
    </table>
    </br>
    <table>
        <tr>
            <td style="width:25%">III he hiphil inf abs</td>
            <td style="width:25%">III he qal inf abs</td>
            <td style="width:25%">III he hiphil inf constr</td>
            <td>III he qal inf constr</td>
        </tr>
        <tr>
            <td>הַגְּלֵה</td>
            <td>גָּלֹה</td>
            <td>הַגְּלוֹת</td>
            <td>גְּלוֹת</td>
        </tr>
    </table>
</br>
<table>
    <tr>
        <td style="width:25%">III he hiphil wci</td>
        <td style="width:25%">III he qal wci</td>
        <td style="width:25%">III he hiphil iusiv</td>
        <td>III he qal iusiv</td>
    </tr>
    <tr>
        <td>וַיֶּגֶל</td>
        <td>וַיִּגֶל</td>
        <td>יֶגֶל</td>
        <td>יִגֶל</td>
    </tr>
</table></br>
<h3>Hiphilul lui נכח</h3>
<p>
    &#x1F449; Hiphilul lui <font size="4">נכח</font> este destul de frecvent, el apare de peste 500 de ori, 
    și este de două ori slab, fiind I nun și III he.
</p>
<table>
    <tr>
        <td style="width:23%">participiu</td>
        <td style="width:23%">imperativ</td>
        <td style="width:23%">imperfect</td>
        <td style="width:23%">perfect</td>
    </tr>
    <tr>
        <td>מַכֶּה</td>
        <td>הַכֵּה</td>
        <td>יִכֶּה</td>
        <td>הִכָּה</td>
        <td>3ms</td>
    </tr>
</table></br>
<table>
    <tr>
        <td style="width:23%">wci</td>
        <td style="width:23%">iusiv</td>
        <td style="width:23%">inf abs</td>
        <td style="width:23%">inf constr</td>
    </tr>
    <tr>
        <td>וַיַּךְ</td>
        <td>יַךְ</td>
        <td>הַכֵּה</td>
        <td>הַכּוֹת</td>
        <td>3ms</td>
    </tr>
</table></br>
<h3>Verbe slabe (găunoase)</h3>
<p>
    &#x1F449; Hiphilul verbelor cu rădăcini slabe (sau găunoase) va avea în cele mai multe 
     forme <font size="4"> &#1497;&#8239;&#1460;&#9744;</font> ca vocala tematică.
</p>
<table>
    <tr>
        <td style="width:23%">slabe hiphil imperfect</td>
        <td style="width:23%">slabe qal imperfect</td>
        <td style="width:23%">slabe hiphil perfect</td>
        <td style="width:23%">slabe qal perfect</td>
    </tr>
    <tr>
        <td>יָקִים</td>
        <td>יָקוּם</td>
        <td>הֵקִים</td>
        <td>קָם</td>
        <td>3ms</td>
    </tr>
    <tr>
        <td>תָּקִים</td>
        <td>תָּקוּם</td>
        <td>הֵקִימָה</td>
        <td>קָמָה</td>
        <td>3fs</td>
    </tr>
    <tr>
        <td>תָּקִים</td>
        <td>תָּקוּם</td>
        <td>הֲקִימוֹתָ</td>
        <td>קָמְתָּ</td>
        <td>2ms</td>
    </tr>
    <tr>
        <td>תָּקִימִי</td>
        <td>תָּקוּמִי</td>
        <td>הֲקִימוֹת</td>
        <td>קָמְתְּ</td>
        <td>2fs</td>
    </tr>
    <tr>
        <td>אָקִים</td>
        <td>אָקוּם</td>
        <td>הֲקִימוֹתִי</td>
        <td>קָמְתִּי</td>
        <td>1cs</td>
    </tr>
    <tr><td>
    <tr>
        <td>יָקִימוּ</td>
        <td>יָקוּמוּ</td>
        <td>הֵקִימוּ</td>
        <td>קָמוּ</td>
        <td>3m/cp</td>
    </tr>
    <tr>
        <td>תְּקִימֶנָה</td>
        <td>תְּקוּמֶנָה</td>
        <td></td>
        <td></td>
        <td>3fp</td>
    </tr>
    <tr>
        <td>תְּקִימוּ</td>
        <td>תְּקוּמוּ</td>
        <td>הֲקִימוֹתֶם</td>
        <td>קָמְתֶּם</td>
        <td>2mp</td>
    </tr>
    <tr>
        <td>תְּקִימֶנָה</td>
        <td>תְּקוּמֶנָה</td>
        <td>הֲקִימוֹתֶן</td>
        <td>קָמְתֶּן</td>
        <td>2fp</td>
    </tr>
    <tr>
        <td>נָקִים</td>
        <td>נָקוּם</td>
        <td>הֲקִימוֹנוּ</td>
        <td>קָמְנוּ</td>
        <td>1cp</td>
    </tr>
</table>
</br>
<table>
    <tr>
        <td style="width:23%">slabe hiphil imperfect</td>
        <td style="width:23%">slabe qal imperfect</td>
        <td style="width:23%">slabe hiphil perfect</td>
        <td style="width:23%">slabe qal perfect</td>
    </tr>
    <tr>
        <td>מֵקִים</td>
        <td>קָם</td>
        <td>הָקֵם</td>
        <td>קוּם</td>
        <td>2ms</td>
    </tr>
    <tr>
        <td>מְקִימָה</td>
        <td>קָמָה</td>
        <td>הָקִימִי</td>
        <td>קוּמִי</td>
        <td>2fs</td>
    </tr>
    <tr>
        <td>מְקִימִים</td>
        <td>קָמִים</td>
        <td>הָקִימוּ</td>
        <td>קוּמוּ</td>
        <td>2mp</td>
    </tr>
    <tr>
        <td>מְקִימוֹת</td>
        <td>קָמוֹת</td>
        <td>הָקֵמְנָה</td>
        <td>קֹמְנָה</td>
        <td>2fp</td>
    </tr>
</table></br>
<table>
    <tr>
        <td style="width:23%">slabe hiphil inf abs</td>
        <td style="width:23%">slabe qal inf abs</td>
        <td style="width:23%">slabe hiphil inf constr</td>
        <td style="width:23%">slabe qal inf constr</td>
    </tr>
    <tr>
        <td>הָקֵם</td>
        <td>קוֹם</td>
        <td>הָקִים</td>
        <td>קוּם</td>
    </tr>
</table></br>
<table>
    <tr>
        <td style="width:23%">slabe hiphil wci</td>
        <td style="width:23%">slabe qal wci</td>
        <td style="width:23%">slabe hiphil iusiv</td>
        <td style="width:23%">slabe qal iusiv</td>
    </tr>
    <tr>
        <td>וַיָקֶם</td>
        <td>וַיָקָם</td>
        <td>יָקֵם</td>
        <td>יָקֹם</td>
    </tr>
</table></br>
<h3>Verbe slabe (găunoase) la hiphil cunoscute</h3>
<table>
    <tr>
        <td style="width:23%"></td>
        <td style="width:23%">hiphil</td>
        <td style="width:23%"></td>
        <td style="width:23%">qal</td>
    </tr>
    <tr>
        <td>să aducă</td>
        <td>הָבִי</td>
        <td>vino</td>
        <td>בּוֹא</td>
    </tr>
    <tr>
        <td>să ucidă</td>
        <td>הָמִית</td>
        <td>mori</td>
        <td>מוֹת</td>
    </tr>
    <tr>
        <td>să elimine</td>
        <td>הָסִיר</td>
        <td>dă-te la o parte</td>
        <td>סוּר</td>
    </tr>
    <tr>
        <td>să ridice</td>
        <td>חָקִים</td>
        <td>crești</td>
        <td>קוּם</td>
    </tr>
    <tr>
        <td>a se întoarce</td>
        <td>הָשִׁיב</td>
        <td>întoarce</td>
        <td>שׁוּב</td>
    </tr>
</table></br>














    </br></br></br></br></br></br></br></br></br></br></br>
        <p>
            &#x1F449; Deoarece prima consoană este o guturală, care de obicei nu ia șva simplu, verbele I gutural 
            diferă de paradigma standard prin faptul că au hatef-segol (<font size="4">&#1462;&#9744;</font>) sub 
            prima literă a rădăcinii la modul perfect și hatef patah (<font size="4">&#1458;&#9744;</font>) sub 
            prima literă a rădăcinii în celelalte forme.
        </p>
        <table>
            <tr>
                <td style="width:23%">I gutural imperfect</td>
                <td style="width:23%">imperfect standard</td>
                <td style="width:23%">I gutural perfect</td>
                <td style="width:23%">perfect standard</td>
            </tr>
            <tr>
                <td>יַעֲמִיד</td>
                <td>יַקְטִיל</td>
                <td>הֶעֱמִד</td>
                <td>הִקְטִיל</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תַּעֲמִיד</td>
                <td>תַּקְטִיל</td>
                <td>הֶעֱמִדָה</td>
                <td>הִקְטִילָה</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תַּעֲמִיד</td>
                <td>תַּקְטִיל</td>
                <td>הֶעֱמַדְתָּ</td>
                <td>הִקְטַלְתָּ</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תַּעֲמִידִי</td>
                <td>תַּקְטִילִי</td>
                <td>הֶעֱמַדְתְּ</td>
                <td>הִקְטַלְתְּ</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אַעֲמִיד</td>
                <td>אַקְטִיל</td>
                <td>הֶעֱמַדְתִּי</td>
                <td>הִקְטַלְתִּי</td>
                <td>1cs</td>
            </tr>
            <tr><td>
            <tr>
                <td>יַעֲמִידוּ</td>
                <td>יַקְטִילוּ</td>
                <td>הֶעֱמִידוּ</td>
                <td>הִקְטִילוּ</td>
                <td>3m/cp</td>
            </tr>
            <tr>
                <td>תָּעֲמֵדְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תָּעֲמִידוּ</td>
                <td>תַּקְטִילוּ</td>
                <td>הֶעֱמַדְתֶּם</td>
                <td>הִקְטַלְתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תָּעֲמֵדְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td>הֶעֱמַדְתֶּן</td>
                <td>הִקְטַלְתֶּן</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נַעֲמִיד</td>
                <td>נַקְטִיל</td>
                <td>הֶעֱמַדְנוּ</td>
                <td>הִקְטַלְנוּ</td>
                <td>1cp</td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <td style="width:23%">I gutural participiu</td>
            <td style="width:23%">participiu standard</td>
            <td style="width:23%">I gutural imperativ</td>
            <td style="width:23%">imperativ standard</td>
        </tr>
        <tr>
            <td>מַעֲמִיד</td>
            <td>מַקְטִיל</td>
            <td>הַעֲמֵד</td>
            <td>הַקְטֵל</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td>מַעֲמֶדֶת</td>
            <td>מַקְטֶלֶת</td>
            <td>הַעֲמִידִי</td>
            <td>הַקְטִילִי</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td>מַעֲמִידִים</td>
            <td>מַקְטִילִים</td>
            <td>הַעֲמִידוּ</td>
            <td>הַקְטִילוּ</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td>מַעֲמִידוֹת</td>
            <td>מַקְטִילוֹת</td>
            <td>הַעֲמֵדְנָה</td>
            <td>הַקְטֵלְנָה</td>
            <td>2fp</td>
        </tr>
    </table>
    </br>
    <table>
        <tr>
            <td style="width:25%">I gutural inf abs</td>
            <td style="width:25%">inf abs standard</td>
            <td style="width:25%">I gutural inf constr</td>
            <td>inf constr standard</td>
        </tr>
        <tr>
            <td>הַעֲמֵד</td>
            <td>הַקְטֵל</td>
            <td>הַעֲמִיד</td>
            <td>הַקְטִיל</td>
        </tr>
    </table>
        </br>
    <table>
        <tr>
            <td style="width:25%">I gutural waw rel.</td>
            <td style="width:25%">waw rel. standard</td>
            <td style="width:25%">I gutural iusiv</td>
            <td>iusiv standard</td>
        </tr>
        <tr>
            <td>וַיַעֲמֵד</td>
            <td>וַיַקְטֵל</td>
            <td>יַעֲמֵד</td>
            <td>יַקְטֵל</td>
        </tr>
    </table>
    </br>
    <h3>I nun</h3>
    <p>
        &#x1F449; Primul nun al rădăcinii va fi întotdeauna asimilat celei de-a doua consoane a rădăcinii în aceste forme.
    </p>
    <table>
        <tr>
            <td style="width:23%">participiu</td>
            <td style="width:23%">imperativ</td>
            <td style="width:23%">imperfect</td>
            <td style="width:23%">perfect</td>
        </tr>
        <tr>
            <td>מִצִּיל</td>
            <td></td>
            <td>יַצִּיל</td>
            <td>הִצִּיל</td>
            <td>3ms</td>
        </tr>
        <tr>
            <td>מַצֶּלֶת</td>
            <td></td>
            <td>תַּצִּיל</td>
            <td>הִצִּילָה</td>
            <td>3fs</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצֵּל</td>
            <td>תַּצִּיל</td>
            <td>הִצַּלְתָּ</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצִּילִי</td>
            <td>תַּצִּילִי</td>
            <td>הִצַּלְתְּ</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>אַצִּיל</td>
            <td>הִצַּלְתִּי</td>
            <td>1cs</td>
        </tr>
        <tr><td>
        <tr>
            <td>מַצִּילִים</td>
            <td></td>
            <td>יַצִּילוּ</td>
            <td>הִצִּלוּ</td>
            <td>3c/mp</td>
        </tr>
        <tr>
            <td>מַצִּילוֹת</td>
            <td></td>
            <td>תַּצֵּלְנָה</td>
            <td></td>
            <td>3fp</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצִּילְוּ</td>
            <td>תַּצִּילְוּ</td>
            <td>הִצַּלְתֶּם</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצֵּלְנָה</td>
            <td>תַּצֵּלְנָה</td>
            <td>הִצַּלְתֶּן</td>
            <td>2fp</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>נַצִּיל</td>
            <td>הִצַּלְנוּ</td>
            <td>1cp</td>
        </tr>
    </table>
</br>
<table>
    <tr>
        <td style="width:25%">waw rel.</td>
        <td style="width:25%">iusiv</td>
        <td style="width:25%">inf abs</td>
        <td>inf constr</td>
    </tr>
    <tr>
        <td>וַיַצֵּל</td>
        <td>יַצֵּל</td>
        <td>הַצֵּל</td>
        <td>הַצִּיל</td>
    </tr>
</table>        


        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>