{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header>
          <h1>Adjectivul</h1>
      </header>
      <main>
        <h3> Adjectivele în ebraică </h3>
        <p>Un adjectiv este un cuvânt care descrie un substantiv, de exemplu, băiatul cel bun și fata cea drăguță. 
            Limba ebraică are relativ puține adjective.</p>

        <h4>Formele adjectivului</h4>
            <p>Adjectivele sunt marcate pentru gen și număr, la fel ca substantivele. Următorul tabel trebuie memorat.

              <table>
                <tr>
                  <td></td>
                  <td>plural</td>
                  <td>singular</td>
                </tr>
                <tr>
                  <td>masculin</td>
                  <td>טוֹבִים</td>
                  <td>טוֹב</td>
                </tr>
                <tr>
                  <td>feminin</td>
                  <td>טוֹבוֹת</td>
                  <td>טוֹבָה</td>
                </tr>
              </table></p>

            
              <p>
                Ca și în cazul substantivelor, atunci când adjectivele sunt completate cu terminații de gen și număr,
                 natura silabelor se poate schimba, ceea ce duce la modificarea vocalelor. Aceleași reguli învățate 
                 în Lecția 8 pentru schimbarea vocalelor la substantive se aplică și la adjective. 
                 Câteva exemple.
              </p>
              <p>   
              &#x1F449; Câteodată nu va exista nici o schimbare.</br>
              <font size="4">טוֹב &emsp; טוֹבִים</font></br>
              <i>Holem waw </i>(<font size="4">וֹ</font>)<i> este vocală lungă și deci nu se reduce</i></br>
              &#x1F449; Vocala qameț <font size="4">(&#1464;&#9744;)</font> se va reduce 
              la șva <font size="4">(&#1456;&#9744;)</font> într-o silabă propretonică deschisă.</br>
              <font size="4">גָּדוֹל &emsp; גְּוֹלִים</font></br>
              <font size="4">טָמֵא &emsp; טְמֵאָה</font></br>
              <font size="4">יָשָׁר &emsp; יְשָׁרוֹת</font></br>
              <font size="4">חָכָם &emsp; הֲכָמִים</font></br>
              <i>Het </i>(<font size="4">&#1495;</font>)<i> este o guturală și primește hatef patah</i> 
                 <font size="4">(&#1458;&#9744;)</font> <i>în loc de șva </i><font size="4">(&#1456;&#9744;)</font>.
                 Dacă este nevoie rememorează caracteristicile guturalelor în pagina cu alfabetul.</br>
              </p>
              <h4>Rădăcinile geminate</h4>
                <p>Rădăcinile geminate sunt cele în care a doua și a treia consoană sunt identice, 
                  de exemplu, <font size="4">לבב</font> sau  <font size="4">רבב</font>. Consoanele 
                  duplicate vor fi bedealtate în ebraică în două moduri: geminare sau reduplicare.</br>
                  &#x1F449; În geminație se scrie o singură consoană atunci când nu există o terminație, 
                  de exemplu, <font size="4"> לֵב </font> (<i>inimă</i>); dar atunci când se adaugă 
                  o terminație, se scriu două consoane, indicate printr-un dagesh puternic, de exemplu,
                  <font size="4"> לִבּוֹת </font>(<i>inimi</i>).</br>
                  <i>Vocala se schimbă de la țere </i><font size="4">(&#1461;&#9744;)</font><i> la hireq 
                  </i><font size="4">(&#1460;&#9744;)</font><i>, deoarece o silabă 
                  închisă neaccentuată are de obicei o vocală scurtă.</i></br>
                  &#x1F449; În reduplicare, se scriu ambele consoane și se pune o vocală între ele, 
                  de exemplu, <font size="4">לֵבָב</font>. Schimbarea vocalelor urmează regulile tipice, 
                  de exemplu, <font size="4">לְבָבוֹת</font>.</br>
                  <i>Vocala țere </i><font size="4">(&#1461;&#9744;)</font><i> se reduce la șva 
                  </i><font size="4">(&#1456;&#9744;)</font><i>, într-o silabă deschisă propretonică.</i>                
                </p>  
        <h4>Adjective din rădăcini geminate</h4>
          <p>
            Adjectivele din rădăcini geminate manifestă geminare, nu reduplicare.
            <table>
              <tr>
                <td>רַבּוֹת</td>
                <td>רַבָּה</td>
                <td>רַבִּים</td>
                <td>רַב</td>
              </tr>
              <tr>
                <td>חַיּוֹת</td>
                <td>חַיָּה</td>
                <td>חַיִּים</td>
                <td>חַי</td>
              </tr>
            </table>
          </p>
        <h4>Utilizarea adjectivelor</h4>
        <p>
          Adjectivele au trei utilizări în ebraică: atributivă, predicativă și substantivă.
        </p>
        <p>
          Un adjectiv atributiv descrie un substantiv, de exemplu, băiatul cel bun.</br>
          &#x1F449; Un adjectiv atributiv trebuie să fie în acord cu genul, numărul și articolul 
          și să urmeze substantivul pe care îl descrie.</br>
          <font size="4"> סוּס טוֹב </font> &#10232; cal bun</br>
          <font size="4"> הַסּוּס הַטּוֹב </font> &#10232; calul cel bun</br>
          <font size="4"> סּוּסָה טוֹבָה </font> &#10232; iapă bună</br>
          <font size="4"> הַסּוּסָה הטוֹבָה </font> &#10232; iapa cea bună</br>
          <font size="4"> סוּסִים טוֹבִים </font> &#10232; cai buni</br>
          <font size="4"> הַסּוּסִים הַטוֹבִים </font> &#10232; cai cei buni</br>
          <font size="4"> סוּסוֹת טוֹבוֹת </font> &#10232; iepe bune</br>
          <font size="4"> הַסּוּסוֹת הַטּוֹבוֹת </font> &#10232; iepele cele bune</br>
          <i>Un adjectiv se va potrivi întotdeauna cu adevăratul gen - nu cu genul aparent - al unui substantiv. 
            Substantivul </i><font size="4"> אֶרֶץ </font><i> pare masculin, dar este de fapt feminin, astfel încât 
            "un pământ bun" este </i> <font size="4"> אֶרֶץ טוֹבָה </font><i>. Forma de masculin plural
             a lui </i><font size="4"> אָב </font><i> este </i><font size="4"> אָבוֹת </font><i>, astfel încât 
            "părinți buni" este </i><font size="4"> אָבוֹת טוֹבִים </font>.
        </p>
        <p>
          Adjectivele predicative sunt adjective care sunt folosite pentru a descrie subiectul 
          unei propoziții într-o construcție predicativă, fiind adăugate în general după un verb de legătură, 
          precum "a fi" sau "a deveni". De exemplu, în propoziția "Fata este fericită", adjectivul 
          "fericită" este un adjectiv predicativ care descrie starea subiectului "fata".</br>
          &#x1F449;  Un adjectiv predicativ trebuie să fie în acord în gen și număr cu subiectul, 
          dar nu va avea articolul hotărât și va tinde să vină înaintea substantivului pe care îl descrie.</br>
          <font size="4"> טוֹב הַסוּס </font> &#10232; calul este bun</br>
          <font size="4"> טוֹבָה הַסּוּסָה </font> &#10232; iapa este bună</br>
          <font size="4"> טוֹבִים הַסּוּסִים </font> &#10232; caii sunt buni</br>
          <font size="4"> טוֹבוֹת הַסּוּסוֹת </font> &#10232; iepele sunt bune</br>
        </p>
        <p>
          &#x1F449; Un adjectiv substantival este folosit ca substantiv. Contextul va indica utilizarea substantivului de acest fel.<br>
          <font size="4"> טוֹב  </font> &#10232; om bun</br>
          <font size="4"> טוֹבָה </font> &#10232; femeie bună</br>
          <font size="4"> הַסּוּסִים </font> &#10232; omul bun</br>
          <font size="4"> הַסּוּסוֹת </font> &#10232; femeia bună
        </p>
      <h4>Adjective ca și comparative</h4>
        <p>
          &#x1F449; Ebraica exprimă comparativul prin folosirea unui adjectiv+ substantiv/pronume + 
          <font size="4"> מִן  </font> + substantiv/pronume.</br>
          <font size="4"> חָכָם הַמֶּלֶךְ מִן־הַכֹּהֵן </font> &#10232; regele este mai înțelept decât preotul </br>
          <font size="4"> גְּדוֹלָה אֵם מִבַּת </font> &#10232; o mamă este mai mare decât o fiică.
        </p>
      <h4>Adjectivele și conjuncția Waw</h4>
        <p>
          &#x1F449; Adjectivele pot fi unite prin conjuncția waw pentru a descrie un singur substantiv.
          Se aplică aceleași reguli de acord.
          <font size="4"> נָבִיא גָּדוֹל וְחָכָם </font> &#10232; un profet mare și înțelept</br>
          <font size="4"> הָעַמִּים הַטְּמֵאִים וְהָרְשָׁעִים </font> &#10232; popoarele necurate și vinovate</br>
          <font size="4"> טָהוֹר וְקָדוֹשׁ הַכֹּהֵן </font> &#10232; preotul este curat și sfânt.
        </p>


        <div style="text-align: center;">
            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </div>
            <div class="right-sidebar"></div>
        </div>
        </main>
    </body>
</html>