{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="story-container">
      <header >
          <h1>Qal participiul activ</h1>
      </header>
      <main>
        <p>
            Există două participii în ebraică: <i>activ</i> și <i>pasiv.</i> Aici prezentăm participiul activ. 
        </p>
        <p>Participiile ebraice sunt verbe <i>non-finite</i>, deoarece se acordă în gen și număr, 
            dar nu și pentru persoană.
        </p>
        <h3> Forma participiului activ </h3>
        <table style="width:50%">
            <tr>
                <td></td>
                <td>plural</td>
                <td>singular</td>
            </tr>
            <tr>
                <td>masculin</td>
                <td>קֹטְלִים</td>
                <td>קֹטֵל</td>
            </tr>
            <tr>
                <td>feminin</td>
                <td>קֹטְלוֹת</td>
                <td>קֹטֶלֶת / קֹטְלָה</td>
            </tr>
        </table>
        <p>
            Participiul se declină ca și <a href="{% url 'adjectiv' %}" class="mark">adjectivul</a>. 
            Fs are două forme, dar <font size="4"> קֹטֶלֶת </font> este cea mai frecventă.
        </p>
        <p>
            Prima vocală a unui ptc poate fi fie holem (<font size="4">&#1465;&#9744;</font>), 
            fie holem-waw (<font size="4">&#64331;</font>). Grafia cu holem-vav (<font size="4">&#64331;</font>) 
            este <i>corectă</i>; grafia cu holem (<font size="4">&#1465;&#9744;</font>) este mai frecventă, 
            dar <i>defectuoasă</i>.
        </p>
        <p>
            &#x1F449; <b>Ortografie defectuoasă.</b> Atunci când un cuvânt ar trebui să fie scris cu o vocală 
            lungă, o vocală care are o literă vocală, dar este scris fără litera vocală, cuvântul este scris 
            defectuos, de exemplu, holem (<font size="4">&#1465;&#9744;</font>) pentru holem-waw
             (<font size="4">&#64331;</font>), hireq (<font size="4">&#1460;&#9744;</font>) pentru 
             hireq-yod (<font size="4">&#1497;&#8239;&#1460;&#9744;), sau qibbuț 
                (<font size="4">&#1467;&#9744;</font>) pentru șureq (<font size="4">&#64309;</font>). Qal ptc 
                este un exemplu de ortografie defectuoasă: 
                <ol>
                <li>Holem-waw este o vocală lungă din clasa <i>a</i>, dar holem este o vocală medie din clasa <i>u</i>.</li>
                <li>Din comparația cu alte limbi înrudite, știm că prima vocală din qal ptc este o vocală lungă din 
                    clasa <i>a</i> și, prin urmare, ar trebui să fie ortografiată cu 
                    holem-waw (<font size="4">&#64309;</font>).</li>
                <li> Qal ptc se scrie de obicei cu holem (<font size="4">&#1465;&#9744;</font>) și, prin urmare, 
                    se scrie defectuos. Alte exemple de ortografie defectuoasă sunt <font size="4">לֹא</font>
                     pentru <font size="4">לוֹא</font> și <font size="4">נְבִאִים</font> pentru <font size="4">נְבִיאִים</font>.
                </ol>                        
        </p>
        <p>
            Qal ptc de rădăcini slabe variază de la paradigma standard. Următoarele sunt principalele variații.
            <table>
                <tr>
                    <td></td>
                    <td>III He</td>
                    <td>III Alef</td>
                    <td>III gutural</td>
                </tr>
                <tr>
                    <td>ms</td>
                    <td>גֹּלֶה</td>
                    <td>מֹצֵא</td>
                    <td>שֹׁמֵעַ</td>
                </tr>
                <tr>
                    <td>fs</td>
                    <td>גֹּלָה</td>
                    <td>מֹצֵאת</td>
                    <td>שֹׁמַעַת</td>
                </tr>
                <tr>
                    <td>mp</td>
                    <td>גֹּלִים</td>
                    <td>מֹצְאִים</td>
                    <td>שֹׁמְעִים</td>
                </tr>
                <tr>
                    <td>fp</td>
                    <td>גֹּלוֹת</td>
                    <td>מֹצְאוֹת</td>
                    <td>שֹׁמְעוֹת</td>
                </tr>
            </table>
        </p>
        <h3>Utilizarea participiului activ</h3>
        <p>
            Tipul de acțiune și momentul acțiunii.</br>
            &#x1F449; Ptc exprimă o acțiune continuă.</br>
            (<font size="4">כֹּתֵב</font>) scrie</br>
            (<font size="4">יֹשֵׁב</font>) stă (așezat)</br>
            (<font size="4">חֹלֵךְ</font>) merge (pe jos)</br>
            &#x1F449; Nici un timp nu este indicat de ptc; timpul este determinat de context.</br>
            &#x1F449; Acțiunea <i>pe cale să</i> aibă loc în curând (viitor iminent) poate fi exprimată prin 
            particula <font size="4">הִנֵּה</font> plus ptc.</br>
            (<font size="4">הִנֵּה אֲנִי שֹׁפֵט</font>) Sunt pe cale să judec</br>
            (<font size="4">הִנֵּה אֲנִי הֵֹךְ</font>) Sunt gata să merg</br>
        </p>
        <p>
            <b>Trei utilizări.</b> Ptc are aceleași trei utilizări ca și
             <a href="{% url 'adjectiv' %}" class="mark">adjectivul</a>: <i>atributiv, predicativ</i> și <i>substantival</i></br>
             &#x1F449; Un ptc atributiv trebuie să fie în acord cu genul, numărul și definiția și să urmeze 
             substantivul pe care îl descrie. Astfel de construcții vor fi, de obicei, definite și se traduc 
             cel mai bine cu <i>care</i>.</br>
             (<font size="4">הַאִישׁ הַכֹּתֵב</font>) omul <b><i>care</b></i> scrie</br> 
             (<font size="4"> הַאִישָּׁה הַיֹּשֶׁבֶת</font>) femiea <b><i>care</b></i> stă(așeszată)</br>  
             (<font size="4"> הָאֲנָשִׁים הַהֹלְכִים</font>) bărbații <b><i>care</b></i> merg (pe jos)</br>
             &#x1F449; <i>Această utilizare a ptc cu articolul hotărât este egală cu utilizarea unui 
             pf sau impf cu pronumele relativ </i>(<font size="4">אֲשֶׁר</font>).</br>  
             &#x1F449; Un ptc predicativ trebuie să fie în acord cu genul și numărul, dar nu are articol 
             definit și de obicei urmează substantivul pe care îl descrie. (Nu uitați, totuși, că adjectivul 
             predicativ tinde să vină înaintea substantivului pe care îl descrie).</br>
             (<font size="4">הָאִישׁ כֹּתֵב אֶת־הַסֵּפֶר</font>) omul scrie cartea</br>
             (<font size="4">הָאִישָּׁה יֹּשֶׁבֶת בָּעִיר</font>) femeia stă în oraș</br>
             (<font size="4">הָאֲנָשִׁים הֹלְכִים אֶל־הָעִיר</font>) bărbații se merg spre oraș</br>
             &#x1F449; Un ptc substantival folosit ca substantiv.</br>
             (<font size="4">שֹׁמֵר</font>) un paznic</br>
             (<font size="4">שֹׁפֵט</font>) un judecător</br>
             (<font size="4">הַיֹּשֵׁב</font>) un locuitor</br>
             &#x1F449; Unele participii sunt folosite ca substantive atât de frecvent încât 
             sunt enumerate ca substantive în dicționare. Două astfel de substantive sunt
             <font size="4">אֹיֵב</font> (<i>dușman</i>) și <font size="4">כֹּהֵן</font> (<i>preot</i>).</br>
        </p>
        <p>
            <b>Două stări.</b> Ptc este utilizat atât în starea construct, cât și în starea absolut.</br>
            (<font size="4">שֹׁמֵר־הַבְּרִית</font>) păzitorul legământului</br>
            (<font size="4">שֹׁפֵט־הָרְשָׁעִים</font>) judecătorul celor răi</br>
            (<font size="4">יֹשְׁבֵי הָעִיר</font>) locuitorii orașului</br>
        </p>
        <p>
            <b>Cu sufixe.</b> Ptc poate primi sufixe pronominale.</br>
            &#x1F449; Sufixul este, de obicei, atributul verbului.
            (<font size="4">כָּל־מֹצְאִי</font>) toți cei care mă găsesc</br>
            (<font size="4">יֹדְעָיו</font>) cei care îl cunosc</br>
        </p>

        <div style="text-align: center;">
            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </div>
            <div class="right-sidebar"></div>
        </div>
        </main>
    </body>
</html>