<body>
    <div class="story-container">
      <header >
          <h1>Numeralul</h1>
      </header>
      <main>
        <h3>Numerele</h3>
        <p>
            Numeralul cardinal și ordinal de la unu la zece.</br>
            &#x1F449; Numeralele masculine de la 3 la 10 au terminație feminină și se acordă cu obiectul numărat masculin.</br> 
            &#x1F449; Numeralele feminine de la 3 la 10 par masculine, dar se acordă cu obiectul numărat feminin.
        </p>
        <table>
            <tr>
            <th style="width:30%" rowspan="2"></th>
            <th colspan="2" style="text-align: center">numere cardinale</th>
            </tr>
            <tr>
                <td style="text-align: center">feminin</td>
                <td style="text-align: center">masculin</td>
            </tr>
            <tr>
                <td>1</td>
                <td>אַחַת</td>
                <td>אֶחָד</td>
            </tr>
            <tr>
                <td>2</td>
                <td>שְׁתַּיִם</td>
                <td>שְׁנַיִם</td>
            </tr>
            <tr>
                <td>3</td>
                <td>שְׁלֹשׁ</td>
                <td>שְׁלֹשָׁה</td>
            </tr>
            <tr>
                <td>4</td>
                <td>אַרְבַּע</td>
                <td>אַרְבָּעָה</td>
            </tr>
            <tr>
                <td>5</td>
                <td>הֲמֵשׁ</td>
                <td>הֲמִשָּׁה</td>
            </tr>
            <tr>
                <td>6</td>
                <td>שֵׁשׁ</td>
                <td>שִׁשָּׁה</td>
            </tr>
            <tr>
                <td>7</td>
                <td>שֶׁבַע</td>
                <td>שִׁבְעָה</td>
            </tr>
            <tr>
                <td>8</td>
                <td>שְׁמֹנֶה</td>
                <td>שְׁמֹנָה</td>
            </tr>
            <tr>
                <td>9</td>
                <td>תֵּשַׁע</td>
                <td>תִּשְׁעָה</td>
            </tr>
            <tr>
                <td>10</td>
                <td>עֶשֶׂר</td>
                <td>עֲשָׂרָה</td>
            </tr>
            
        </table>
    </br>
    <table>
        <tr>
        <th style="width:30%" rowspan="2"></th>
        <th colspan="2" style="text-align: center">numere ordinale</th>
        </tr>
        <tr>
            <td style="text-align: center">feminin</td>
            <td style="text-align: center">masculin</td>
        </tr>
        <tr>
            <td>întâi</td>
            <td>רִאשׁוֹנָה</td>
            <td>רִאשׁוֹן</td>
        </tr>
        <tr>
            <td>al II-lea</td>
            <td>שֵׁנִית</td>
            <td>שֵׁנִי</td>
        </tr>
        <tr>
            <td>al III-lea</td>
            <td>שְׁלִישִׁית</td>
            <td>שְׁלִישִׁי</td>
        </tr>
        <tr>
            <td>al IV-lea</td>
            <td>רְבִיעִית</td>
            <td>רְבִיעִי</td>
        </tr>
        <tr>
            <td>al V-lea</td>
            <td>הֲמִישִׁית</td>
            <td>הֲמִישִׁי</td>
        </tr>
        <tr>
            <td>al VI-lea</td>
            <td>שִׁשִּׁית</td>
            <td>שִׁשִּׁי</td>
        </tr>
        <tr>
            <td>al VII-lea</td>
            <td>שְׁבִיעִית</td>
            <td>שְׁבִיעִי</td>
        </tr>
        <tr>
            <td>al VIII-lea</td>
            <td>שְׁמִינִית</td>
            <td>שְׁמִינִי</td>
        </tr>
        <tr>
            <td>al IX-lea</td>
            <td>תְּשִׁיעִית</td>
            <td>תְּשִׁיעִי</td>
        </tr>
        <tr>
            <td>al X-lea</td>
            <td>עֲשִׂירִית</td>
            <td>עֲשִׂירִי</td>
        </tr>        
    </table>
</br>
    <p>
        &#x1F449; Numărul cardinal unu se potrivește în gen și urmează substantivul pe care îl modifică, de exemplu,
        <font size="4">אִישׁ אֶחָד</font>, <i>un bărbat</i>, și <font size="4">אִשָּׁה אַחַת</font> <i>o femeie</i>.</br>
        &#x1F449; Numărul cardinal doi se potrivește în gen, dar poate veni înainte sau după substantivul 
        pe care îl modifică, de exemplu, <font size="4">שְׁנַיִם אֲנָשִׁים</font> <i>doi bărbați</i>, 
        și <font size="4">נָשִׁים שְׁתַּיִם</font>, <i>două femei</i>.</br>
        &#x1F449; Numerele cardinale de la trei la zece pot veni înainte sau după substantivul pe care îl modifică, 
        dar forma care pare feminină este folosită cu un substantiv masculin, iar forma care pare masculină este 
        folosită cu un substantiv feminin, de exemplu, <font size="4">שְׁלֹשָׁה אֲנָשִׁים</font>, <i>trei bărbați</i>,
         și <font size="4">שָׁלֹשׁ נָשִׁים</font>, <i>trei femei</i>.</br>
         &#x1F449; Numerele cardinale de la doi până la zece pot fi, de asemenea, utilizate în starea de construct
          și sunt apoi plasate înaintea substantivului pe care îl modifică, de exemplu, <font size="4">שְׁלֹשֶׁת אֲנָשִׁים</font>,
           <i>trei bărbați</i>, <font size="4">שְׁלֹשׁ נָשִׁים</font>, <i>trei femei</i>.<br>
        &#x1F449; Numerele ordinale sunt folosite la fel ca adjectivele, de exemplu, <font size="4">הַיּוֹם הַשְּׁבִיעִי</font>,
         <i>ziua a șaptea</i>.
    </p>
    <h4>...sprezece</h4>
    <p>
        Numerele de la unsprezece la nouăsprezece sunt alcătuite dintr-o combinație de <i>unu</i> plus o formă
         de <i>zece</i>. Forma lui <i>zece</i> cu substantive masculine este <font size="4">עָשָׂר</font>, 
         rezultând, de exemplu, <font size="4">שְׁלֹשָׁה עָשָׂר</font>, <i>treisprezece</i>. Forma lui <i>zece</i> 
         cu substantive feminine este <font size="4">עֶשְׂרֵה</font>, rezultând, de exemplu,
          <font size="4">שְׁלֹשׁ עֶשְׂרֵה</font>, <i>treisprezece</i>.
    </p>
    <h4>Zecile</h4>
    <p>
        &#x1F449; <i>Zecile</i> (de exemplu, 20, 30, 40 etc.) se formează cu pluralul masculin. 
        <i>Douăzeci</i> se formează cu pluralul lui zece, <font size="4">עֶשְׂרֵה</font>. <i>Treizeci</i> până 
        la <i>nouăzeci</i> sunt pluralul <i>cifrei</i> corespunzătoare, de exemplu,
        <font size="4">שְׁלֹשִׁים</font>, <i>treizeci</i> și <font size="4">אַרְבָּעִים</font>, <i>patruzeci</i>.
    </p>
    <h4>Sutele</h4>
    <p>
        &#x1F449; <i>Sutele</i> se formează prin plasarea unei forme de construcție a <i>cifrei</i> în fața 
        pluralului lui 100 <font size="4">מֵאָה</font>, de exemplu, <font size="4">חֲמֵשֶׁת מֵאוֹת</font>, <i>cinci sute</i> 
        și <font size="4">שֵׁשֶׁת מֵאוֹת</font>, <i>șase sute</i>. Pentru 200, se folosește dualul 
        lui 100 <font size="4">מָאתַיִם</font>
    </p>
    <h4>Miile</h4>
    <p>
        &#x1F449; <i>Miile</i> se formează prin plasarea unei forme de construcție a lui <i>cifrei</i> în 
        fața pluralului lui 1000 <font size="4">אֶלֶף</font>, de exemplu, <font size="4">שִׁבְעַת אֲלָפִים</font>,
         <i>șapte mii</i>, și <font size="4">שְׁמֹנַת אֲלָפִים</font>, <i>opt mii</i>. Pentru 2000 avem dualul
         <font size="4">אַלְפַּיִם</font>. La un milion i se spune <font size="4">אֶלֶף אֲלָפִים</font> o mie de mii.
    </p>
    <h4>Miriadele</h4>
    <p>
        &#x1F449; Cel mai mare număr folosit era zece mii, sau cum spuneau grecii antici, miriadă. 
        <font size="4">רְבָבָה / רִבּוֹ / רִבּוֹא</font> echivalentul a 10&#8239;000. Două miriade, 20&#8239;000, adică dualul
        <font size="4">רִבֹּתַיִם</font>, pentru restul <i>cifrelor</i> <font size="4">רִבְבוֹת / רִבּוֹת / רִבֹּאוֹת</font></br>
        Acestea vin de la adjectivul <font size="4">רַב</font> care înseamnă <i>mult</i>. Acestea sunt numerale foarte
        rare.
    </p>


        <div style="text-align: center;">

        <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </main>
    </div>
    <div class="right-sidebar"></div>
    </body>
</html>