<body>
    <div class="story-container">
      <header >
          <h1>Rădăcini geminate</h1>
      </header>
      <main>
        <h2>Caracteristici ale verbelor geminate</h2>
        <p>
            &#x1F449; Literele doua și a treia din rădăcină apar în trei moduri<br>
            <ul>
                <li>
                    Normal: în interiorul unui cuvânt și marcat de un dagheș puternic, de exemplu, <font size="4">סַבּוֹתָ</font>.
                </li>
                <li>
                    Redus: la sfârșitul unui cuvânt și cu o singură literă, de exemplu, <font size="4">יָסֹב</font>.
                </li>
                <li>
                    Disociat: ambele litere scrise cu o vocală între ele, de exemplu, <font size="4">סָבַב</font>.
                </li>
            </ul>
        </p>
        <h2>Qal</h2>
        <table class=jumate>
            <tr>
                <th style="width:28%">imperativ</th>
                <th style="width:28%">imperfect</th>
                <th style="width:28%">perfect</th>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>יָסֹב</td>
                <td class=cell-dr>סָבַב</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>תָּסֹב</td>
                <td class=cell-dr>סָבֲבָה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>סֹב</td>
                <td class=cell-dr>תָּסֹב</td>
                <td class=cell-dr>סַבּוֹתָ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>סֹבִּי</td>
                <td class=cell-dr>תָּסֹבִּי</td>
                <td class=cell-dr>סַבּוֹת</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>אָסֹב</td>
                <td class=cell-dr>סַבּוֹתִי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>יָסֹבּוּ</td>
                <td class=cell-dr>סָבֲבוּ</td>
                <td class=cell-st><i>3cp/mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>תּסֻבֶּינָה</td>
                <td class=cell-dr></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>סֹבּוּ</td>
                <td class=cell-dr>תָּסֹבּוּ</td>
                <td class=cell-dr>סַבּוֹתֶם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>סֻבֶּינָה</td>
                <td class=cell-dr>תּסֻבֶּינָה</td>
                <td class=cell-dr>סַבּוֹתֶן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>נָסֹב</td>
                <td class=cell-dr>סַבּוֹנוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table></br>
        <table class=jumate>
            <tr>
                <th style="width:28%">inf abs</th>
                <th style="width:28%">inf constr</th>
                <th style="width:28%">participiu</th>
            </tr>
            <tr>
                <td class=cell-dr>סָבוֹב</td>
                <td class=cell-dr>סֹב / סְבֹב</td>
                <td class=cell-dr>סֹבֵב</td>
                <td class=cell-st><i>ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr></td>
                <td class=cell-dr>סֹבְבָה</td>
                <td class=cell-st><i>fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr></td>
                <td class=cell-dr>סֹבְבִים</td>
                <td class=cell-st><i>mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr></td>
                <td class=cell-dr>סֹבְבוֹת</td>
                <td class=cell-st><i>fp</i></td>
            </tr>
        </table>
        <p>
            &#x1F449; În cazul verbelor stative, <i>3ms</i> și <i>3fs</i> ale perfectului nu sunt de obicei disociate,
             de exemplu,<font size="4">תַּם</font> <i>el este perfect</i> și <font size="4">תַּמָּה</font> <i>ea este perfectă</i>.
              Perfectul are vocala tematică stativă și țere sub prefix, de exemplu, <font size="4">יֵתַם</font> <i>el va 
                fi perfect</i> și <font size="4">תֵּתַם</font> <i>ea va fi perfectă</i>.
        </p>
        <h2>Hiphil</h2>
        <table class=jumate>
            <tr>
                <th style="width:28%">imperativ</th>
                <th style="width:28%">imperfect</th>
                <th style="width:28%">perfect</th>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>יָסֵב</td>
                <td class=cell-dr>הֵסֵב</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>תָּסֵב</td>
                <td class=cell-dr>הֵסֵבָּה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הָסֵב</td>
                <td class=cell-dr>תָּסֵב</td>
                <td class=cell-dr>הֲסִבּוֹתָ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הָסֵבִּי</td>
                <td class=cell-dr>תָּסֵבִי</td>
                <td class=cell-dr>הֲסִבּוֹת</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>אָסֵב</td>
                <td class=cell-dr>הֲסִבּוֹתִי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>יָסֵבּוּ</td>
                <td class=cell-dr>הֵסֵבּוּ</td>
                <td class=cell-st><i>3cp/mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>תְּסִבֶּינָה</td>
                <td class=cell-dr></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הָסֵבּוּ</td>
                <td class=cell-dr>תָּסֵבּוּ</td>
                <td class=cell-dr>הֲסִבּוֹתֶם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הֲסִבֶּינָה</td>
                <td class=cell-dr>תְּסִבֶּינָה</td>
                <td class=cell-dr>הֲסִבּוֹתֶן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>נָסֵב</td>
                <td class=cell-dr>הֲסִבּוֹנוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table></br>
        <table class=jumate>
            <tr>
                <th style="width:28%">inf abs</th>
                <th style="width:28%">inf constr</th>
                <th style="width:28%">participiu</th>
            </tr>
            <tr>
                <td class=cell-dr>הָסֵב</td>
                <td class=cell-dr>הָסֵב</td>
                <td class=cell-dr>מֵסֵב</td>
                <td class=cell-st><i>ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr></td>
                <td class=cell-dr>מְסִבִּים</td>
                <td class=cell-st><i>mp</i></td>
        </table></br>
        <h2>Niphal</h2>
        <table class=jumate>
            <tr>
                <th style="width:28%">imperativ</th>
                <th style="width:28%">imperfect</th>
                <th style="width:28%">perfect</th>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>יִסַּב</td>
                <td class=cell-dr>נָסַב</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>תִּסַּב</td>
                <td class=cell-dr>נָסַבָּה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הִסַּב</td>
                <td class=cell-dr>תִּסַּב</td>
                <td class=cell-dr>נָסַבּוֹתָ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הִסַּבִּי</td>
                <td class=cell-dr>תִּסַּבִי</td>
                <td class=cell-dr>נָסַבּוֹת</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>אֶסַּב</td>
                <td class=cell-dr>נָסַבּוֹתִי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>יִסַּבּוּ</td>
                <td class=cell-dr>נָסַבּוּ</td>
                <td class=cell-st><i>3cp/mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>תִסַּבֶּינָה</td>
                <td class=cell-dr></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הִסַּבּוּ</td>
                <td class=cell-dr>תִסַּבּוּ</td>
                <td class=cell-dr>נָסַבּוֹתֶם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>הִסַּבֶּינָה</td>
                <td class=cell-dr>תִסַּבֶּינָה</td>
                <td class=cell-dr>נָסַבּוֹתֶן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr></td>
                <td class=cell-dr>נִסַב</td>
                <td class=cell-dr>נָסַבּוֹנוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table></br>
        <table class=jumate>
            <tr>
                <th style="width:28%">inf abs</th>
                <th style="width:28%">inf constr</th>
                <th style="width:28%">participiu</th>
            </tr>
            <tr>
                <td class=cell-dr>הִסֹּב</td>
                <td class=cell-dr>הִסַּב</td>
                <td class=cell-dr>נָסָב</td>
                <td class=cell-st><i>ms</i></td>
            </tr>
        </table>   


        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>