{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>


<body>
        <div class="sidebar">
                <a href="{% url 'home' %}" class="menu-link"><h2>Lecții</h2></a></br>
                <a href="{% url 'alfabet' %}" class="menu-link">Alfabetul ebraic</a>
                <a href="{% url 'vowels' %}" class="menu-link">Vocalele alfabetului ebraic</a>
                <a href="{% url 'sheva' %}" class="menu-link">Silabe, șva și dagheș</a>
                <a href="{% url 'substantiv' %}" class="menu-link">Formele substantivului</a>    
                <a href="{% url 'pronume' %}" class="menu-link">Pronumele personal și articolul hotărât</a>    
                <a href="{% url 'verb' %}" class="menu-link">Generalități despre forma verbului</a>    
                <a href="{% url 'qal_perfect' %}" class="menu-link">Verbul la Qal Perfect</a>
                <a href="{% url 'propozitii' %}" class="menu-link">Propoziții cu verb</a>   
                <a href="{% url 'substantiv_doi' %}" class="menu-link">Substantivul: schimbarea vocalelor</a>
                <a href="{% url 'prepozitii' %}" class="menu-link">Prepoziții și waw conjunctiv</a>
                <a href="{% url 'adjectiv' %}" class="menu-link">Adjectivul</a>
        </div>
    </body>
</html>