<body>
    <div class="navbar" id="nav">
        <a href="{% url 'home' %}" class="active">Acasă</a>
        <div class="dropdown">
          <button class="btn">Alfabet 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-menu">
            <a href="{% url 'alfabet' %}">Alfabetul</a>
            <a href="{% url 'vowels' %}">Vocalele</a>
            <a href="{% url 'sheva' %}">Silabe, șva și dagheș</a>
        </div>
        </div>
        <div class="dropdown">
            <button class="btn">Substantivul 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
              <a href="{% url 'substantiv' %}">Formele substantivului</a>
              <a href="{% url 'substantiv_doi' %}">Substantivul: schimbarea vocalelor</a>
              <a href="{% url 'construct_sg' %}">Constructul la singular</a>
              <a href="{% url 'construct_pl' %}">Constructul la plural</a>
              <a href="{% url 'sufix_posesiv_subst' %}">Sufixul posesiv la singular</a>
              <a href="{% url 'sufix_posesiv_pl' %}">Sufixul posesiv la plural</a>
            </div>
          </div>  
          <div class="dropdown">
            <button class="btn">Verbul 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
              <a href="{% url 'verb' %}">Generalități despre forma verbului</a>
              <a href="{% url 'propozitii' %}">Propoziții cu verb</a>
              <a href="{% url 'este_si_are' %}">(Nu) este, (nu) are</a>
              <a href="{% url 'relativ_waw' %}">Waw relativ</a>
            </div>
          </div>
          
          <div class="dropdown">
            <button class="btn">Verbul la Qal
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
              <a href="{% url 'qal_perfect' %}">Qal Perfect</a>
              <a href="{% url 'qal_imperfect' %}">Qal Imperfect</a>
              <a href="{% url 'qal_radacini_slabe' %}">Qal perfect și imperfect: radăcini slabe</a>
              <a href="{% url 'qal_infinitiv' %}">Qal la infinitiv</a>
              <a href="{% url 'qal_activ' %}">Qal la participiul activ</a>
              <a href="{% url 'qal_volitiv' %}">Qal volitiv</a>
              <a href="{% url 'qal_verbe_slabe' %}">Qal la verbele slabe</a>
            </div>
          </div>  

          <div class="dropdown">
            <button class="btn">Alte forme de verb
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
              <a href="{% url 'piel_radacini_tari' %}">Piel: rădăcini tari</a>
              <a href="{% url 'piel_radacini_slabe' %}">Piel: rădăcini slabe</a>
              <a href="{% url 'hiphil_radacini_tari' %}">Hiphil: rădăcini tari</a>
              <a href="{% url 'hiphil_gutural_nun' %}">Hiphil: I gutural și I nun</a>

            </div>
          </div>  
          
          <div class="dropdown">
            <button class="btn">Alte părți de vorbire 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-menu">
              <a href="{% url 'pronume' %}">Pronumele personal și articolul hotărât</a>
              <a href="{% url 'prepozitii' %}">Prepoziții și waw conjunctiv</a>
              <a href="{% url 'adjectiv' %}">Adjectivul</a>
              <a href="{% url 'demonstrativ_relativ' %}">Pronumele demonstrativ și relativ</a>
              <a href="{% url 'sufix_pronominal' %}">Sufixul pronominal la prepoziții</a>
              <a href="{% url 'temporal_interogativ' %}">Propoziții temporale și interogative</a>
              <a href="{% url 'surpriza' %}">Surpriza</a>
              <a href="{% url 'numeralul' %}">Numeralul</a>


            </div>
          </div>  
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className === "navbar") {
              x.className += " responsive";
          } else {
              x.className = "navbar";
          }
      }
      </script>
    </body>
</html>