{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="/static/media/favicon.ico">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2858217965013508"
    crossorigin="anonymous"></script>
</head>


<body>
    <div style="text-align: center;"> 
        {% include "home/meniu.html" %}    
    </div>
    <div class="content">
        {% include "hithpael/hithpael_new.html" %} 
        </div>
    </body>
</html>