<body>
    <div class="story-container">
      <header >
          <h1>Hithpael</h1>
      </header>
      <main>
        <h3>Semnificația lui Hithpael</h3>
        <p>
            &#x1F449; Hithpael este al șaptelea dintre cele șapte modele verbale majore. 
            Hithpael reprezintă 1,2% din toate verbele din Biblia ebraică.</br>
            &#x1F449; O utilizare obișnuită a lui hithpael este aceea de a exprima reflexivul 
            - adică acțiunea făcută asupra propriei persoane.</br>
            <table class=jumate>
                <tr>
                    <th style="width:40%">hitpael</th>
                    <th style="width:40%">piel sau qal</th>
                    <th style="width:20%">rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>se laudă singur</td>
                    <td class=cell-st>lăuda</td>
                    <td>חלל</td>
                </tr>
                <tr>
                    <td class=cell-st>îngenunchează</td>
                    <td class=cell-st>cădea</td>
                    <td>נפל</td>
                </tr>
                <tr>
                    <td class=cell-st>se sfintește singur</td>
                    <td class=cell-st>sfințește</td>
                    <td>קדשׁ</td>
                </tr>
            </table></br>
            </br>
            &#x1F449; Unele verbe apar numai (sau în principal) în hithpael, fără un qal sau un piel corespunzător.<br>
            <table class=jumate>
                <tr>
                    <td class=cell-st style="width:40%">se roagă</td>
                    <td></td>
                    <td style="width:20%">פלל</td>
                </tr>
                <tr>
                    <td class=cell-st>profețește</td>
                    <td></td>
                    <td>נבא</td>
                </tr>
            </table></br>
            &#x1F449; <i>Hithpael este prescurtat hith.</i>
        </p>
        <h3>Forma lui Hithpael</h3>
        <p>
            &#x1F449; Hithpael este ușor de recunoscut prin 
            <ul>
                <li> prefixe lungi, de exemplu, <font size="4">יִתְ ,הִתְ</font> 
                    și <font size="4">מִתְ</font></li>
                <li> asemănarea sa cu piel - dublarea literei de mijloc și modele vocale similare.</li>
            </ul>
            <table>
                <tr>
                    <th style="width:28%">imperativ</th>
                    <th style="width:28%">imperfect</th>
                    <th style="width:28%">perfect</th>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>יִתְקַטֵּל</td>
                    <td class=cell-dr>הִתְקַטֵּל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>תִּתְקַטֵּל</td>
                    <td class=cell-dr>הִתְקַטְּלָה</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִתְקַטֵּל</td>
                    <td class=cell-dr>תִּתְקַטֵּל</td>
                    <td class=cell-dr>הִתְקַטַּלְתָּ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִתְקַטְּלִי</td>
                    <td class=cell-dr>תִּתְקַטֵּלִי</td>
                    <td class=cell-dr>הִתְקַטַּלְתְּ</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>אֶתְקַטֵּל</td>
                    <td class=cell-dr>הִתְקַטַּלְתִּי</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>יִתְקַטְּלוּ</td>
                    <td class=cell-dr>הִתְקַטְּלוּ</td>
                    <td class=cell-st><i>3cp/mp</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>תִּתְקַטֵּלְנָה</td>
                    <td></td>
                    <td class=cell-st><i>3fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִתְקַטְּלוּ</td>
                    <td class=cell-dr>תִּתְקַטְּלוּ</td>
                    <td class=cell-dr>הִתְקַטַּלְתֶּם</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִתְקַטֵּלְנָה</td>
                    <td class=cell-dr>תִּתְקַטֵּלְנָה</td>
                    <td class=cell-dr>הִתְקַטַּלְתֶּן</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>נִתְקַטֵּל</td>
                    <td class=cell-dr>הִתְקַטַּלְנוּ</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table></br>
            <table>
                <tr>
                    <th style="width:28%">inf abs</th>
                    <th style="width:28%">inf constr</th>
                    <th style="width:28%">participiu</th>
                </tr>
                <tr>
                    <td class=cell-dr>הִתְקַטֵּל</td>
                    <td class=cell-dr>הִתְקַטֵּל</td>
                    <td class=cell-dr>מִתְקַטֵּל</td>
                    <td class=cell-st><i>ms</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class=cell-dr>מִתְקַטֶּלֶת</td>
                    <td class=cell-st><i>fs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class=cell-dr>מִתְקַטְּלִים</td>
                    <td class=cell-st><i>mp</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class=cell-dr>מִתְקַטְּלוֹת</td>
                    <td class=cell-st><i>fp</i></td>
                </tr>
            <table>
        </p>
        <h3>Verbul הִשְׁתּחֲוָה</h3>
        <p>
            &#x1F449; Verbul <font size="4">הִשְׁתּחֲוָה</font> (169x) înseamnă <i>a se prosterna</i> sau <i>a se închina</i>.
            Dicționarele mai vechi tratează verbul <font size="4">הִשְׁתּחֲוָה</font> ca pe un hithpael al
             lui <font size="4">שׁחה</font>. Dicționarele mai recente tratează <font size="4">הִשְׁתּחֲוָה</font> ca 
             un hishtafel al lui <font size="4">חוה</font>. A două variantă am adoptat-o și noi.<br>
            &#x1F449; <i>Hishtafel este prescurtat hish.</i><br></br>
            &#x1F449; Câteva dintre formele frecvente sunt:</br>
            <table>
                <tr>
                    <th style="width:28%">imperativ</th>
                    <th style="width:28%">imperfect</th>
                    <th style="width:28%">perfect</th>
                </tr>
                <tr>
                    <td></td>
                    <td class=cell-dr>תִּשְׁתַּחֲוֶה</td>
                    <td class=cell-dr>הִשְׁתַּחֲוִיתָ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class=cell-dr>הִשְׁתַּחֲווּ</td>
                    <td class=cell-st><i>3cp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִשְׁתַּחֲווּ</td>
                    <td></td>
                    <td></td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
            </table></br>
                <table>
                    <tr>
                        <th style="width:28%">wci</th>
                        <th style="width:28%">inf constr</th>
                        <th style="width:28%">participiu</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td class=cell-dr>הִשְׁתַּחֲוֹת</td>
                        <td class=cell-dr>מִשְׁתַּחֲוִים</td>
                        <td class=cell-st><i>mp</i></td>
                    </tr>
                    <tr>
                        <td class=cell-dr>וַיִֹשְׁתַּחוּ</td>
                        <td></td>
                        <td></td>
                        <td class=cell-st><i>3ms</i></td>
                    </tr>
                    <tr>
                        <td class=cell-dr>וַיִֹשְׁתַּחֲווּ</td>
                        <td></td>
                        <td></td>
                        <td class=cell-st><i>3mp</i></td>
                    </tr>
                <table>    

        </p>

        
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>