<body>
    <div class="story-container">
      <header >
          <h1>Hithpael</h1>
      </header>
      <main>
        <h3>Semnificația lui Hithpael</h3>
        <p>
            &#x1F449; Hithpael este al șaptelea dintre cele șapte modele verbale majore. 
            Hithpael reprezintă 1,2% din toate verbele din Biblia ebraică.</br>
            &#x1F449; O utilizare obișnuită a lui hithpael este aceea de a exprima reflexivul 
            - adică acțiunea făcută asupra propriei persoane.</br>
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:40%">hitpael</th>
                    <th style="width:40%">piel sau qal</th>
                    <th style="width:20%">rădăcină</th>
                </tr>
                <tr>
                    <td>se laudă singur</td>
                    <td>lăuda</td>
                    <td>חלל</td>
                </tr>
                <tr>
                    <td>îngenunchează</td>
                    <td>cădea</td>
                    <td>נפל</td>
                </tr>
                <tr>
                    <td>se sfintește singur</td>
                    <td>sfințește</td>
                    <td>קדשׁ</td>
                </tr>
            </table></br>
            </br>
            &#x1F449; Unele verbe apar numai (sau în principal) în hithpael, fără un qal sau un piel corespunzător.<br>
            <table style="width:75%" align="center">
                <tr>
                    <td style="width:40%">se roagă</td>
                    <td></td>
                    <td style="width:20%">פלל</td>
                </tr>
                <tr>
                    <td>profețește</td>
                    <td></td>
                    <td>נבא</td>
                </tr>
            </table></br>
            &#x1F449; <i>Hithpael este prescurtat hith.</i>
        </p>
        <h3>Forma lui Hithpael</h3>
        <p>
            &#x1F449; Hithpael este ușor de recunoscut prin 
            <ul>
                <li> prefixe lungi, de exemplu, <font size="4">יִתְ ,הִתְ</font> 
                    și <font size="4">מִתְ</font></li>
                <li> asemănarea sa cu piel - dublarea literei de mijloc și modele vocale similare.</li>
            </ul>
            <table style="width:75%" align="center">
                <tr>
                    <td style="width:28%">imperativ</td>
                    <td style="width:28%">imperfect</td>
                    <td style="width:28%">perfect</td>
                </tr>
                <tr>
                    <td></td>
                    <td>יִתְקַטֵּל</td>
                    <td>הִתְקַטֵּל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td></td>
                    <td>תִּתְקַטֵּל</td>
                    <td>הִתְקַטְּלָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>הִתְקַטֵּל</td>
                    <td>תִּתְקַטֵּל</td>
                    <td>הִתְקַטַּלְתָּ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>הִתְקַטְּלִי</td>
                    <td>תִּתְקַטֵּלִי</td>
                    <td>הִתְקַטַּלְתְּ</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td></td>
                    <td>אֶתְקַטֵּל</td>
                    <td>הִתְקַטַּלְתִּי</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>יִתְקַטְּלוּ</td>
                    <td>הִתְקַטְּלוּ</td>
                    <td>3cp/mp</td>
                </tr>
                <tr>
                    <td></td>
                    <td>תִּתְקַטֵּלְנָה</td>
                    <td></td>
                    <td>3fp</td>
                </tr>
                <tr>
                    <td>הִתְקַטְּלוּ</td>
                    <td>תִּתְקַטְּלוּ</td>
                    <td>הִתְקַטַּלְתֶּם</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>הִתְקַטֵּלְנָה</td>
                    <td>תִּתְקַטֵּלְנָה</td>
                    <td>הִתְקַטַּלְתֶּן</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td></td>
                    <td>נִתְקַטֵּל</td>
                    <td>הִתְקַטַּלְנוּ</td>
                    <td>1cp</td>
                </tr>
            </table></br>
            <table style="width:75%" align="center">
                <tr>
                    <td style="width:28%">inf abs</td>
                    <td style="width:28%">inf constr</td>
                    <td style="width:28%">participiu</td>
                </tr>
                <tr>
                    <td>הִתְקַטֵּל</td>
                    <td>הִתְקַטֵּל</td>
                    <td>מִתְקַטֵּל</td>
                    <td>ms</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>מִתְקַטֶּלֶת</td>
                    <td>fs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>מִתְקַטְּלִים</td>
                    <td>mp</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>מִתְקַטְּלוֹת</td>
                    <td>fp</td>
                </tr>
            <table>
        </p>
        <h3>Verbul הִשְׁתּחֲוָה</h3>
        <p>
            &#x1F449; Verbul <font size="4">הִשְׁתּחֲוָה</font> (169x) înseamnă <i>a se prosterna</i> sau <i>a se închina</i>.
            Dicționarele mai vechi tratează verbul <font size="4">הִשְׁתּחֲוָה</font> ca pe un hithpael al
             lui <font size="4">שׁחה</font>. Dicționarele mai recente tratează <font size="4">הִשְׁתּחֲוָה</font> ca 
             un hishtafel al lui <font size="4">חוה</font>. A două variantă am adoptat-o și noi.<br>
            &#x1F449; <i>Hishtafel este prescurtat hish.</i><br></br>
            &#x1F449; Câteva dintre formele frecvente sunt:</br>
            <table style="width:75%" align="center">
                <tr>
                    <td style="width:28%">imperativ</td>
                    <td style="width:28%">imperfect</td>
                    <td style="width:28%">perfect</td>
                </tr>
                <tr>
                    <td></td>
                    <td>תִּשְׁתַּחֲוֶה</td>
                    <td>הִשְׁתַּחֲוִיתָ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>הִשְׁתַּחֲווּ</td>
                    <td>3cp</td>
                </tr>
                <tr>
                    <td>הִשְׁתַּחֲווּ</td>
                    <td></td>
                    <td></td>
                    <td>2mp</td>
                </tr>
            </table></br>
                <table style="width:75%" align="center">
                    <tr>
                        <td style="width:28%">wci</td>
                        <td style="width:28%">inf constr</td>
                        <td style="width:28%">participiu</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>הִשְׁתַּחֲוֹת</td>
                        <td>מִשְׁתַּחֲוִים</td>
                        <td>mp</td>
                    </tr>
                    <tr>
                        <td>וַיִֹשְׁתַּחוּ</td>
                        <td></td>
                        <td></td>
                        <td>3ms</td>
                    </tr>
                    <tr>
                        <td>וַיִֹשְׁתַּחֲווּ</td>
                        <td></td>
                        <td></td>
                        <td>3mp</td>
                    </tr>
                <table>    

        </p>

        
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>