{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header >
          <h1>Sufixul posesiv la substantive plural</h1>
      </header>
      <main>
        <p>
            Exprimă posesia prin adăugarea de sufixe posesive la <a href="{% url 'sufix_posesiv_subst' %}" class="mark">un 
                substantiv la singular</a>, <i>calul meu</i>. Iată cum se exprimă în ebraică 
                prin adăugarea de sufixe aferente pluralulului la substantivele singulare, <i>caii mei</i> etc. 
        </p>
        <h3>Forma sufixelor</h3>
        <table>
            <tr>
                <td></td>
                <td></td>
                <th>plural</th>
                <th>singurlar</th>
            </tr>
            <tr>
                <td>caii lui</td>
                <td><i>3ms</i></td>
                <td>סוּסָיו</td>
                <td>סוּסוֹ</td>
            </tr>
            <tr>
                <td>caii ei</td>
                <td><i>3fs</i></td>
                <td>סוּסֶיהָ</td>
                <td>סוּסָהּ</td>
            </tr>
            <tr>
                <td>caii tăi</td>
                <td><i>2ms</i></td>
                <td>סוּסֶיךָ</td>
                <td>סוּסְךָ</td>
            </tr>
            <tr>
                <td>caii tăi</td>
                <td><i>2fs</i></td>
                <td>סוּסַיִךְ</td>
                <td>סוּסֵךְ</td>
            </tr>
            <tr>
                <td>caii mei</td>
                <td><i>1cp</i></td>
                <td>סוּסַי</td>
                <td>סוּסִי</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>caii lor</td>
                <td><i>3mp</i></td>
                <td>סוּסֵיהֶם</td>
                <td>סוּסָם</td>
            </tr>
            <tr>
                <td>caii lor</td>
                <td><i>3fp</i></td>
                <td>סוּסֵיהֶן</td>
                <td>סוּסָן</td>
            </tr>
            <tr>
                <td>caii voștri</td>
                <td><i>2mp</i></td>
                <td>סוּסֵיכֶם</td>
                <td>סוּסְכֶם</td>
            </tr>
            <tr>
                <td>caii voștri</td>
                <td><i>2fp</i></td>
                <td>סוּסֵיכֶן</td>
                <td>סוּסְכֶן</td>
            </tr>
            <tr>
                <td>caii noștri</td>
                <td><i>1cp</i></td>
                <td>סוּסֵינוּ</td>
                <td>סוּסֵנוּ</td>
            </tr>
        </table>
        </br>
        <p>
        Cea mai semnificativă diferență între sufixele de pe substantivele la singular și sufixele de
         pe substantivele la plural este prezența consecventă a lui yod (<font size="4">&#1497;</font>), 
         care este de fapt yod-ul construcției mp.</br>
        Yod (<font size="4">&#1497;</font>) este mut în sufixul 3ms, astfel încât sufixul se pronunță <i>av</i>.
        </p>
        <h4>Forma substantivelor feminine plurale înaintea sufixelor</h4>
        <p>
            Același set de sufixe se adaugă la forma feminin plural a substantivului.
        </p>
    <table>
        <tr>
            <td>iepele lui</td>
            <td>3ms</td>
            <td>סוּסוֹתָיו</td>
            <td>=</td>
            <td>&#1497;&#1493;&#8239;&#1464;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele ei</td>
            <td>3fs</td>
            <td>סוּסוֹתֶיחָ</td>
            <td>=</td>
            <td>&#1497;&#1492;&#1464;&#8239;&#1462;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele tale</td>
            <td>2ms</td>
            <td>סוּסוֹתֶיךָ</td>
            <td>=</td>
            <td>&#1497;&#1498;&#1464;&#8239;&#1462;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele tale</td>
            <td>2fs</td>
            <td>סוּסוֹתַיךְ</td>
            <td>=</td>
            <td>&#1497;&#1460;&#1498;&#1456;&#8239;&#1463;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele mele</td>
            <td>1cp</td>
            <td>סוּסוֹתַי</td>
            <td>=</td>
            <td>&#1497;&#8239;&#1463;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>iepele lor</td>
            <td>3mp</td>
            <td>סוּסוֹתֵיהֶם</td>
            <td>=</td>
            <td>&#1497;&#1492;&#1462;&#1501;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele lor</td>
            <td>3fp</td>
            <td>סוּסוֹתֵיהֶן</td>
            <td>=</td>
            <td>&#1497;&#1492;&#1462;&#1503;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele voastre</td>
            <td>2mp</td>
            <td>סוּסוֹתֵיכֶם</td>
            <td>=</td>
            <td>&#1497;&#1499;&#1462;&#1501;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele voastre</td>
            <td>2fp</td>
            <td>סוּסוֹתֵיכֶן</td>
            <td>=</td>
            <td>&#1497;&#1499;&#1462;&#1503;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
        <tr>
            <td>iepele noastre</td>
            <td>1cp</td>
            <td>סוּסוֹתֵינוּ</td>
            <td>=</td>
            <td>&#1504;&#1493;&#1468;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td>סוּסוֹת</td>
        </tr>
    </table>
</br>

<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>