<body>
    <div class="story-container">
      <header >
          <h1>Sufixul posesiv la substantive plural</h1>
      </header>
      <main>
        <p>
            Exprimă posesia prin adăugarea de sufixe posesive la <a href="{% url 'sufix_posesiv_subst' %}" class="mark">un 
                substantiv la singular</a>, <i>calul meu</i>. Iată cum se exprimă în ebraică 
                prin adăugarea de sufixe aferente pluralulului la substantivele singulare, <i>caii mei</i> etc. 
        </p>
        <h3>Forma sufixelor</h3>
        <table>
            <tr>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
                <th style="width:25%">plural</th>
                <th style="width:25%">singurlar</th>
            </tr>
            <tr>
                <td class=cell-st>caii lui</td>
                <td class=cell-st><i>3ms</i></td>
                <td class=cell-dr>סוּסָיו</td>
                <td class=cell-dr>סוּסוֹ</td>
            </tr>
            <tr>
                <td class=cell-st>caii ei</td>
                <td class=cell-st><i>3fs</i></td>
                <td class=cell-dr>סוּסֶיהָ</td>
                <td class=cell-dr>סוּסָהּ</td>
            </tr>
            <tr>
                <td class=cell-st>caii tăi</td>
                <td class=cell-st><i>2ms</i></td>
                <td class=cell-dr>סוּסֶיךָ</td>
                <td class=cell-dr>סוּסְךָ</td>
            </tr>
            <tr>
                <td class=cell-st>caii tăi</td>
                <td class=cell-st><i>2fs</i></td>
                <td class=cell-dr>סוּסַיִךְ</td>
                <td class=cell-dr>סוּסֵךְ</td>
            </tr>
            <tr>
                <td class=cell-st>caii mei</td>
                <td class=cell-st><i>1cp</i></td>
                <td class=cell-dr>סוּסַי</td>
                <td class=cell-dr>סוּסִי</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class=cell-st>caii lor</td>
                <td class=cell-st><i>3mp</i></td>
                <td class=cell-dr>סוּסֵיהֶם</td>
                <td class=cell-dr>סוּסָם</td>
            </tr>
            <tr>
                <td class=cell-st>caii lor</td>
                <td class=cell-st><i>3fp</i></td>
                <td class=cell-dr>סוּסֵיהֶן</td>
                <td class=cell-dr>סוּסָן</td>
            </tr>
            <tr>
                <td class=cell-st>caii voștri</td>
                <td class=cell-st><i>2mp</i></td>
                <td class=cell-dr>סוּסֵיכֶם</td>
                <td class=cell-dr>סוּסְכֶם</td>
            </tr>
            <tr>
                <td class=cell-st>caii voștri</td>
                <td class=cell-st><i>2fp</i></td>
                <td class=cell-dr>סוּסֵיכֶן</td>
                <td class=cell-dr>סוּסְכֶן</td>
            </tr>
            <tr>
                <td class=cell-st>caii noștri</td>
                <td class=cell-st><i>1cp</i></td>
                <td class=cell-dr>סוּסֵינוּ</td>
                <td class=cell-dr>סוּסֵנוּ</td>
            </tr>
        </table>
        </br>
        <p>
        Cea mai semnificativă diferență între sufixele de pe substantivele la singular și sufixele de
         pe substantivele la plural este prezența consecventă a lui yod (<font size="4">&#1497;</font>), 
         care este de fapt yod-ul construcției mp.</br>
        Yod (<font size="4">&#1497;</font>) este mut în sufixul 3ms, astfel încât sufixul se pronunță <i>av</i>.
        </p>
        <h4>Forma substantivelor feminine plurale înaintea sufixelor</h4>
        <p>
            Același set de sufixe se adaugă la forma feminin plural a substantivului.
        </p>
    <table>
        <tr>
            <td class=cell-st style="width:25%">iepele lui</td>
            <td class=cell-st style="width:12%"><i>3ms</i></td>
            <td class=cell-dr style="width:18%">סוּסוֹתָיו</td>
            <td>=</td>
            <td class=cell-dr style="width:12%">&#1497;&#1493;&#8239;&#1464;&#9744;</td>
            <td>+</td>
            <td class=cell-dr style="width:18%">סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele ei</td>
            <td class=cell-st><i>3fs</i></td>
            <td class=cell-dr>סוּסוֹתֶיחָ</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1492;&#1464;&#8239;&#1462;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele tale</td>
            <td class=cell-st><i>2ms<i></td>
            <td class=cell-dr>סוּסוֹתֶיךָ</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1498;&#1464;&#8239;&#1462;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele tale</td>
            <td class=cell-st><i>2fs</i></td>
            <td class=cell-dr>סוּסוֹתַיךְ</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1460;&#1498;&#1456;&#8239;&#1463;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele mele</td>
            <td class=cell-st><i>1cp<i></td>
            <td class=cell-dr>סוּסוֹתַי</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#8239;&#1463;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class=cell-st>iepele lor</td>
            <td class=cell-st><i>3mp<i></td>
            <td class=cell-dr>סוּסוֹתֵיהֶם</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1492;&#1462;&#1501;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele lor</td>
            <td class=cell-st><i>3fp</i></td>
            <td class=cell-dr>סוּסוֹתֵיהֶן</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1492;&#1462;&#1503;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele voastre</td>
            <td class=cell-st><i>2mp</i></td>
            <td class=cell-dr>סוּסוֹתֵיכֶם</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1499;&#1462;&#1501;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele voastre</td>
            <td class=cell-st><i>2fp</i></td>
            <td class=cell-dr>סוּסוֹתֵיכֶן</td>
            <td>=</td>
            <td class=cell-dr>&#1497;&#1499;&#1462;&#1503;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
        <tr>
            <td class=cell-st>iepele noastre</td>
            <td class=cell-st><i>1cp</i></td>
            <td class=cell-dr>סוּסוֹתֵינוּ</td>
            <td>=</td>
            <td class=cell-dr>&#1504;&#1493;&#1468;&#8239;&#1461;&#9744;</td>
            <td>+</td>
            <td class=cell-dr>סוּסוֹת</td>
        </tr>
    </table>
</br>

<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>