<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: I gutural și I nun</h1>
      </header>
      <main>
        <h3>I gutural</h3>
        <p>
            &#x1F449; Deoarece prima consoană este o guturală, care de obicei nu ia șva simplu, verbele I gutural 
            diferă de paradigma standard prin faptul că au hatef-segol (<font size="4">&#1462;&#9744;</font>) sub 
            prima literă a rădăcinii la modul perfect și hatef patah (<font size="4">&#1458;&#9744;</font>) sub 
            prima literă a rădăcinii în celelalte forme.
        </p>
        <table>
            <tr>
                <th style="width:23%">I gutural imperfect</th>
                <th style="width:23%">imperfect standard</th>
                <th style="width:23%">I gutural perfect</th>
                <th style="width:23%">perfect standard</th>
            </tr>
            <tr>
                <td class=cell-dr>יַעֲמִיד</td>
                <td class=cell-dr>יַקְטִיל</td>
                <td class=cell-dr>הֶעֱמִד</td>
                <td class=cell-dr>הִקְטִיל</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּעֲמִיד</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הֶעֱמִדָה</td>
                <td class=cell-dr>הִקְטִילָה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּעֲמִיד</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הֶעֱמַדְתָּ</td>
                <td class=cell-dr>הִקְטַלְתָּ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תַּעֲמִידִי</td>
                <td class=cell-dr>תַּקְטִילִי</td>
                <td class=cell-dr>הֶעֱמַדְתְּ</td>
                <td class=cell-dr>הִקְטַלְתְּ</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>אַעֲמִיד</td>
                <td class=cell-dr>אַקְטִיל</td>
                <td class=cell-dr>הֶעֱמַדְתִּי</td>
                <td class=cell-dr>הִקְטַלְתִּי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr><td>
            <tr>
                <td class=cell-dr>יַעֲמִידוּ</td>
                <td class=cell-dr>יַקְטִילוּ</td>
                <td class=cell-dr>הֶעֱמִידוּ</td>
                <td class=cell-dr>הִקְטִילוּ</td>
                <td class=cell-st><i>3m/cp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תָּעֲמֵדְנָה</td>
                <td class=cell-dr>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תָּעֲמִידוּ</td>
                <td class=cell-dr>תַּקְטִילוּ</td>
                <td class=cell-dr>הֶעֱמַדְתֶּם</td>
                <td class=cell-dr>הִקְטַלְתֶּם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תָּעֲמֵדְנָה</td>
                <td class=cell-dr>תַּקְטֵלְנָה</td>
                <td class=cell-dr>הֶעֱמַדְתֶּן</td>
                <td class=cell-dr>הִקְטַלְתֶּן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נַעֲמִיד</td>
                <td class=cell-dr>נַקְטִיל</td>
                <td class=cell-dr>הֶעֱמַדְנוּ</td>
                <td class=cell-dr>הִקְטַלְנוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <th style="width:23%">I gutural participiu</th>
            <th style="width:23%">participiu standard</th>
            <th style="width:23%">I gutural imperativ</th>
            <th style="width:23%">imperativ standard</th>
        </tr>
        <tr>
            <td class=cell-dr>מַעֲמִיד</td>
            <td class=cell-dr>מַקְטִיל</td>
            <td class=cell-dr>הַעֲמֵד</td>
            <td class=cell-dr>הַקְטֵל</td>
            <td class=cell-st><i>2ms</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַעֲמֶדֶת</td>
            <td class=cell-dr>מַקְטֶלֶת</td>
            <td class=cell-dr>הַעֲמִידִי</td>
            <td class=cell-dr>הַקְטִילִי</td>
            <td class=cell-st><i>2fs</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַעֲמִידִים</td>
            <td class=cell-dr>מַקְטִילִים</td>
            <td class=cell-dr>הַעֲמִידוּ</td>
            <td class=cell-dr>הַקְטִילוּ</td>
            <td class=cell-st><i>2mp</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַעֲמִידוֹת</td>
            <td class=cell-dr>מַקְטִילוֹת</td>
            <td class=cell-dr>הַעֲמֵדְנָה</td>
            <td class=cell-dr>הַקְטֵלְנָה</td>
            <td class=cell-st><i>2fp</i></td>
        </tr>
    </table>
    </br>
    <table>
        <tr>
            <th style="width:25%">I gutural inf abs</th>
            <th style="width:25%">inf abs standard</th>
            <th style="width:25%">I gutural inf constr</th>
            <th>inf constr standard</th>
        </tr>
        <tr>
            <td>הַעֲמֵד</td>
            <td>הַקְטֵל</td>
            <td>הַעֲמִיד</td>
            <td>הַקְטִיל</td>
        </tr>
    </table>
        </br>
    <table>
        <tr>
            <th style="width:25%">I gutural waw rel.</th>
            <th style="width:25%">waw rel. standard</th>
            <th style="width:25%">I gutural iusiv</th>
            <th>iusiv standard</th>
        </tr>
        <tr>
            <td>וַיַעֲמֵד</td>
            <td>וַיַקְטֵל</td>
            <td>יַעֲמֵד</td>
            <td>יַקְטֵל</td>
        </tr>
    </table>
    </br>
    <h3>I nun</h3>
    <p>
        &#x1F449; Primul nun al rădăcinii va fi întotdeauna asimilat celei de-a doua consoane a rădăcinii în aceste forme.
    </p>
    <table>
        <tr>
            <th style="width:23%">participiu</th>
            <th style="width:23%">imperativ</th>
            <th style="width:23%">imperfect</th>
            <th style="width:23%">perfect</th>
        </tr>
        <tr>
            <td class=cell-dr>מִצִּיל</td>
            <td></td>
            <td class=cell-dr>יַצִּיל</td>
            <td class=cell-dr>הִצִּיל</td>
            <td class=cell-st><i>3ms</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַצֶּלֶת</td>
            <td></td>
            <td class=cell-dr>תַּצִּיל</td>
            <td class=cell-dr>הִצִּילָה</td>
            <td class=cell-st><i>3fs</i></td>
        </tr>
        <tr>
            <td></td>
            <td class=cell-dr>הַצֵּל</td>
            <td class=cell-dr>תַּצִּיל</td>
            <td class=cell-dr>הִצַּלְתָּ</td>
            <td class=cell-st><i>2ms</i></td>
        </tr>
        <tr>
            <td></td>
            <td class=cell-dr>הַצִּילִי</td>
            <td class=cell-dr>תַּצִּילִי</td>
            <td class=cell-dr>הִצַּלְתְּ</td>
            <td class=cell-st><i>2fs</i></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class=cell-dr>אַצִּיל</td>
            <td class=cell-dr>הִצַּלְתִּי</td>
            <td class=cell-st><i>1cs</i></td>
        </tr>
        <tr><td>
        <tr>
            <td class=cell-dr>מַצִּילִים</td>
            <td></td>
            <td class=cell-dr>יַצִּילוּ</td>
            <td class=cell-dr>הִצִּלוּ</td>
            <td class=cell-st><i>3c/mp</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מַצִּילוֹת</td>
            <td></td>
            <td class=cell-dr>תַּצֵּלְנָה</td>
            <td></td>
            <td class=cell-st><i>3fp</i></td>
        </tr>
        <tr>
            <td></td>
            <td class=cell-dr>הַצִּילְוּ</td>
            <td class=cell-dr>תַּצִּילְוּ</td>
            <td class=cell-dr>הִצַּלְתֶּם</td>
            <td class=cell-st><i>2mp</i></td>
        </tr>
        <tr>
            <td></td>
            <td class=cell-dr>הַצֵּלְנָה</td>
            <td class=cell-dr>תַּצֵּלְנָה</td>
            <td class=cell-dr>הִצַּלְתֶּן</td>
            <td class=cell-st><i>2fp</i></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class=cell-dr>נַצִּיל</td>
            <td class=cell-dr>הִצַּלְנוּ</td>
            <td class=cell-st><i>1cp</i></td>
        </tr>
    </table>
</br>
<table>
    <tr>
        <th style="width:25%">waw rel.</th>
        <th style="width:25%">iusiv</th>
        <th style="width:25%">inf abs</th>
        <th>inf constr</th>
    </tr>
    <tr>
        <td>וַיַצֵּל</td>
        <td>יַצֵּל</td>
        <td>הַצֵּל</td>
        <td>הַצִּיל</td>
    </tr>
</table>        


        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>