<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: I gutural și I nun</h1>
      </header>
      <main>
        <h3>I gutural</h3>
        <p>
            &#x1F449; Deoarece prima consoană este o guturală, care de obicei nu ia șva simplu, verbele I gutural 
            diferă de paradigma standard prin faptul că au hatef-segol (<font size="4">&#1462;&#9744;</font>) sub 
            prima literă a rădăcinii la modul perfect și hatef patah (<font size="4">&#1458;&#9744;</font>) sub 
            prima literă a rădăcinii în celelalte forme.
        </p>
        <table>
            <tr>
                <td style="width:23%">I gutural imperfect</td>
                <td style="width:23%">imperfect standard</td>
                <td style="width:23%">I gutural perfect</td>
                <td style="width:23%">perfect standard</td>
            </tr>
            <tr>
                <td>יַעֲמִיד</td>
                <td>יַקְטִיל</td>
                <td>הֶעֱמִד</td>
                <td>הִקְטִיל</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תַּעֲמִיד</td>
                <td>תַּקְטִיל</td>
                <td>הֶעֱמִדָה</td>
                <td>הִקְטִילָה</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תַּעֲמִיד</td>
                <td>תַּקְטִיל</td>
                <td>הֶעֱמַדְתָּ</td>
                <td>הִקְטַלְתָּ</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תַּעֲמִידִי</td>
                <td>תַּקְטִילִי</td>
                <td>הֶעֱמַדְתְּ</td>
                <td>הִקְטַלְתְּ</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אַעֲמִיד</td>
                <td>אַקְטִיל</td>
                <td>הֶעֱמַדְתִּי</td>
                <td>הִקְטַלְתִּי</td>
                <td>1cs</td>
            </tr>
            <tr><td>
            <tr>
                <td>יַעֲמִידוּ</td>
                <td>יַקְטִילוּ</td>
                <td>הֶעֱמִידוּ</td>
                <td>הִקְטִילוּ</td>
                <td>3m/cp</td>
            </tr>
            <tr>
                <td>תָּעֲמֵדְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תָּעֲמִידוּ</td>
                <td>תַּקְטִילוּ</td>
                <td>הֶעֱמַדְתֶּם</td>
                <td>הִקְטַלְתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תָּעֲמֵדְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td>הֶעֱמַדְתֶּן</td>
                <td>הִקְטַלְתֶּן</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נַעֲמִיד</td>
                <td>נַקְטִיל</td>
                <td>הֶעֱמַדְנוּ</td>
                <td>הִקְטַלְנוּ</td>
                <td>1cp</td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <td style="width:23%">I gutural participiu</td>
            <td style="width:23%">participiu standard</td>
            <td style="width:23%">I gutural imperativ</td>
            <td style="width:23%">imperativ standard</td>
        </tr>
        <tr>
            <td>מַעֲמִיד</td>
            <td>מַקְטִיל</td>
            <td>הַעֲמֵד</td>
            <td>הַקְטֵל</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td>מַעֲמֶדֶת</td>
            <td>מַקְטֶלֶת</td>
            <td>הַעֲמִידִי</td>
            <td>הַקְטִילִי</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td>מַעֲמִידִים</td>
            <td>מַקְטִילִים</td>
            <td>הַעֲמִידוּ</td>
            <td>הַקְטִילוּ</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td>מַעֲמִידוֹת</td>
            <td>מַקְטִילוֹת</td>
            <td>הַעֲמֵדְנָה</td>
            <td>הַקְטֵלְנָה</td>
            <td>2fp</td>
        </tr>
    </table>
    </br>
    <table>
        <tr>
            <td style="width:25%">I gutural inf abs</td>
            <td style="width:25%">inf abs standard</td>
            <td style="width:25%">I gutural inf constr</td>
            <td>inf constr standard</td>
        </tr>
        <tr>
            <td>הַעֲמֵד</td>
            <td>הַקְטֵל</td>
            <td>הַעֲמִיד</td>
            <td>הַקְטִיל</td>
        </tr>
    </table>
        </br>
    <table>
        <tr>
            <td style="width:25%">I gutural waw rel.</td>
            <td style="width:25%">waw rel. standard</td>
            <td style="width:25%">I gutural iusiv</td>
            <td>iusiv standard</td>
        </tr>
        <tr>
            <td>וַיַעֲמֵד</td>
            <td>וַיַקְטֵל</td>
            <td>יַעֲמֵד</td>
            <td>יַקְטֵל</td>
        </tr>
    </table>
    </br>
    <h3>I nun</h3>
    <p>
        &#x1F449; Primul nun al rădăcinii va fi întotdeauna asimilat celei de-a doua consoane a rădăcinii în aceste forme.
    </p>
    <table>
        <tr>
            <td style="width:23%">participiu</td>
            <td style="width:23%">imperativ</td>
            <td style="width:23%">imperfect</td>
            <td style="width:23%">perfect</td>
        </tr>
        <tr>
            <td>מִצִּיל</td>
            <td></td>
            <td>יַצִּיל</td>
            <td>הִצִּיל</td>
            <td>3ms</td>
        </tr>
        <tr>
            <td>מַצֶּלֶת</td>
            <td></td>
            <td>תַּצִּיל</td>
            <td>הִצִּילָה</td>
            <td>3fs</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצֵּל</td>
            <td>תַּצִּיל</td>
            <td>הִצַּלְתָּ</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצִּילִי</td>
            <td>תַּצִּילִי</td>
            <td>הִצַּלְתְּ</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>אַצִּיל</td>
            <td>הִצַּלְתִּי</td>
            <td>1cs</td>
        </tr>
        <tr><td>
        <tr>
            <td>מַצִּילִים</td>
            <td></td>
            <td>יַצִּילוּ</td>
            <td>הִצִּלוּ</td>
            <td>3c/mp</td>
        </tr>
        <tr>
            <td>מַצִּילוֹת</td>
            <td></td>
            <td>תַּצֵּלְנָה</td>
            <td></td>
            <td>3fp</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצִּילְוּ</td>
            <td>תַּצִּילְוּ</td>
            <td>הִצַּלְתֶּם</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td></td>
            <td>הַצֵּלְנָה</td>
            <td>תַּצֵּלְנָה</td>
            <td>הִצַּלְתֶּן</td>
            <td>2fp</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>נַצִּיל</td>
            <td>הִצַּלְנוּ</td>
            <td>1cp</td>
        </tr>
    </table>
</br>
<table>
    <tr>
        <td style="width:25%">waw rel.</td>
        <td style="width:25%">iusiv</td>
        <td style="width:25%">inf abs</td>
        <td>inf constr</td>
    </tr>
    <tr>
        <td>וַיַצֵּל</td>
        <td>יַצֵּל</td>
        <td>הַצֵּל</td>
        <td>הַצִּיל</td>
    </tr>
</table>        


        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>