{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ebraica biblică</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <div class="container">
    <div class="left-sidebar"></div>
    <div class="story-container">
    <header >
        <h1>Alfabetul limbii ebraice biblice</h1>
    </header>
    <main>


<table>
  <tr>
    <th>Litera</th>
    <th>Nume</th>
    <th>Pronunție</th>
  </tr>
  <tr>
    <td><font size="5">א</font></td>
    <td>alef</td>
    <td>mut</td>
  </tr>
  <tr>
    <td><font size="5">בּ</font></td>
    <td>bet</td>
    <td>b ca în <span class="colored-letter"><strong>b</strong></span>ăiat</td>
  </tr>
  <tr>
    <td><font size="5">ב</font></td>
    <td></td>
    <td>v ca în <span class="colored-letter"><strong>v</strong></span>oi</td>
  </tr>
  <tr>
    <td><font size="5">ג</font></td>
    <td>ghimel</td>
    <td>g ca în <span class="colored-letter"><strong>g</strong></span>ol</td>
  </tr>
  <tr>
    <td><font size="5">ד</font></td>
    <td>dalet</td>
    <td>d ca în <span class="colored-letter"><strong>d</strong></span>ar</td>
  </tr>
  <tr>
    <td><font size="5">ה</font></td>
    <td>He</td>
    <td>h ca în <span class="colored-letter"><strong>h</strong></span>ei</td>
  </tr>
  <tr>
    <td><font size="5">ו</font></td>
    <td>waw</td>
    <td>w ca în <span class="colored-letter"><strong>w</strong></span>estern</td>
  </tr>
  <tr>
    <td><font size="5">ז</font></td>
    <td>zayn</td>
    <td>z ca în <span class="colored-letter"><strong>z</strong></span>ero</td>
  </tr>
  <tr>
    <td><font size="5">ח</font></td>
    <td>het</td>
    <td>h gutural ca în Ba<span class="colored-letter"><strong>ch</strong></span></td>
  </tr>
  <tr>
    <td><font size="5">ט</font></td>
    <td>tet</td>
    <td>t se pronunță aspru</td>
  </tr>
  <tr>
    <td><font size="5">י</font></td>
    <td>yod</td>
    <td>i ca în <span class="colored-letter"><strong>i</strong></span>arnă</td>
  </tr>
  <tr>
    <td><font size="5">כּ</font></td>
    <td>kaf</td>
    <td>k ca în <span class="colored-letter"><strong>k</strong></span>ilometru</td>
  </tr>
  <tr>
    <td><font size="5"> ך , כ </font></td>
    <td></td>
    <td>h gutural ca în Ba<span class="colored-letter"><strong>ch</strong></span></td>
  </tr>
  <tr>
    <td><font size="5">ל</font></td>
    <td>lamed</td>
    <td>l ca în <span class="colored-letter"><strong>l</strong></span>ac</td>
  </tr>
  <tr>
    <td><font size="5">ם , מ</font></td>
    <td>mem</td>
    <td>m ca în <span class="colored-letter"><strong>m</strong></span>ac</td>
  </tr>
  <tr>
    <td><font size="5">ן , נ</font></td>
    <td>nun</td>
    <td>n ca în <span class="colored-letter"><strong>n</strong></span>oapte</td>
  </tr>
  <tr>
    <td><font size="5">ס</font></td>
    <td>samek</td>
    <td>s ca în <span class="colored-letter"><strong>s</strong></span>oare</td>
  </tr>
  <tr>
    <td><font size="5">ע</font></td>
    <td>ʿ ayn</td>
    <td>mut</td>
  </tr>
  <tr>
    <td><font size="5">פּ</font></td>
    <td>pe</td>
    <td>p ca în <span class="colored-letter"><strong>p</strong></span>arte</td>
  </tr>
  <tr>
    <td><font size="5">ף , פ</font></td>
    <td></td>
    <td>f ca în <span class="colored-letter"><strong>f</strong></span>loare</td>
  </tr>
  <tr>
    <td><font size="5">ץ , צ</font></td>
    <td>țade</td>
    <td>ț ca în <span class="colored-letter"><strong>ț</strong></span>ară</td>
  </tr>
  <tr>
    <td><font size="5">ק</font></td>
    <td>qof</td>
    <td>c ca în <span class="colored-letter"><strong>c</strong></span>oasă</td>
  </tr>
  <tr>
    <td><font size="5">ר</font></td>
    <td>reș</td>
    <td>r gutural</td>
  </tr>
  <tr>
    <td><font size="5">שׂ</font></td>
    <td>sin</td>
    <td>s spre ș</td>
  </tr>
  <tr>
    <td><font size="5">שׁ</font></td>
    <td>șin</td>
    <td>ș ca în <span class="colored-letter"><strong>ș</strong></span>arpe</td>
  </tr>
  <tr>
    <td><font size="5">תּ</font></td>
    <td>tau</td>
    <td>t ca în <span class="colored-letter"><strong>t</strong></span>ot</td>
  </tr>
  <tr>
    <td><font size="5">ת</font></td>
    <td></td>
    <td>t aspirat ca în <span class="colored-letter"><strong>th</strong></span>anks</td>

</table>

    <h3> Consoanele guturale </h3>
    <p> <b> ע , ח , ה , א </b> și uneori <b>ר</b> sunt consoane guturale. Ele preferă vocalele de tip a.
        Primesc vocale reduse de tip hatef. Nu primesc niciodată șva vocal, excepție face reș <b>ר</b> care primește uneori.
        Consoanele guturale și reș <b>ר</b> nu primesc dagheș.</p>

        <br>
        <div style="text-align: center;">
        
            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
            </main>
          </div>
            <div class="right-sidebar"></div>
          </div>
        </body>
        </html>
