<body>

    <div class="story-container">
      <header >
          <h1>Qal la infinitiv</h1>
      </header>
      <main>
        <h3> Infinitivul </h3>
        <p>
            Ebraica are două infinitive: Infinitivele sunt conjugări <i>infinite</i>, în sensul că nu 
            fac acordul pentru persoană, gen sau număr, așa cum sunt, de exemplu,
             perfectul și imperfectul, care sunt <a href="{% url 'qal_perfect' %}" class="mark">conjugări </a>finite.
        </p>
        <p>
            Construcția infinitivului este mai apropiată 
            de <i>El a vrut <b>să alerge</b></i>.
        </p>
        <h3>Forma de construct a infinitivului</h3>
            <p>
                Forma standard a qal inf const este <font size="4"> קְטֹל </font>. Această
                 formă este înrudită cu imperfectul. Îndepărtați prefixul, iar infinitivul constuct este ceea ce rămâne.
            </p>
            <table class=jumate>
                <tr>
                    <th>inf constr</th>
                    <th>imperfect</th>
                </tr>
                <tr>
                    <td>קְטֹל</td>
                    <td>יִקְטֹל</td>
                </tr>
            </table>
            </br>
            <p>
                Dacă impf are un patach (<font size="4">&#1463;&#9744;</font>) ca
                 în (<font size="4">יִכְבַּד</font>), atunci inf const are un patach în <font size="4">כְּבַּד</font>.
            </p>
            <p>Unui inf const i se poate adăuga un sufix pronominal.</br>
                &#x1F449; Sufixele adăugate sunt identice cu cele adăugate la substantivele la singular.</br>
                &#x1F449; Atunci când se adaugă un sufix, vocalele se schimbă, deoarece accentul se pune 
                pe silaba adăugată <font size="4">קָטְלְךָ ,קָטְלָהּ ,קָטְלוֹ</font> etc.
            </p>
            <p>
                Rădăcinile slabe au forme alterate ale inf const.</br>
                <table>
                    <tr>
                        <td style="width:25%">cu sufix</td>
                        <td style="width:25%">inf constr</td>
                        <td style="width:25%">rădăcină</td>
                        <td>slăbiciune</td>
                    </tr>
                    <tr>
                        <td>עָמְדוֹ</td>
                        <td>עֲמֹד</td>
                        <td>עמד</td>
                        <td>I gutural</td>
                    </tr>
                </table>
                &#x1F449; Hatef-patah <font size="4">&#1458;&#9744;</font> în loc 
                de șva <font size="4">&#1456;&#9744;</font>.</br>
            </br>
                <table>
                    <tr>
                        <td style="width:25%">שָׁמְעוֹ</td>
                        <td style="width:25%">שְׁמֹעַ</td>
                        <td style="width:25%">שׁמע</td>
                        <td>III gutural</td>
                    </tr>
                </table>
                &#x1F449; Patah furtiv sub guturalul final.</br>
            </br>
            <table>
                <tr>
                    <td style="width:25%">שִׁבְתּוֹ</td>
                    <td style="width:25%">שֶׁבֶת</td>
                    <td style="width:25%">ישׁב</td>
                    <td style="width:25%">I yod (waw)</td>
                </tr>
            </table>
                &#x1F449; Ca și în impf, yod (<font size="4">&#1497;</font>) se pierde; pentru a compensa, 
                se adaugă un tav (<font size="4">&#1514;</font>) feminin, ceea ce creează aspectul a trei 
                litere rădăcină.</br>
            </br>
                <table>
                    <tr>
                        <td style="width:25%">נָפְלוֹ</td>
                        <td style="width:25%">נְפֹל</td>
                        <td style="width:25%">נפל</td>
                        <td>I nun</td>
                    </tr>
                </table>
                &#x1F449; De obicei, inf const al verbelor I Nun este regulat.</br>
            </br>
            <table>
                <tr>
                    <td style="width:25%">גַּשְׁתּוֹ</td>
                    <td style="width:25%">גֶּשֶׁת</td>
                    <td style="width:25%">נגשׁ</td>
                    <td>I nun</td>
                </tr>
            </table>
            &#x1F449; La unele verbe I Nun, inf const urmează paradigma verbelor I Yod (Vav).</br>
                    </br>
                <table>
                    <tr>
                        <td style="width:25%">גְּלוֹתוֹ</td>
                        <td style="width:25%">גְּלוֹת</td>
                        <td style="width:25%">גלה</td>
                        <td>III hei</td>
                    </tr>
                </table>
                &#x1F449; Inf const al verbelor III Hey se caracterizează prin
                 terminația t (<font size="4">וֹת</font>).</br>

                 &#x1F449;  Inf const a lui <font size="4">יָצָא</font> este <font size="4">צֵאת</font>, cu un alef 
                 mut (<font size="4">&#1488;</font>) cu sufix, <font size="4">צֵאתוֹ</font>. Deoarece <font size="4">הָלַךְ</font> urmează 
                 paradigma I Yod (waw) în impf, inf const a lui <font size="4">הָלַךְ</font> este <font size="4">לֶכֶת</font> cu 
                 sufix, <font size="4">לֶכְתּוֹ</font>. Inf const a lui <font size="4">נָתַן</font> urmează paradigma
                  I Yod (waw), dar nun (<font size="4">&#1503;</font>) final al rădăcinii este asimilat cu 
                  tav (<font size="4">&#1514;</font>) adăugat, rezultând <font size="4">תֵּת</font> cu sufix <font size="4">תִּתּוֹ</font>. 
                  Inf const de <font size="4">לָקַח</font> urmează paradigma verbelor I Nun care pierd 
                  nun (<font size="4">&#1504;</font>), rezultând <font size="4">קַחַת</font> cu sufix, <font size="4">קַחְתּוֹ</font>.

            </p>
            <h4>Folosirea infinitv construct</h4>
            <p>
                Cu prepoziția (<font size="4">לְ</font>)</br>
                &#x1F449; <b>Complement verbal.</b> Inf const este adesea folosit pentru a <i>completa</i> specificul unui 
                verb cu sens general.</br>
                <font size="4">יָכֹל לִשְׁפֹּט</font> El este capabil să judece</br>
                <font size="4">אָבָה לִשְׁפֹּט</font> El vrea să judece</br>
                <font size="4">יָרַד לְשָׁפְטְךָ </font> Îi este frică să te judece</br>
                &#x1F449;<b> Scop.</b> Inf const este utilizat pentru a exprima scopul.</br>
                <font size="4">יָשַׁב לִקְרֹא</font> S-a așezat să citească</br>
                <font size="4">עָלָה לִזְבֹּחַ</font> S-a urcat să sacrifice</br>
                <font size="4">יָרַד לְמָצְאָהּ</font> A coborât să o caute</br>
                &#x1F449; Inf const este negat de <font size="4">בִּלְתִּי</font>. <font size="4">לְ</font> este
                de obicei plasat în fața lui <font size="4">בִּלְתִּי</font>.</br>
                <font size="4">לְבִלְתִּי מְלֹךְ עַל־הָעִיר</font> ca să nu domnească peste cetate</br>
                <font size="4">לְבִלְתִּי שְׁמֹעַ אֶת־הַדְּבָרִים</font> pentru a nu auzi cuvintele</br>
                <font size="4">לְבִלְתִּי רְאוֹתוֹ</font> ca să nu-l vadă
            </p>
            <p>
                Cu prepozițiile <font size="4">בְּ</font> și <font size="4">כְּ</font></br>
                <i>În aceste cazuri, sufixul este subiectul inf const.</i></br>
                &#x1F449; <b>Temporal.</b> Inf const este utilizat cu prepozițiile <font size="4">בְּ</font> 
                și <font size="4">כְּ</font> în clauzele temporale. Timpul necesar pentru traducerea 
                este determinat de context.</br>
                <font size="4">בִּמְלֹךְ הַמֶּלֶךְ</font> când regele a domnit ...</br>
                <font size="4">כִּכְתֹב הַאִשָּׁה</font> când femeia a scris...</br>
                <font size="4">בְּשָׁמְרֵנוּ</font> când am păzit...
            </p>
            <p>
                Cu timpul cuvinte ca <font size="4">יוֹם</font></br>
                &#x1F449; <b>Temporal.</b> Inf const se folosește cu cuvinte temporale în propoziții temporale.</br>
                <font size="4">בְּיוֹם מְלֹךְ הַמֶּלֶךְ</font> (în ziua) când regele a domnit...</br>
                <font size="4">בְּיוֹם כְּתֹב הָאִשָּׁה</font> (în ziua) când femeia a scris... </br>
                <font size="4">בְּיוֹם שָׁמְרֵנוּ</font> (în ziua) în care am păzit.
            </p>
            <h4>Infinitivul la absolut </h4>
            <h3>Forma infinitivului la absolut</h3>
            <p>
                Forma standard a qal inf abs <font size="4">קָטוֹל</font>. Observați diferențele dintre inf abs 
                și inf const: inf abs are 
                <ol>
                    <li> un qameț (&#1464;&#9744;) sub prima literă rădăcină </li>
                    <li> un holem-waw (<font size="4">&#64331;</font>) ca a doua vocală.</li>
                </ol>
                <table  style="width:50%" align='center'>
                    <tr>
                        <th>inf abs</th>
                        <th>inf constr</th>
                    </tr>
                    <tr>
                        <td>קָטוֹל</td>
                        <td>קְטֹל</td>
                    </tr>
                </table></br>
                <i>În ciuda numelor și vocalizărilor respective, inf const nu este forma de construcție 
                    a lui inf abs; cele două forme nu au legătură din punct de vedere istoric.</i>                
            </p>
            <p>
                III Verbele He (și verbele goale) diferă de paradigma standard în qal inf abs.</br>
                <table  style="width:50%" align='center'>
                    <tr>
                        <th>III He</th>
                        <th>Rădăcină tare</th>
                    </tr>
                    <tr>
                        <td>גָּלֹה / רָאוֹ</td>
                        <td>קָטוֹל</td>
                    </tr>
                </table>
            </p>
            <h4>Utilizarea infinitivului absolut</h4>
            <p>
                Inf abs are numeroase utilizări. Una dintre cele mai frecvente este accentuarea, sublinierea.</br>
                &#x1F449; <b>Accentuare.</b> Un inf abs este plasat înaintea unei alte forme de verb din 
                aceeași rădăcină pentru a sublinia tipul de acțiune avută în vedere.</br>
                <font size="4">שָׁמוֹר תִּשְׁמֹר</font> Veți păzi cu siguranță...</br>
                <font size="4">נָתוֹן יִתְּנוּ</font> Ei vor da cu siguranță...</br>
                <font size="4">יָשׁוֹב נֵשֵׁב</font> Vom locui cu siguranță...
            </p>

        <div style="text-align: center;">
            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </div>
            <div class="right-sidebar"></div>
        </div>
        </main>
    </body>
</html>