<body>
    <div class="story-container">
      <header >
          <h1>Propoziții temporale și interogative</h1>
      </header>
      <main>
        <h3>Clauze temporale</h3>
        <p>
            Ebraica are diferite moduri de exprimare a clauzelor temporale, clauze introduse cu înainte, 
            când, după, etc. Aici sunt prezentate trei moduri obișnuite.
        </p>
        <p>
            <b>Prepoziția + infinitiv construct</b></br>
            &#x1F449; Infinitivul construct precedat de <font size="4">בְּ</font> sau <font size="4">כְּ</font>
             și utilizată ca propoziție temporală este prezentată
              la <a href="{% url 'qal_infinitiv' %}" class="mark">qal infinitiv</a>. Alte prepoziții sunt, 
              de asemenea, utilizate pentru a forma clauze temporale.</br>
              <font size="4">בְּשָׁלְחוֹ אֶת־הַנָּבִיא</font> când a trimis pe profetul</br>
              <font size="4">כַּאֲשֶׁר שָׁלְחוֹ אֶת־הַנָּבִיא</font> atunci când a trimis pe profetul</br>
              <font size="4">אַחֲרֵי שָׁלְחוֹ אֶת־הַנָּבִיא</font> după ce l-a trimis pe profetul</br>
              <font size="4">עַד שָׁלְחוֹ אֶת־הַנָּבִיא</font> până când a trimis pe profetul</br>
        </br>
              &#x1F449; Momentul acestor clauze este indicat de context. Doi indicatori frecvenți la începutul 
              clauzelor sunt: 
            <ol>
            <li><font size="4">וַיְהִי</font> (waw consecutiv imperfect lui <font size="4">הָיָה</font>) pentru timpul trecut</li> 
            <li><font size="4">וְהָיָה</font> (waw consecutiv perfect lui <font size="4">הָיָה</font>) pentru timpul viitor</li>
            </ol>
            <font size="4">וַיְהִי כְּשָׁלְחוֹ אֶת־הַנָּבִיא</font> când a trimis pe profetul</br>
            <font size="4">וַיְהִי אַחֲרֵי שָׁלְחוֹ  אֶת־הַנָּבִיא</font> după ce l-a trimis pe profetul</br>
            <font size="4">וְהָיָה כְּשָׁלחוֹ אֶת־הַנָּבִיא</font> când îl va trimite pe profetul</br>
            <i>&#x1F449; וַיְהִי și וְהָיָה nu trebuie să fie traduse, deoarece ele au doar rolul de a indica timpul.</i></br>
        </br>
            &#x1F449; Propoziția principală este de obicei introdusă de un waw consecutiv imperfect pentru timpul trecut 
            sau de un waw consecutiv perfect pentru timpul viitor.<br>
            <font size="4">וַיְהִי כְּשָׁלחוֹ אֶת־הַנָּבִיא וַיֵּלֶךְ הַנָּבִיא אֶל־הָעִיר</font> 
            când a trimis pe prooroc, proorocul s-a dus în cetate</br>
            <font size="4">וַיְהִי אַחֲרֵי שָׁלְחוֹ אֶת־הַנָּבִיא וַיִּשְׁלַח אֶת־הַכֹּהֵן</font> 
            după ce a trimis pe profet, a trimis și pe preot</br>   
            <font size="4">וְהָיָה כְּשָׁלְחוֹ אֶת־הַנָּבִיא וְהָלַךְ הַנָּבִיא אֶת־הָעִיר</font> 
            când va trimite pe prooroc, proorocul va merge în cetate</br>
        </p>
        <p>
        <b>Prepoziție sau particulă + Perfect sau imperfect</b><br>
            <font size="4">וַיְהִי כִּי  שְׁלַח אֶת־הַנָּבִיא וַיֵּלֶךְ הַנָּבִיא אֶת־הָעִיר</font> 
            când a trimis pe prooroc, proorocul s-a dus în cetate</br>
            <font size="4">וַיְהִי אַחֲרֵי שְׁלַח אֶת־הַנָּבִיא וַיִּשׁשְׁלַח אֶת־הָכֹּהֵן</font>
            după ce a trimis pe profet, a trimis și pe preot<br>
            <font size="4">וְהָיָה כִּי יִשְׁלַח אֶת־הַנָּבִיא וְהָלַךְ הַנָּבִיא אֶת־הָעִיר</font>
            când va trimite pe prooroc, proorocul va merge în cetate.
         </p>
         <p>
            <b>Cuvinte de timp</b><br>
            <font size="4">וַיְהִי בַּיּוֹם הַהוּא וַיִּשְׁלַח אֶת־הָכֹּהֵן</font> în ziua aceea, a trimis pe profetul<br>
            <font size="4">וְהָיָה בַּיּוֹם הַהוּא וַיִּשְׁלַח אֶת־הָכֹּהֵן</font> în ziua aceea, El va trimite pe profetul<br>
            <font size="4">וַיְהִי בַּבֹּקֶר וַיֵּלֶךְ אֶל־הָעִיר</font> dimineața, s-a dus în oraș<br>
            <font size="4">וְהָיָה בַּבֹּקֶר וַיֵּלֶךְ אֶל־הָעִיר</font> dimineața, el va merge în oraș
         </p>
        <h3>Clauze interogative</h3>
        <p>
            &#x1F449; Ebraica are două moduri de a pune întrebări.<br>
        </p>
        <p>
            <b>Pronume interogative</b><br>
            &#x1F449; Întrebările sunt adesea introduse cu un pronume interogativ.<br>
            <font size="4">מִי הָלַך אֶל־הָעִיר</font> cine s-a dus în oraș?</br>
            <font size="4">מִי יֵלֵךְ אֶל־הָעִיר</font> cine va merge în oraș?</br>
            <font size="4">מָה אָמַר אֵלֶיךָ</font> ce ți-a spus?</br>
            <font size="4">מָה יֹאמַר אֵלֶיךָ</font> ce-ți va spune el ție
        </p>
        <p>
            <b>Particula interogativă <font size="4">הֲ</font></b><br>
            &#x1F449; Particula interogativă <font size="4">הֲ</font> nu este un cuvânt independent, 
            ci este prefixat la un alt cuvânt.</br>
            &#x1F449; Particula interogativă <font size="4">הֲ</font> se deosebește de articolul hotărât prin 
            faptul că articolul hotărât nu are niciodată ca vocal hatef-patah (<font size="4">&#1458;&#9744;</font>), 
            iar particula interogativă nu are ca element strong dagesh.<br>
            <font size="4">הָלַךְ אֶל־הָעִיר</font> s-a dus în oraș <br>
            <font size="4">הֲהָלַךְ אֶל־הָעִיר</font> s-a dus în oraș? <br>
            <font size="4">יֵלֵךְ אֶל־הָעִיר</font> se va duce în oraș<br>
            <font size="4">הֲיֵלֵךְ אֶל־הָעִיר</font> se va duce în oraș?
        </p>


        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>