<body>
    <div class="story-container">
      <header >
          <h1>Surpriza</h1>
      </header>
      <main>
        <p>
            Particula <font size="4">הִנֵּה</font>, tradusă în mod tradițional prin <i>iată</i>, introduce adesea ceva
             <i>neașteptat</i> sau o <i>surpriză</i>.
            </br>
            &#x1F449; <font size="4">הִנֵּה</font> apare adesea în relatările de vise.</br>
            <font size="4">וְהִנֵּה מַלְאֲכֵ֣י אֱלֹהִ֔ים </font>  iar îngerii lui Dumnezeu (Facere 28:12)</br>
            &#x1F449; Uneori, un autor atrage atenția asupra <i>minunii</i> cu <font size="4">הִנֵּה</font></br>
            <font size="4">וַיַּרְא אֱלֹהִים אֶת־כָּל־אֲשֶׁר עָשָׂ֔ה וְהִנֵּה־טֹוב מְאֹד</font> Şi a privit Dumnezeu toate 
            câte a făcut şi iată erau bune foarte (Facere 1:31)</br>
            &#x1F449; Un eveniment care urmează să aibă loc în viitorul imediat este adesea exprimat 
            prin <font size="4">הִנֵּה</font> urmat de un participiu.</br>
            <font size="4">הִנֵּה אָנֹכִי עֹשֶׂה דָבָר</font> Iată, am să fac (1 Regi 3:11) </br>
            &#x1F449; <font size="4">הִנֵּה</font> este utilizat pentru a arăta existența</br>
            <font size="4">הִנֵּה אִשְׁתְּךָ קַח וָלֵךְ</font> iată-ţi femeia! Ia-ţi-o şi te du! (Facere 12:19)</br>
            <i>&#x2757; La citatele din Biblie am folosit traducerea din Biblia Ortodoxă Sinodală</i>

        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>