<body>
    <div class="story-container">
      <header >
          <h1>Sufixul pronominal la prepoziții</h1>
      </header>
      <main>
        <h3> Formele sufixului pronominal la prepoziții </h3>
        <p>
            Sufixele pronominale adăugate la prepoziții sunt aceleași cu cele adăugate la substantive. 
            Prepozițiile nu sunt nici la singular, nici la plural, dar unele prepoziții iau sufixe adăugate 
            la substantive la singular, iar altele iau sufixe adăugate la substantive la plural. 
        </p>
        <h3>Prepoziții care iau sufixe adăugate la substantive singulare</h3>
        <table>
            <tr>
                <th style="width:25%"></th>
                <th style="width:25%"></th>
                <th style="width:25%">prepoziție</th>
                <th>substantiv</th>
            </tr>
            <tr>
                <td>la el</td>
                <td>3ms</td>
                <td>לוֹ</td>
                <td>סוּסוֹ</td>
            </tr>
            <tr>
                <td>la ea</td>
                <td>3fs</td>
                <td>לָהּ</td>
                <td>סוּסָהּ</td>
            </tr>
            <tr>
                <td>la tine</td>
                <td>2ms</td>
                <td>לְךָ</td>
                <td>סוּסְךָ</td>
            </tr>
            <tr>
                <td>la tine</td>
                <td>2fs</td>
                <td>לָךְ</td>
                <td>סוּסֵךְ</td>
            </tr>
            <tr>
                <td>la mine</td>
                <td>1cs</td>
                <td>לִי</td>
                <td>סוּסִי</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>la ei</td>
                <td>3mp</td>
                <td>לָהֶם</td>
                <td>סוּסָם</td>
            </tr>
            <tr>
                <td>la ele</td>
                <td>3fs</td>
                <td>לָהֶן</td>
                <td>סוּסָן</td>
            </tr>
            <tr>
                <td>la voi</td>
                <td>2mp</td>
                <td>לָכֶם</td>
                <td>סוּסְכֶם</td>
            </tr>
            <tr>
                <td>la voi</td>
                <td>2fp</td>
                <td>לָכֶן</td>
                <td>סוּסְכֶן</td>
            </tr>
            <tr>
                <td>la noi</td>
                <td>1cp</td>
                <td>לָנוּ</td>
                <td>סוּסֵנוֹ</td>
            </tr>
        </table></br>
        <p>
            &#x1F449; Alte prepoziții care urmează această paradigmă sunt:</br>
            <font size="4">בְּ</font> &#10232; <font size="4">בּוֹ</font> &#10232; în el</br>
            <font size="4">בְּתוֹךְ</font> &#10232; <font size="4">בְּתוֹכוֹ</font> &#10232;  în interiorul lui</br>
            <font size="4">עִם</font> &#10232; <font size="4">עִמּוֹ</font> &#10232;  cu el</br>
        </p>
        <h4>Prepoziții care iau sufixe adăugate la substantive plurale</h4>
        <p>
            <table>
                <tr>
                    <td style="width:25%"></td>
                    <td style="width:25%"></td>
                    <th style="width:25%">prepoziție</th>
                    <th>substantiv</th>
                </tr>
                <tr>
                    <td>la el</td>
                    <td>3ms</td>
                    <td>אֵלָיו</td>
                    <td>סוּסָיו</td>
                </tr>
                <tr>
                    <td>la ea</td>
                    <td>3fs</td>
                    <td>אֵלֶיהָ</td>
                    <td>סוּסֶיהָ</td>
                </tr>
                <tr>
                    <td>la tine</td>
                    <td>2ms</td>
                    <td>אֵלֶיךָ</td>
                    <td>סוּסֶיךָ</td>
                </tr>
                <tr>
                    <td>la tine</td>
                    <td>2fs</td>
                    <td>אֵלַיִךְ</td>
                    <td>סוּסַיךְ</td>
                </tr>
                <tr>
                    <td>la mine</td>
                    <td>1cs</td>
                    <td>אֵלַי</td>
                    <td>סוּסַי</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>la ei</td>
                    <td>3mp</td>
                    <td>אֲלֵיהֶם</td>
                    <td>סוּסֵיהֶם</td>
                </tr>
                <tr>
                    <td>la ele</td>
                    <td>3fs</td>
                    <td>אֲלֵיהֶן</td>
                    <td>סוּסֵיהֶן</td>
                </tr>
                <tr>
                    <td>la voi</td>
                    <td>2mp</td>
                    <td>אֲלֵיכֶם</td>
                    <td>סוּסֵיכֶם</td>
                </tr>
                <tr>
                    <td>la voi</td>
                    <td>2fp</td>
                    <td>אֲלֵיכֶן</td>
                    <td>סוּסֵיכֶן</td>
                </tr>
                <tr>
                    <td>la noi</td>
                    <td>1cp</td>
                    <td>אֵלֵינוּ</td>
                    <td>סוּסֵינוּ</td>
                </tr>
            </table></br>
            </p>
            <p>
                &#x1F449; Alte prepoziții care urmează această paradigmă sunt:</br>
                <font size="4">לִפְנֵי</font> &#10232; <font size="4">לִפְנָיו</font> &#10232;  înaintea lui</br>
                <font size="4">עַל</font> &#10232; <font size="4">עָלָיו</font> &#10232;  asupra lui</br>
                <font size="4">תַּחַת</font> &#10232; <font size="4">תַּחְתָּיו</font> &#10232;  sub el</br>

        </p>

        <h4>Prepoziția מִן cu sufixe</h4>
        <p>
            În unele forme, prepoziția<font size="4"> מִן </font>se scrie de două ori, rezultând
             <font size="4"> מִן </font> + <font size="4"> מִן </font> = <font size="4">מִמֶּנ</font> ca formă de bază.</br>
            <table>
                <tr>
                    <td style="width:33%">de la el</td>
                    <td style="width:33%">3ms</td>
                    <td>מִמֶּנּוּ</td>
                </tr>
                <tr>
                    <td>de la ea</td>
                    <td>3fs</td>
                    <td>מִמֶּנָה</td>
                </tr>
                <tr>
                    <td>de la tine</td>
                    <td>2ms</td>
                    <td>מִמְּךָ</td>
                </tr>
                <tr>
                    <td>de la tine</td>
                    <td>2fs</td>
                    <td>מִמֵּךְ</td>
                </tr>                
                <tr>
                    <td>de la mine</td>
                    <td>1cs</td>
                    <td>מִמֶּנִּי</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>de la ei</td>
                    <td>3mp</td>
                    <td>מֵהֶם</td>
                </tr>
                <tr>
                    <td>de la ele</td>
                    <td>3fp</td>
                    <td>מֵהֶן</td>
                </tr>
                <tr>
                    <td>de la voi</td>
                    <td>2mp</td>
                    <td>מֵכֶּם</td>
                </tr>
                <tr>
                    <td>de la voi</td>
                    <td>2fp</td>
                    <td>מֵכֶּן</td>
                </tr>
                <tr>
                    <td>de la noi</td>
                    <td>1cp</td>
                    <td>מֵמֶּנּוּ</td>
                </tr>
            </table>
        </p>
        <h4>Prepoziția כְּ cu sufixe</h4>
        <p>
            În plus față de forma regulată <font size="4"> כְּ </font> există o formă extinsă <font size="4"> כָּמוֹ </font>.
             Această formă extinsă este forma de bază pentru majoritatea formelor cu sufix.</br>
             <table>
                <tr>
                    <td style="width:33%">ca el</td>
                    <td style="width:33%">3ms</td>
                    <td>כָּמוֹהוּ</td>
                </tr>
                <tr>
                    <td>ca ea</td>
                    <td>3fs</td>
                    <td>כָּמוֹהָ</td>
                </tr>
                <tr>
                    <td>ca tine</td>
                    <td>2ms</td>
                    <td>כָּמוֹךָ</td>
                </tr>
                <tr>
                    <td>ca tine</td>
                    <td>2fs</td>
                    <td></td>
                </tr>                
                <tr>
                    <td>ca mine</td>
                    <td>1cs</td>
                    <td>כָּמוֹנִי</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>ca ei</td>
                    <td>3mp</td>
                    <td>כָּהֵם</td>
                </tr>
                <tr>
                    <td>ca ele</td>
                    <td>3fp</td>
                    <td>כָּהֵן</td>
                </tr>
                <tr>
                    <td>ca voi</td>
                    <td>2mp</td>
                    <td>כָּכֶם</td>
                </tr>
                <tr>
                    <td>ca voi</td>
                    <td>2fp</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ca noi</td>
                    <td>1cp</td>
                    <td>כָּמוֹנוּ</td>
                </tr>
            </table>
        </p>
        <h3>Semnul atributului (אֶת־ / אֵת) cu sufixe</h3>
        <p>Atunci când un pronume este atributul unui verb, sufixele pot fi adăugate la markerul 
            de atribut (<font size="4"> אֶת־ / אֵת </font>). Cu excepția celor 2mp, prima vocală este 
            holem-waw (<font size="4">וֹ</font>).</br>
            <table>
                <tr>
                    <td style="width:33%">(al) lui</td>
                    <td style="width:33%">3ms</td>
                    <td>אוֹתוֹ</td>
                </tr>
                <tr>
                    <td>(al) ei</td>
                    <td>3fs</td>
                    <td>אוֹתָהּ</td>
                </tr>
                <tr>
                    <td>(al) tău</td>
                    <td>2ms</td>
                    <td>אוֹתְךָ</td>
                </tr>
                <tr>
                    <td>(al) tău</td>
                    <td>2fs</td>
                    <td>אוֹתָךְ</td>
                </tr>                
                <tr>
                    <td>(al) meu</td>
                    <td>1cs</td>
                    <td>אוֹתִי</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(al) lor</td>
                    <td>3mp</td>
                    <td>אוֹתָם</td>
                </tr>
                <tr>
                    <td>(al) lor</td>
                    <td>3fp</td>
                    <td>אוֹתָן</td>
                </tr>
                <tr>
                    <td>(al) vostru</td>
                    <td>2mp</td>
                    <td>אֶתְכֶם</td>
                </tr>
                <tr>
                    <td>(al) vostru</td>
                    <td>2fp</td>
                    <td></td>
                </tr>
                <tr>
                    <td>(al) nostru</td>
                    <td>1cp</td>
                    <td>אֶוֹתָנוּ</td>
                </tr>
            </table></br>
            <i>Forma semnului atributului la 3fp <b>(al) lor</b> apare o singură dată în textul biblic.
                 Acolo unde lipsesc din tabel nu apar niciodată în textul biblic</i></br>
                 <font size="4">שָׁלַח הַמֶּלֶךְ אֶת־הַנָּבִיא</font> regele a trimis pe profetul</br>
                 <font size="4">שָׁלַח הַמֶּלֶךְ אוֹתוֹ</font> regele l-a trimis</br>
                 <font size="4">שָׁלַח הַמֶּלֶךְ אֶת־הַנְּבִיאִים</font> regele a trimis pe profeții</br>
                 <font size="4">שָׁלַח הַמֶּלֶךְ אוֹתָם</font> regele i-a trimis</br>        
        </p>
        <h3>Pronumele rezumativ pe prepoziții</h3>
        <p>
            În ebraică, prepoziția este plasată la sfârșitul frazei și un pronume (care se potrivește 
            cu substantivul modificat) este plasat pe prepoziție. Acest pronume se numește <i>rezumativ</i>, 
            deoarece reia sau preia din nou substantivul modificat.</br>
            <font size="4">הַמָּקוֹם אֲשֶׁר יָשַׁבבּוֹ</font> locul în care a locuit</br>
            <font size="4">הָעִיר אֲשֶׁר הָלַךְ אֵלֶיהָ</font> orașul spre care a mers</br>
            <font size="4">הַמֶּלֶךְ אֲשֶׁר עָמַדְנוּ לְפָנָיו</font> regele în fața căruia am stat</br>
        </p>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>