{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header >
          <h1>Constructul la singular</h1>
      </header>
      <main>
        <h3> Starea construct și starea absolut </h3>
        <p>Substantivele ebraice apar în două stări: construct și absolut.</br>
            &#x1F449; Starea <b>absolută</b> este forma <i>obișnuită</i> a substantivului, forma care în vocabular.</br>
            &#x1F449; Starea de <b>construct</b> este forma substantivului atunci când acesta se află în relație
             cu un alt substantiv.
        </p>     
            <h3>Utilizarea stării de construct</h3>
        <p>
            Ebraica nu are un cuvânt echivalent cu "de apartenență". "Apartenența" se exprimă în ebraică prin plasarea unui 
            substantiv în stare de construct în fața unui substantiv în stare absolută. Relația de construct 
            poate fi adesea recunoscută prin prezența unui maqqef (<font size="4">־</font>) între substantive.</br>
            <font size="4">סוּס־הַמֶלֶךְ</font> &#10232; calul regelui</br>
            <font size="4">נֶפֶשׁ־הַנָּבִיא</font> &#10232; sufletul profetului
        <p>
            Un substantiv în stare de construct nu are <b>niciodată</b> articol definit.</br>
            &#x1F449; Dacă ultimul substantiv este hotărât, substantivul aflat în construct este, de asemenea, hotărât.</br>
            <font size="4">סוּס־הַמֶלֶךְ</font> &#10232; cal<span class="colored-letter">ul</span> rege<span class="colored-letter">lui</span></br>
            <font size="4">נֶפֶשׁ־הַנָּבִיא</font> &#10232; sufle<span class="colored-letter">tul</span> profetu<span class="colored-letter">lui</span></br>
            <i>Numele de persoane sunt hotărâte, așa că </i><font size="4">יוֹם־יְהוָה</font> <i>se traduce "ziua Domnului"</i>.</br>
            &#x1F449; Dacă ultimul substantiv este nehotărât, substantivul aflat în construct este, și el, nehotărât.</br>
            <font size="4">סוּס־מֶלֶךְ</font> &#10232; cal de rege</br>
            <font size="4">נֶפֶשׁ־נָּבִיא</font> &#10232; suflet de profet</br>
            &#x1F449; Relația de construcție nu poate fi folosită pentru a spune <i>calul unui rege.</i>
             În schimb, se folosește prepoziția <font size="4">ל</font>, de exemplu, <font size="4">הַסּוּס לְמֶלֶךְ</font>, 
             <i>calul care aparține unui rege</i>, <i>calul unui rege</i>. <i>Sufletul unui profet</i> ar fi 
             <font size="4">הַנֶּפֶשׁ לְנָבִיא</font>.
        </p>
        <p>
            În limba română apartenența exprimă o varietate de relații: de exemplu, <i>cartea studentului</i> = 
            <i>cartea care aparține studentului</i>; <i>tronul de aur</i> = <i>tronul făcut din aur</i>; 
            <i>munte de sfințenie</i> = <i>muntele sfânt</i>; <i>iubirea profesorului</i> = fie <i>dragostea 
            pe care o are profesorul pentru studenți</i>, fie <i>dragostea pe care o au studenții pentru 
            profesor.</i> Relația de construct exprimă, de asemenea, o varietate de moduri. Acum prezentăm
             modul posesiv și modul adjectival.
        </p>
        <p>
            &#x1F449; Cel mai frecvent, relația de construct exprimă posesia.<br>
            <font size="4">סוּס־הַמֶלֶךְ</font> &#10232; calul regelui = <i>calul care aparține regelui</i></br>
            <font size="4">סֵפֶר־הַכֹּהֵן</font> &#10232; cartea preotului = <i>cartea care aparține preotului</i></br>
            &#x1F449; Posesia este folosită destul de vag.</br>
            <font size="4">בַּת־הַאֵם</font> &#10232; fiica mamei</br>
        </p>
        <p>
            &#x1F449; Uneori relația de construct este adjectivală</br>
            <font size="4">בֶּגֶד הַקֹּדֶשׁ</font> &#10232; veșmântul sfânt </br>
            <font size="4">שֵׁם־עוֹלָם</font> &#10232; un nume veșnic
        </p>    
        <h3>Forma stării de construct la singular</h3>
        <p>
            Uneori, starea de construct are aceeași formă ca și starea absolută.<br>
            &#x1F449; În substantive monosilabice cu o vocală lungă</br>
            <font size="4">סוּס הַמֶּלֶךְ</font> &#10232; calul regelui </br>
            <font size="4">עִיר־הַמִּשְׁפָּחָה</font> &#10232; orașul familiei </br>
            <font size="4">יוֹם הַזֶּבַח</font> &#10232; ziua sacrificiului </br>
            &#x1F449; În substantive de o silabă cu o vocală scurtă</br>
            <font size="4">בַּת־הָאֵם</font> &#10232; fiica mamei</br>
            <font size="4">חַי הַאִישׁ</font> &#10232; viața omului</br>
            <font size="4">עַם הַאֱלֹהִים</font> &#10232; poporul Domnului</br>
            &#x1F449; În substantive segolate</br>
            <font size="4">מֶלֶךְ הָעִיר</font> &#10232; orașul regelui</br>
            <font size="4">דּרֶךְ־הַקֹּדֶשׁ</font> &#10232; calea sfântă</br>
            <font size="4">בֶּגֶד הַאִשָּׁה</font> &#10232; veșmântul femeii</br>
        </p>
        <p>
            Uneori se schimbă vocalele. Două substantive în construcție sunt tratate ca un singur cuvânt, 
            din punct de vedere al accentului, cu accentul pe al doilea substantiv. Deoarece de multe ori 
            nu va exista accent pe substantivul în construcție, vocalele se vor schimba în conformitate 
            cu regulile învățate anterior.</br>
            &#x1F449; O vocală medie se va reduce adesea la o vocală scurtă într-o silabă finală închisă, 
            deoarece silaba este acum închisă și neaccentuată (a se vedea <i>vocale scurte</i>).</br>
            <font size="4">בֵּן  &#10232;  בֶּן־הַמֶלֶךְ</font> &#10232; fiul regelui</br>
            <font size="4">מִשְׁפָּט  &#10232;  מִשְׁפַּט הַמֶּלֶךְ</font> &#10232; decizia regelui</br>
            <font size="4">עוֹלָם  &#10232;  עוֹלַם הַמֶּלֶךְ</font> &#10232; vechimea regelui</br>
            &#x1F449; În plus, o vocală medie se va reduce la șva (<font size="4">&#1456;&#9744;</font>) 
            în prima din două silabe, dacă silaba este deschisă.</br>
            <font size="4">דָּבָר  &#10232;  דְּבַר הַמֶּלֶךְ</font> &#10232; fiul regelui</br>
            <font size="4">לֵבָב  &#10232; לְבַב־הַמֶּלֶךְ </font> &#10232; inima regelui</br>
            &#x1F449; Substantivele vocalizate ca <font size="4">בַּיִת</font> au
             forma de construct <font size="4">בֵּיִת</font>.</br>
            <i>Secvența</i> <font size="4">&#1497;&#8239;&#1463;&#9744;</font><i> (<b>ai</b>) nu este nici 
            o vocală + consoană, nici o vocală cu yod </i>(<font size="4">&#1497;</font>)<i> funcționând 
            ca o literă vocală, ca în </i><font size="4">&#1497;&#8239;&#1460;&#9744;</font> <i>(hireq yod), 
            ci este un "diftong". Un diftong poate apărea doar într-o silabă accentuată. Deoarece forma 
            de construct nu are accent, diftongul </i><font size="4">&#1497;&#8239;&#1463;&#9744;</font> <i>transformă 
            în vocala </i><font size="4">&#1497;&#8239;&#1461;&#9744;</font><i> (țere yod).</i>
        </p>
        <h4>Singularul feminin</h4>
        <p>
            Substantivele feminine la singular care se termină în <font size="4">&#1492;&#8239;&#1463;&#9744;</font> 
            formează adesea construct prin înlocuirea lui <font size="4">&#1492;&#8239;&#1463;&#9744;</font> cu 
            <font size="4">&#1514;&#8239;&#1463;&#9744;</font>, însoțită de schimbări de vocală corespunzătoare.</br>
            <font size="4">תּוֹרָה  &#10232;  תּוֹרַת יְהוָה</font> &#10232; legea Domnului</br>
            <font size="4">שָׁנָה  &#10232; שְׁנַת הַמִּלְחָמָה</font> &#10232; anul bătăliei
        </p>
        <p>
            Substantivele feminine la singular care încep cu un prefix <font size="4">&#1502;</font> și se termină 
            cu <font size="4">&#1492;&#8239;&#1463;&#9744;</font> formează adesea construcția cu segolizare.</br>
            <font size="4">מִלְחָמָה &#10232; מִלְחֶמֶת הַיּוֹם</font> &#10232; bătălia zilei</br>
            <font size="4">מִשְׁפָּתָה &#10232; מִשְׁפַּחַת הָאָב </font> &#10232; familia tatălui</br>
            <i>Schimbarea în patach (<font size="4">&#1463;&#9744;</font>) se datorează guturalului.</i>
        </p>

        
<br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>