<body>
    <div class="story-container">
      <header >
          <h1>Substantivul: schimbarea vocalelor</h1>
      </header>
      <main>
        <h3> Mai multe despre silabe </h3>
        <p>Știm deja că silabele nu pot începe cu o vocală și că pot fi deschise <font size="4">שָׁ</font>, 
            formate dintr-o consoană și o vocală, sau închise <font size="4">שׁלַח</font>, formate dintr-o 
            consoană o vocală și încă o consoană.</br>
            De asemenea știm că de obicei accentul cade pe ultima silabă.
        </p>
        <p>
            Astfel silabele mai pot fi catalogate după locul unde cade accentul.</br>
            &#x1F449; Silaba <b>tonică</b> este accentuată.</br>
            &#x1F449; Silaba <b>pretonică</b> este silaba care precede o silabă pretonică.</br>
            &#x1F449; Silaba  <b>propretonică</b> este silaba care precede o silabă pretonică.</br>
        </p>
        <p>
        <table>
            <tr>
              <th style="width:25%">silabă tonică</th>
              <th style="width:25%">silabă pretonică</th>
              <th style="width:25%">silabă pretonică</th>
              <th>cuvânt</th>
            </tr>
            <tr>
              <td>רִיםָ</td>
              <td>בָ</td>
              <td>דְּ</td>
              <td>דְּבָרִים</td>
            </tr>
        </table>
        </p>
        <h3>Mai multe despre vocale</h3>
        <h4>Silabe în care apar diverse vocale</h4>
        <p><b>Vocale lungi:</b></br>
        &#x1F449; Exemplu de silabă deschisă în holem-waw <font size="4">(וֹ)</font> în <font size="4">עוֹלָם</font></br>
        &#x1F449; Exemplu de silabă accenutată închisă în holem-waw <font size="4">(וֹ)</font> în <font size="4">אָחוֹת</font></br>
        </p>
        <p><b>Vocale medii:</b></br>
            &#x1F449; Exemplu de silabă pretonică deschisă, primul qameț <font size="4">(&#1464;&#9744;)</font> din 
            <font size="4">דָּבָר</font></br>
            &#x1F449; Exemplu de silabă tonică(accenuată) închisă, al doilea qameț <font size="4">(&#1464;&#9744;)</font> din 
            <font size="4">דָּבָר</font></br>
        </p>
        <p><b>Vocale scurte:</b></br>
            &#x1F449; Exemplu de silabă deschisă tonică, primul patah <font size="4">(&#1463;&#9744;)</font> din 
            <font size="4">נַעַר</font></br>
            &#x1F449; Exemplu de silabă închisă, al doilea patah <font size="4">(&#1463;&#9744;)</font> din 
            <font size="4">נַעַר</font></br>
            <i>O silabă neaccentuată are de obicei vocală scurtă</i>
        </p>
        <p><b>Vocale foarte scurte:</b></br>
            &#x1F449; Exemplu de silabe propretonice deschise în substantive și verbe 
            <font size="4">דְּבָרִים</font> și <font size="4">קְטַלְתֶּם</font></br>
            &#x1F449; Exemplu de silabă pretonică în verbe <font size="4">קָטְלָה</font></br>
        </p>
        <h4> Vocale care nu se reduc la șva </h4>
        <p>
            Vocalele care nu se reduc la șva sunt de două tipuri:</br>
            &#x1F449; Vocalele lungi</br>
            &#x1F449; Vocalele aflate în silabe închise</br>
        </p>
        <h4> Vocale care se reduc la șva </h4>
        <p>
            <b>În substantive:</b></br>
            &#x1F449; Vocalele qameț<font size="4">(&#1464;&#9744;)</font> 
            și țere <font size="4">(&#1461;&#9744;)</font> în silabe propretonice deschise.</br>
            <font size="4">דָּבָר &emsp; דְּבָרִים</font></br>
            <font size="4">לֵבָב &emsp; לְבָבוֹת</font></br>
            &#x1F449; Vocala țere<font size="4">(&#1464;&#9744;)</font> într-o silabă pretonică
            deschisă, în cazul în care nu are nici o reducere în silaba propretonică.</br>
            <font size="4">זוֹכֵר &emsp; זוֹכְרִים</font></br>
            <i> holem-waw </i>(וֹ),<i> fiind lung, nu se poate reduce. </i><br>
            <font size="4">מִזְבֵּהַ &emsp; מִזְבְּחוֹת</font></br>
            <i> hireq </i>(&#1460;&#9744;),<i> fiind în silabă închisă, nu se poate reduce. </i><br>
        </p>
        <p>
            <b>În în verbe:</b></br>
            &#x1F449; Vocale scurte și medii în silaba care precede un sufix vocalic, adică o silabă
            care începe cu o vocală:</br>
            <font size="4">קָטַל &emsp; קָטְלָה</font></br>
            <font size="4">כָּבֵד &emsp; כָּבְדוּ</font></br>
            &#x1F449; Vocale medii într-o silabă deschisă propretonică:</br>
            <font size="4">קָטַל &emsp; קָטַלְתֶּם</font></br>
        </p>
        <h3>Punerea în aplicare a regulilor pentru substantive</h3>
        <p>
            Diferite sufixe pot fi adăugate la substantive. Deoarece diferitele vocale pot apărea numai în 
            anumite tipuri de silabe și deoarece accentul se pune de obicei pe ultima silabă, atunci când se 
            adaugă un sufix la un substantiv, silabele precedente se pot schimba în caracter - de exemplu, 
            de la o silabă pretonică deschisă la o silabă propretonică deschisă. Ca urmare, adăugarea unui 
            sufix poate produce modificări ale vocalelor.
        </p>
        <p>
            Veți fi mai bine pregătiți să citiți Biblia ebraică dacă înțelegeți o parte din dinamica 
            schimbării vocalelor în substantive.
        </p>
        <p>
            Atunci când se adaugă un sufix la un substantiv, mai întâi se încearcă să se reducă vocala 
            din silaba propretonică la șva.</br>
            &#x1F449; Uneori, vocala din silaba propretonică nu se va reduce deoarece este o vocală lungă.</br>
            <font size="4">עוֹלָם &emsp; עוֹלָמִים</font></br>
            &#x1F449; Uneori, vocala din silaba propretonică nu se va reduce, deoarece se află într-o silabă închisă.</br>
            <font size="4">מִשְׁפָּט &emsp; מִשְׁפָּטִים</font></br>
            &#x1F449; Dacă vocala este qamets (<font size="4">&#1464;&#9744;</font>) sau 
            țere (<font size="4">&#1461;&#9744;</font>), se va reduce la șva (<font size="4">&#1456;&#9744;</font>).</br>
        </p>
        <p>
            În cazul în care în silaba propretonică nu poate avea loc o reducere a vocalei, se încearcă reducerea 
            vocalei în silaba pretonică.</br>
            &#x1F449; Numai dacă vocala este țere (<font size="4">&#1461;&#9744;</font>), se va reduce în această situație.</br>
            <font size="4">מִשְׁפָּט &emsp; מִשְׁפָּטִים</font></br>
            <font size="4">מִזְבֵּחַ &emsp; מִזְבְּחוֹת</font>
        </p>
        <h3>Substantive segolate</h3>
        <p>
            În ebraică există un grup special de substantive numite "substantive segolate", și care au câteva 
            caracteristici comune.</br>
            &#x1F449; Accentul se pune pe penultima silabă.</br>
            &#x1F449; Vocalele tipice sunt segol + segol (<font size="4">&#1462;&#9744;</font> + <font size="4">&#1462;&#9744;</font>)
            la forma singular și de aceea se numesc "segolate".</br>
            <font size="4"> אֶרֶץ , בֶּגֶד , דֶּרֶךְ , מֶלֶךְ , נֶפֶשׁ </font></br>
            &#x1F449; Segolul așteptat (<font size="4">&#1462;&#9744;</font>) poate fi un patach (<font size="4">&#1463;&#9744;</font>) dacă următoarea consoană este o guturală.</br>
            <font size="4"> זֶבַח , נַעַר </font></br>
        </p>
        <p>
            Forma de plural a tuturor substantivelor "segolate" are același model 
            vocalic:șva (<font size="4">&#1456;&#9744;</font>) 
            sub prima consoană și qamets (<font size="4">&#1464;&#9744;</font>).</br>
            <font size="4">בֶּגֶד &emsp; בְּגָדִים</font></br>
            <font size="4">דֶּרֶךְ &emsp; דְּרָכִם</font></br>
            <font size="4">זֶבַח &emsp; זְבָחִים</font></br>
        </p>
        <p>
            Dacă prima consoană este o guturală, șva (<font size="4">&#1456;&#9744;</font>)va deveni hatefpatach
            (<font size="4">&#1458;&#9744;</font>).</br>
            <font size="4">אֶרֶץ &emsp; אֲרַצוֹת</font>
        </p>
        <h3>Schimbări imprevizibile ale vocalelor</h3>
        <p>
            La unele substantive, modelul vocalic al pluralului este diferit în mod imprevizibil de modelul 
            vocalic al singularului. Acestea se memorează cel mai bine pe măsură ce se întâlnesc.<br> 
            <font size="4">אִישׁ &emsp; אֲנָשִׁים</font></br>
            <font size="4">בֵּן &emsp; בָּנִים</font></br>
            <font size="4">בַּיִת &emsp; בַּתִּים</font></br>
            <font size="4">יוֹם &emsp; יָמִים</font></br>
            <font size="4">אִשָּׁה &emsp; נָשִׁים</font></br>
            <font size="4">בַּת &emsp; בַּנוֹת</font></br>
            <font size="4">עִיר &emsp; עָרִים</font></br>
        </p>


        
<br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>