{% extends "cards/base.html" %}
{% load humanize %}

{% block content %}
    {% if object_list|length == 0 %}
        <br>
        Nu există cuvinte în cutie.
    {% elif object_list|length == 1 %}
        <br> 
        Cutia conține un singur cuvânt.
    {% elif object_list|length == 2 %}
        <br>
        Cutia conține două cuvinte.
    {% else %}
        <br>
        Cutia conține {{ object_list|length }} cuvinte.
{% endif %}
    {% if check_card %}
        {% include "cards/card.html" with card=check_card %}
    {% endif %}
{% endblock content %}
