.navbar {
  max-width: 820px;
  margin: 0 auto; /* Centrarea containerului pe pagină */
  border-radius: 5px;
  overflow: hidden;
  background-color: #3fb2ff;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
}
.active {
  background-color: #0095ff;
  border-radius: 5px;
  color: white;
}
.navbar .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .btn {
  font-size: 18px;    
  border: none;
  outline: none;
  color: black;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}
.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar a:hover, .dropdown:hover .btn {
  background-color: #555555;
  color: white;
}

.dropdown-menu a:hover {
  background-color: #cccccc;
  color: black;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/* nav bar in cap de pagina  */


/* de aici este codul meu */

body {
  background-color: #c9e9ff; /* Schimbă această valoare la culoarea dorită */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-sidebar, .right-sidebar {
  flex: 1; /* Ocupă spațiul disponibil */
  border: 2 px;
  border-color: #3fb2ff;

}

.story-container {
  background-color: white;
  max-width: 800px;
  margin: 0 auto; /* Centrarea containerului pe pagină */
  padding: 1px 10px 1px 10px; /* Adăugarea unui spațiu de 20px în jurul containerului */
  border-radius: 5px;
}

.custom-link {
  display: inline-block;
  width: calc(50% - 10px); /* 50% lățime, minus margin */
  background-color: #3fb2ff;
  margin: 5px;
  color: rgb(0, 0, 0);
  padding: 10px 0; /* Am eliminat paddingul în stânga și dreapta pentru a face butonul centrat */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.p-indent {
  margin-left: 30px;

}

.colored-letter {
  color: red; 
}

h1 {
  text-align: center

}
h2 {
  text-align: center;
  color: #343434;
}

h2, h4 {
  margin-top: 0;
}

h3 {
  margin-top: 12px;
  color: #0099ff;
  text-align: center;
}

.mark {
  background-color: rgb(152, 255, 166);
  text-decoration: none;
  color: black;
}

hr {
  background: var(--accent);
  border-color: var(--accent);
}

button,
a[role="button"] {
  color: #0099ff;
  text-decoration: none;
}

input, select, textarea {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}
    
td, th {
  border: 1px solid #c9e9ff;
  text-align: left;
}
    
tr:nth-child(even) {
  background-color: #c9e9ff;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .btn {
  display: none;
  }
  .navbar a.icon {
  float: right;
  display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
  }
  .navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-menu {position: relative;}
  .navbar.responsive .dropdown .btn {
  display: block;
  width: 100%;
  text-align: left;
  }
}