
:root {
    --accent: #39383b;
    --accent-bg: white;
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --code: #373637;
    --preformatted: #444;
}

body {
    background-color: #c9e9ff; /* Schimbă această valoare la culoarea dorită */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-sidebar, .right-sidebar {
    flex: 1; /* Ocupă spațiul disponibil */
    border: 2 px;
    border-color: #3fb2ff;

}

.menu-container {
    background-color: none;
    max-width: 12.5%;
    margin: 0 auto; /* Centrarea containerului pe pagină */
    padding: 1px 1px 1px 1px; 
    border-radius: 5px;
}


.story-container {
    background-color: #ffe7ca;
    max-width: 87,5%px;
    margin: 0 auto; /* Centrarea containerului pe pagină */
    padding: 1px 10px 1px 10px; /* Adăugarea unui spațiu de 20px în jurul containerului */
    border-radius: 5px;
}

.colored-letter {
    color: red; 
}

.custom-link {
    display: inline-block;
    width: calc(50% - 10px); /* 50% lățime, minus margin */
    background-color: #3fb2ff;
    margin: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 0; /* Am eliminat paddingul în stânga și dreapta pentru a face butonul centrat */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.menu-link {
    
    display: inline-block;
    width: calc(100% - 10px); /* 50% lățime, minus margin */
    background-color: none;
    margin: 1px;
    color: rgb(0, 0, 0);
    padding: 1px 0; /* Am eliminat paddingul în stânga și dreapta pentru a face butonul centrat */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 3px ;
    border-color:  #c9e9ff;
    cursor: pointer;
}


  .hover-4 {
    background-image:
      linear-gradient(#3fb2ff 0 0),
      linear-gradient(#3fb2ff 0 0);
    background-repeat: no-repeat;
    background-size: 50% .08em;
    background-position:
      -100% 100%,
      200% 0;
    transition: background-size .3s, background-position .3s .3s;
  }
  .hover-4:hover {
    background-size: 50% 100%;
    background-position:
      0 100%,
      100% 0;  
    transition: background-size .3s .3s, background-position .3s;
  }  


.p-indent {
    margin-left: 30px;

}

/* Media query pentru a face designul responsive */
@media (max-width: 800px) {
    .main-content {
        width: 400px; /* Reducerea dimensiunii conținutului principal pentru dispozitive mai mici */
    }
}

article {
    background-color: #c9e9ff;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 1em;
    margin: 1em 0;
    max-width: 600 px;
}
h1 {
    text-align: center

}
h2 {
    text-align: center;
    color: #343434;
}

h2, h4 {
    margin-top: 0;
}

h3 {
    margin-top: 12px;
    color: #3fb2ff;
    text-align: center;
}



hr {
    background: var(--accent);
    border-color: var(--accent);
}

button,
a[role="button"] {
    color: #006cb8;
    text-decoration: none;
}

input, select, textarea {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
      
  td, th {
    border: 1px solid #c9e9ff;
    text-align: left;
  }
      
  tr:nth-child(even) {
    background-color: #c9e9ff;
  }