{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> {% endcomment %}

<body>

    <div class="story-container">
      <header >
          <h1>Verbul la Qal Perfect</h1>
      </header>
      <main>
        <h3> Rădăcina verbului </h3>
        <p> Așa cum vedem la prezentarea generala a verbelor cuvintele care provin din aceeași rădăcină au sensuri
            înrudite. Adăugarea de elemente la rădăcină, vocale, prefixe sau sufixe modifică sensul. Terminațiile
            de gen și număr, fiind sufixe, nu fac niciodată parte din rădăcină</p>
            <table>
                <tr>
                  <td>Rădăcină</td>
                  <th> זרע </th>
                  <td></td>
                </tr>
                <tr>
                    <td>verb</td>
                    <th> זָרַע </th>
                    <td>(el) a semănat</td>
                </tr>
                <tr>
                    <td>substantiv</td>
                    <th> זֶרַע </th>
                    <td>sămânță</td>
                </tr>
                <tr>
                    <td>substantiv</td>
                    <th> מִזְרָע </th>
                    <td>pământ însămânțat</td>
                </tr>
            </table>
                </br>
            <table>
                <tr>
                  <td>Rădăcină</td>
                  <th> ספר </th>
                  <td></td>
                </tr>
                <tr>
                    <td>verb</td>
                    <th> סָפַר </th>
                    <td>(el) a numărat</td>
                </tr>
                <tr>
                    <td>substantiv</td>
                    <th> סֵפֶר </th>
                    <td>document, carte</td>
                </tr>
                <tr>
                    <td>substantiv</td>
                    <th> מִסְפָּר </th>
                    <td>număr</td>
                </tr>
            </table>
        </p>
        <h3> Forma qal a verbului </h3>
        <p>  Așa cum vedem la generalități există șapte forme verbale de bază care sunt formate din rădăcină plus
            elementele caracteristice adăugate. Forma qal care vine de la ebraicul <font size="4"> קָל </font> - ușor,
            simplu - și este forma activă simplă, cea mai des întâlnită în Biblie. </br>
            Celaltă formă nifʿal, este este pasivul lui qal și se formează prin prefixarea rădăcinii 
            cu un nun <font size="4"> נ </font>.
        </p>
        <p>
            Trecerea de la o formă la alta schimbă sensul verbului.
        </p>
        <p>
        <table>
            <tr>
              <td>Rădăcină</td>
              <th> זרע </th>
              <td></td>
            </tr>
            <tr>
                <td>qal</td>
                <th> זָרַע </th>
                <td> a semănat</td>
            </tr>
            <tr>
                <td>nifʿal</td>
                <th> נִזְרַע </th>
                <td>a fost semănat</td>
            </tr>
        </table>
    </br>
        <table>
            <tr>
              <td>Rădăcină</td>
              <th> ספר </th>
              <td></td>
            </tr>
            <tr>
                <td>qal</td>
                <th> סָפַר </th>
                <td>a numărat</td>
            </tr>
            <tr>
                <td>nifʿal</td>
                <th> נִסְפַּר </th>
                <td>a fost numărat</td>
            </tr>            
            </table>
        </p>
            <h4>Conjugarea</h4>
        <p>
            Există două tipuri de conjugări pentru verbele ebraice: "finite" și "nefinite"
        </p>  
        <p>
            Conjugările finite se conjugă pentru persoană, gen și număr; de exemplu, <font size="4"> זָרַע </font>
            este persoana a 3-a, masculin și singular. Există trei conjugări finite de bază în ebraică: perfect, 
            imperfect și imperativ. Aici vă prezentăm una dintre conjugările finite: perfectul.    
        </p>
        <p>
            Conjugările nefinite nu sunt conjugate pentru persoană, ci sunt conjugate fie numai pentru gen și număr, 
            fie deloc. În ebraică există trei conjugări nefinite: participiul, infinitivul absolut și construcția 
            infinitivă.
        </p>
        <p>
            Trecerea de la o conjugare la alta schimbă utilizarea, adică momentul sau tipul de situație exprimată 
            de verb; de exemplu, la perfect, <font size="4"> סָפַר </font> ar putea fi tradus "a numărat", 
            dar la imperfect va fi tradus "va număra".
        </p>
        <p>
            O "paradigmă" a verbelor este un grafic care prezintă formele verbelor pentru persoană, gen și număr. 
            Paradigmele în română trec de la persoana I ("eu sunt") la persoana a III-a ("el/ea este"). 
            Paradigmele ebraice trec de la persoana a 3-a la persoana 1. Acest lucru se datorează faptului că 3ms 
            (persoana a 3-a masculin singular) este forma de bază din care derivă celelalte.</br> 
            În vocabular și în dicționarele ebraice, majoritatea verbelor sunt enumerate în funcție de forma 3ms. 
            Aici, rădăcina folosită pentru paradigmele verbului obișnuit în ebraică este <font size="4"> קטל </font> .
        </p> 
            <h4>Analiza verbului</h4>
        <p>
            Analiza verbului constă în identificarea elementelor unui verb. Ordinea de analiză a verbelor ebraice 
            este: (1) model, (2) conjugare, (3) persoană, (4) gen, (5) număr și (6) rădăcină; de exemplu:
            <table>
                <tr>
                    <th>verb</th>
                    <th>formă</th>
                    <th>conj.</th>
                    <th>pers.</th>
                    <th>gen</th>
                    <th>nr</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td>הָלַךְ</td>
                    <td>qal</td>
                    <td>perfect</td>
                    <td>a 3-a</td>
                    <td>m</td>
                    <td>s</td>
                    <td>הלך</td>
                </tr>
            </table>
        </p>
        <h3>Qal perfect</h3>
        <h4>Formele lui qal perfect</h4>
        <p>
            Pentru însușirea corectă a limbii ebraicie este necesară învățarea temeinică a paradigmelor verbale 
        </p>
        <table>
            <tr>
                <td>verb</td>
                <td>pronume</td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: right">קָטַל</td>
                <td></td>
                <td>3ms</td>
            </tr>
            <tr>
                <td style="text-align: right">קָטְלָה</td>
                <td></td>
                <td>3fs</td>
            </tr>
            <tr>
                <td style="text-align: right">קָטַלְתָּ</td>
                <td style="text-align: right">אַתָּה</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td style="text-align: right">קָטַלְתְּ</td>
                <td style="text-align: right">אַתְּ</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td style="text-align: right">קָטַלְתִּי</td>
                <td style="text-align: right">אֲנִי / אָנֹכִי</td>
                <td>1cs</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td style="text-align: right">קָטְלוּ</td>
                <td></td>
                <td>3cp</td>
            </tr>
            <tr>
                <td style="text-align: right">קְטַלְתֶּם</td>
                <td style="text-align: right">אַתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td style="text-align: right">קְטַלְתֶּן</td>
                <td style="text-align: right">אַתֵּן / אַתֵּנָה</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td style="text-align: right">קָטַלְנוּ</td>
                <td style="text-align: right">אֲנַחְנוּ</td>
                <td>1cp</td>
            </tr>
        </table>
    </br>
        <p>
            Forma de bază a lui qal perfect este forma 3ms: <font size="4"> קטל </font>. Celelalte forme se obțin 
            prin adăugarea de sufixe la forma 3ms. Sufixele sunt legate de pronumele personale, 
            cu excepția formelor de persoana a 3-a.
        </p>
        <p>
            În formele 2mp și 2fp, vocala de sub prima consoană este redusă de la vocala medie qameț 
            (<font size="4">&#1464;&#9744;</font>) la șva (<font size="4">&#1456;&#9744;</font>), deoarece vocalele 
            medii nu sunt permise în silabele deschise care se află la două sau mai multe silabe înainte de accent.
        </p>
        <p>
            În formele 3fs și 3cp, vocala tematică se reduce la șva (<font size="4">&#1456;&#9744;</font>).
        </p>
        <p>
            Accentul se pune pe penultima silabă în următoarele forme:<font size="4"> קָטַלְתָּ , קָטַלְתְּ ,קָטַלְתִּי , קָטַלְנוּ </font>
        </p>
        <p>
            Există două tipuri de verbe perfecte în Qal: "de acțiune" și "stative." Dacă un anumit verb este de 
            acțiune sau stativ va fi adesea indicat de vocala de sub cea de-a doua consoană, numită "vocala tematică". 
            Vocala tematică a verbelor de acțiune este patach (<font size="4">&#1463;&#9744;</font>). 
            Vocala tematică a verbelor stative este cel mai adesea țere (<font size="4">&#1461;&#9744;</font>), 
            dar uneori holem (<font size="4">&#1465;&#9744;</font>). Țere (<font size="4">&#1461;&#9744;</font>) 
            ca vocală tematică apare de obicei numai în forma 3ms; în celelalte forme apare patach 
            (<font size="4">&#1463;&#9744;</font>); de exemplu: <font size="4">כָּבֵד</font>, dar <font size="4">כָּבַדְנוּ</font>).
        </p>
        <h3>Utilizarea lui Qal Perfect</h3>
        <p>
            Conjugarea la perfect este folosită într-o varietate de moduri. Doar două utilizări sunt prezentate 
            în acest moment: "perfectul hotărât" și "perfectul stativ".
        </p>
        <p>
            Perfectul hotărât, o utilizare a verbelor de acțiune, exprimă o acțiune completă în trecut și este 
            cel mai bine tradus română cu un timp trecut simplu.</br>
            <font size="4">אָכַל</font> &#10232; (el) a mâncat</br>
            <font size="4">הָלַךְ</font> &#10232; (el) a mers</br>
            <font size="4">שָׁלַח</font> &#10232; (el) a trimis
        </p>
        <p>
            Perfectul stativ, o utilizare a verbelor stative, exprimă o "stare de a fi"; de exemplu, 
            "el este bătrân" și "ea este tânără" și este cel mai bine tradus în română cu un timp prezent.</br>
            <font size="4">כָּבֵד</font> &#10232; (el) este greu
        </p>
        <p>
            Utilizarea perfectului va fi aceeași în toate formele, cu excepția perfectului stativ, 
            care este o utilizare întâlnită doar în qal.
        </p>
        <p>Rețineți: trecerea de la un model la altul schimbă sensul verbului, dar trecerea de la o conjugare 
            la alta schimbă utilizarea verbului, adică momentul sau tipul de situație exprimată de verb.
        </p>

        <br>
        <div style="text-align: center;">
            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </div>
            <div class="right-sidebar"></div>
        </div>
        </main>
    </body>
</html>