<body>
    <div class="story-container">
      <header >
          <h1>Niphal: Rădăcini slabe</h1>
      </header>
      <main>
        <h3>I gutural</h3>
        <p>
            &#x1F449; Niphalul verbelor de la rădăcinile I guturale variază de la paradigma standard:
            <ol>
                <li> prin înlocuirea lui șva de sub prima literă a rădăcinii cu hatef 
                    segol (<font size="4">&#1457;&#9744;</font>) </li>
                <li> prin alungirea compensatorie a inițială a lui hireq (<font size="4">&#1460;&#9744;</font>) 
                    la țere (<font size="4">&#1461;&#9744;</font>) deoarece guturalul inițial nu ia dagesh puternic.</li>
            </ol>
        </p>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I gutural imperfect</td>
                <td style="width:25%">imperfect tare</td>
                <td style="width:25%">I gutural perfect</td>
                <td>perfect tare</td>
            </tr>
            <tr>
                <td>יֵעָמֵד</td>
                <td>יִקָּטֵל</td>
                <td>נֶעֱמַד</td>
                <td>נִקְטַל</td>
            </tr>
        </table>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I gutural participiu</td>
                <td style="width:25%">participiu tare</td>
                <td style="width:25%">I gutural imperativ</td>
                <td>imperativ tare</td>
            </tr>
    </br>
            <tr>
                <td>נֶעֱמָד</td>
                <td>נִקְטָל</td>
                <td>הֵעָמֵד</td>
                <td>הִקְטֵל</td>
            </tr>
        </table>
    </br>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I gutural waw relativ</td>
                <td style="width:25%">waw relativ tare</td>
                <td style="width:25%">I gutural inf const</td>
                <td>inf const tare</td>
            </tr>
            <tr>
                <td>וַיֵּעָמֵד</td>
                <td>וַיִּקָּטֵל</td>
                <td>הֵעָמֵד</td>
                <td>הִקְטֵל</td>
            </tr>
        </table></br>
        <h3>I nun</h3>
        <p>
            &#x1F449; Niphalul verbelor din rădăcinile I Nun variază de la paradigma standard mai ales în perfect și 
            participiu, unde nun-ul inițial al rădăcinii se asimilează cu a doua literă a rădăcinii.
        </p>
            
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I nun participiu</td>
                <td style="width:25%">participiu tare</td>
                <td style="width:25%">I nun perfect</td>
                <td>perfect tare</td>
            </tr>
            <tr>
                <td>נִצָּל</td>
                <td>נִקְטָל</td>
                <td>נִצַּל</td>
                <td>נִקְטַל</td>
            </tr>
        </table></br>
        <h3>I yod (waw)</h3>
        <p>
            &#x1F449; Niphalul verbelor din rădăcinile I Yod (waw) variază de la paradigma standard:
            <ol>
                <li> prin faptul că waw-ul original este păstrat datorită dageșului tare</li>
                <li> prin faptul că are un vestigiu al waw-ului original sub forma de holem-waw (<font size="4">&#64331;</font>).
            </ol>
        </p>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I yod (waw) imperfect</td>
                <td style="width:25%">imperfect tare</td>
                <td style="width:25%">I yod (waw) perfect</td>
                <td>perfect tare</td>
            </tr>
            <tr>
                <td>יִוָּשֵׁב</td>
                <td>יִקָּטֵל</td>
                <td>נוֹשַׁב</td>
                <td>נִקְטַל</td>
            </tr>
        </table>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I yod (waw) participiu</td>
                <td style="width:25%">participiu tare</td>
                <td style="width:25%">I yod (waw) imperativ</td>
                <td>imperativ tare</td>
            </tr>
    </br>
            <tr>
                <td>נוֹשָׁב</td>
                <td>נִקְטָל</td>
                <td>הִוָּשֵׁב</td>
                <td>הִקָּטֵל</td>
            </tr>
        </table>
    </br>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">I yod (waw) waw relativ</td>
                <td style="width:25%">waw relativ tare</td>
                <td style="width:25%">I yod (waw) inf const</td>
                <td>inf const tare</td>
            </tr>
            <tr>
                <td>וַיִּוָּשֵׁב</td>
                <td>וַיִקָּטֵל</td>
                <td>הִוָּשֵׁב</td>
                <td>הִקָּטֵל</td>
            </tr>
        </table></br>
        <h3>III he</h3>
        <p>
            &#x1F449; Niphalul verbelor din rădăcinile III He variază de la paradigma standard cu practic 
            aceleași terminații ca în qal, piel și hiphil. La perfect, niphalul are de obicei
            <font size="4">&#1497;&#8239;&#1461;&#9744; </font> în loc de <font size="4">&#1497;&#8239;&#1460;&#9744;</font>.
            <i>Exemplu:</i> <font size="4">נִגְלֵינוּ</font> în loc de <font size="4">גָּלִינוּ</font>
        </p>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">III he niphal imperfect</td>
                <td style="width:25%">III he qal imperfect</td>
                <td style="width:25%">III he niphal perfect</td>
                <td>III he niphal perfect</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>גָּלָה</td>
            </tr>
        </table>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">III he niphal participiu</td>
                <td style="width:25%">III he qal participiu</td>
                <td style="width:25%">III he niphal imperativ</td>
                <td>III he qal imperativ</td>
            </tr>
    </br>
            <tr>
                <td>הִגָּלֶה</td>
                <td>גֹּלֵה</td>
                <td>הִגָּלֵה</td>
                <td>גְּלֵה</td>
            </tr>
        </table>
    </br>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:25%">III he niphal inf abs</td>
                <td style="width:25%">III he qal inf abs</td>
                <td style="width:25%">III he niphal inf const</td>
                <td>III he qal inf const</td>
            </tr>
            <tr>
                <td>הִגָּלֵה</td>
                <td>גָּלוֹה</td>
                <td>הִגָּלוֹת</td>
                <td>גְּלוֹת</td>
            </tr>
        </table></br>
        <table style="width:75%" align="center">
            <tr>
                <td style="width:33%">III he niphal waw relativ</td>
                <td style="width:33%">III he niphal iusiv</td>
                <td>III he niphal imperfect</td>
            </tr>
            <tr>
                <td>וַיִגָּל</td>
                <td>יִגָּל</td>
                <td>יִגָּלֶה</td>
            </tr>
        </table></br>

<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>