{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="story-container">
    <header >
        <h1>Pronumele personal și articolul hotărât</h1>
    </header>
    <main>
    <h3> Pronumele personal </h3>
    <h4>Formele pronumelui personal</h4>

    <table>
        <tr>
            <td><i>pers. a III-a, m pl</i></td>
            <td>ei </td>
            <th>הֵם / הֵמָּה</th>
        </tr>
        <tr>
            <td><i>pers. a III-a, f pl</i></td>
            <td>ele <i></td>
            <th>הֵנָּה</th>
        </tr>
        <tr>
            <td><i>pers. a II-a, m pl</i></td>
            <td>voi</td>
            <th>אַתֶּם</th>
        </tr>
        <tr>
            <td><i>pers. a II-a, f pl</i></td>
            <td>voi</td>
            <th>אַתֶּן / אַתֵּנָה</th>
        </tr>
        <tr>
            <td><i>pers.  I, comun pl</i></td>
            <td>noi</td>
            <th>אֲנַחנוּ</th>
        </tr>
        <tr>
            <td><i>pers. a III-a, m sg</i></td>
            <td>el</td>
            <th>הוּא</th>
        </tr>
        <tr>
            <td><i>pers. a III-a, f sg</i></td>
            <td>ea</td>
            <th>הִי</th>
        </tr>
        <tr>
            <td><i>pers. a II-a, m sg</i></td>
            <td>tu</td>
            <th>אַתָּה</th>
        </tr>
        <tr>
            <td><i>pers. a II-a, f sg</i></td>
            <td>tu</td>
            <th>אַתְּ</th>
        </tr>
        <tr>
            <td><i>pers. a I-a, comun sg</i></td>
            <td>eu</td>
            <th>אֲנִי / אָנֹכִי</th>
        </tr>
      </table></p>
<p>Aceste pronume personale sunt folosite doar ca subiect al unei propoziții. Spre deosebire de limba
    română unde pronumele poate fi subînțeles "Sunt tată", în ebraică este subînțeles verbul "Eu tată":</br>
    <font size="5">אֲנִי אָב</font></br>
    Subiectul este partea de propoziție despre care se spune ceva - Ani (eu) iar predicatul este partea
    de propoziție care ne spune ceva despre subiect.
</p>
<p>
    De asemenea ordinea cuvintelor este variabilă.</br>
    <font size="3">אֲנִי אָב</font> &#10232; Eu (sunt) tată</br>
    <font size="3">הִיא אֵם</font> &#10232; Ea (este) mamă</br>
    <font size="3">בֵּן אַתָּה</font> &#10232; Tu (ești) fiu
</p>
<p>
    Subiectul se acordă cu predicatul în număr și gen; de exemplu, dacă predicatul este fs, 
    subiectul este fs; sau dacă predicatul este mp, subiectul este mp.</br>
    <font size="3">בַּת אַתְּ</font> &#10232; Tu (ești) fiică</br>
    <font size="3">הֵם אֵלִים</font> &#10232; Ei (sunt) zei</br>
</p>

<h3>Articolul definit</h3>
<h4>Forma de bază</h4>
<p>
    Ebraica nu are articol nehotărât așa cum în romănă avem "un frate" sau "o mașină". Astfel, <font size="3">אָח</font>
    poate fi "frate" sau "un frate" în funcție de context.
</p>
<p>
    Spre deosebire de limba română unde articolul hotărât este sufix, în ebraică este prefix și are trei părți. (1) Litera
    <font size="3">&#1492;</font>, (2) care are atașat patah <font size="3">&#1463;&#9744;</font> și (3) dagheș 
    tare pe prima literă a cuvântului.</br>
    <font size="3">הַסּוּס</font> &#10232; calul</br>
    <font size="3">הַדָּבָר</font> &#10232; cuvântul</br>
    <font size="3">הַמֶּלֶךְ</font> &#10232; regele</br>
 </p>

<h4> Articol hotărât și literele guturale + reș </h4>
    <p>
        În pagina cu alfeabetul sunt prezentate guturalele + reș și faptul că au câteva caracteristici speciale. 
        Caracteristica literelor guturale nr. 1 este că nu au niciodată dageș. Astfel, forma articolului 
        definit va fi ușor diferită la cuvintele care încep cu literă guturală sau cu litera reș.
    </p>
    <p>
        La substantivele care încep cu <font size="3">&#1492;</font> și <font size="3">&#1495;</font>, articolul 
        este <font size="3">הַ</font>, fără dagheș tare, adică fără dublarea primei consoane. Aceste cuvinte 
        sunt tratate "ca și cum" prima literă ar fi dublată; acest lucru se numește "dublare virtuală".</br>
        <font size="3">הַהוֹד</font> &#10232; splendoarea</br>
        <font size="3">הַחֵץ</font> &#10232; săgeata</br>
    </p>
    <p>
        La substantivele care încep cu <font size="3">&#1488;</font>, <font size="3">&#1506;</font>, și 
        <font size="3">&#1512;</font>, articolul este <font size="3">הַ</font>. Pentru a "compensa" 
        lipsa dublării primei litere, vocala scurtă <font size="3">&#1463;&#9744;</font> se prelungește 
        până la vocala medie <font size="3">&#1464;&#9744;</font> acest lucru se numește "lungire compensatorie".</br>
        <font size="3">הָאָב</font> &#10232; tatăl</br>
        <font size="3">הָעִיר</font> &#10232; orașul</br>
        <font size="3">הָרֶכֶב</font> &#10232; carul, căruța
    </p>
    <p>
        La substantivele care încep cu <font size="3">הָ</font> cu <font size="3">חָ</font> sau cu <font size="3">עָ</font> 
        articolul hotărât este de obicei <font size="3">חֶ</font></br>
        <font size="3">חֶחָמָס</font> &#10232; greșeala</br>
        <font size="3">הֶהָרִם</font> &#10232; munții</br>
        <font size="3">הֶעָכִים</font> &#10232; norii
    </p>



</br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    </body>

    </div>
</body>
