{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header >
          <h1>Sufixul posesiv - substantive la singular</h1>
      </header>
      <main>
        <h3> Sufixul posesiv </h3>
        <p>
            În limba română posesia este arătată de pronumele posesiv care urmează substantivului <i> calul meu, 
            calul tău, calul ei/lui.</i> 
        </p>
        <h3>Forma sufixelor</h3>
        <table>
            <tr>
                <td>calul lui</td>
                <td>3ms</td>
                <td>סוּסוֹ</td>
                <td>=</td>
                <td>וֹ</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul ei</td>
                <td>3fs</td>
                <td>סוּסָהּ</td>
                <td>=</td>
                <td> &#1492;&#1468;&#8239;&#1464;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul tău</td>
                <td>2ms</td>
                <td>סוּסְךָ</td>
                <td>=</td>
                <td> &#1498;&#1464;&#8239;&#1456;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul tău</td>
                <td>2fs</td>
                <td>סוּסֵךְ</td>
                <td>=</td>
                <td>&#1498;&#1456;&#8239;&#1461;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul meu</td>
                <td>1cp</td>
                <td>סוּסִי</td>
                <td>=</td>
                <td>&#1497;&#8239;&#1460;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>calul lor</td>
                <td>3mp</td>
                <td>סוּסָם</td>
                <td>=</td>
                <td>&#1502;&#8239;&#1464;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul lor</td>
                <td>3fp</td>
                <td>סוּסָן</td>
                <td>=</td>
                <td>&#1503;&#8239;&#1464;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul vostru</td>
                <td>2mp</td>
                <td>סוּסְכֶם</td>
                <td>=</td>
                <td>&#1499;&#1462;&#1501;&#8239;&#1456;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul vostru</td>
                <td>2fp</td>
                <td>סוּסְכֶן</td>
                <td>=</td>
                <td>&#1499;&#1462;&#1503;&#8239;&#1456;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
            <tr>
                <td>calul nostru</td>
                <td>1cp</td>
                <td>סוּסֵנוּ</td>
                <td>=</td>
                <td>&#1504;&#1493;&#1468;&#8239;&#1461;&#9744;</td>
                <td>+</td>
                <td>סוּס</td>
            </tr>
        </table>
        </br>
        <i>Punctul din he (<font size="4">&#1492;</font>) al sufixului 3fs se numește <b>mappiq</b> și indică 
            faptul că he este o consoană, nu o vocală, și face distincția, de exemplu, 
            între <font size="4">סוּסָה </font> <b>o iapă</b> și <font size="4">סוּסָהּ </font>= "calul ei".
            Mappiq apare mai ales în acest sufix.</i></br>

        <h3>Forma diferitelor substantive înainte de sufixe</h3>
        <p>
            Deoarece adăugarea unui sufix posesiv la un substantiv are ca rezultat mutarea accentului la sufix, 
            natura silabelor precedente se va schimba și, ca urmare, vocalele se vor schimba în conformitate 
            cu <a href="{% url 'substantiv_doi' %}">regulile prezentate deja</a>.
        </p>
        <h4>Forme precum דָּבָר</h4>
        <p>
            Deoarece adăugarea sufixului posesiv este similară cu adăugarea sufixului de plural, forma 
            substantivului cu sufixe posesive va fi similară cu forma substantivului la plural, adică,
            <font size="4">דָּבָר</font> &#10232; <font size="4">דְּבָרִם</font> așa că:</br>
            <font size="4">דָּבָר</font> &#10232; <font size="4">דְּבָרוֹ</font> cuvântul lui</br>
            <font size="4">לֵבָב</font> &#10232; <font size="4">לְבָבוֹ</font> inima lui</br>
            <font size="4">מָקוֹם</font> &#10232; <font size="4">מְקוֹמוֹ</font> locul lui</br>
            <font size="4">נָבִיא</font> &#10232; <font size="4">נְבִיאוֹ</font> profetul lui</br>
        </p>
        <p>
            Principala schimbare este că vocalele medii din silabele deschise propretonice 
            se reduc la sheva (<font size="4">&#1456;&#9744;</font>).
        </p>
        <h4>Forme precum סֵפֶר ,נֶפֶשׁ și בֹּקֶר</h4>
        <p>
            Vocalele din substantivele segolate cu sufixe nu pot fi explicate prin regulile de reducere
             a vocalelor; de exemplu, <font size="4">נֶפֶשׁ</font> &#10232; <font size="4">נַפְשׁוֹ</font>. 
             Inițial,substantivele segolate erau substantive cu o singură silabă cu un <i>a</i>, <i>i</i> sau <i>u</i> 
             scurt după prima consoană. Vocala scurtă inițială este păstrată în formele cu sufix posesiv.
            <table>
                <tr>
                    <th>clasa <i>a</i></th>
                    <td>sufletul lui</td>
                    <td>נַפְשׁוֹ</td>
                    <td>נֶפֶשׁ</td>
                </tr>                <tr>
                    <th>clasa <i>i</i></th>
                    <td>cartea lui</td>
                    <td>סִפְרוֹ</td>
                    <td>סֵפֶר</td>
                </tr>                <tr>
                    <th>clasa <i>u</i></th>
                    <td>dimineața lui</td>
                    <td>בָּקְרוֹ</td>
                    <td>בֹּקֶר</td>
                </tr>
            </table>
        </p>
        <p>
            Substantivele cu țere (<font size="4">&#1461;&#9744;<font>) în prima silabă vor fi întotdeauna 
            segolate de clasa "i". Substantivele cu holem (<font size="4">&#1465;&#9744;<font>) în prima 
            silabă vor fi întotdeauna segolate de clasa "u"; <font size="4">&#1464;&#9744;<font> 
            din <font size="4">בָּקְרוֹ<font> este vocala scurtă de clasa "u" qameț-hatuf.
        </p>
        <h4>Forme precum עַם</h4>
        <p>
            Substantivele din <a href="{% url 'adjectiv' %}"> rădăcini geminate</a> vor arăta geminare 
            atunci când se adaugă sufixe posesive, la fel ca atunci când se adaugă sufixul plural, 
            de exemplu, <font size="4">עַם</font> &#10232; <font size="4">עַמִּים</font>, deci 
            <font size="4">עַם</font> &#10232; <font size="4">עַמִּוֹ</font> = poporul său. Alte exemple 
            sunt <font size="4">אֵם</font> &#10232; <font size="4">אִמּוֹ</font> = mama lui 
            și <font size="4">לֵב</font> &#10232; <font size="4">לִבּוֹ</font> = inima lui.
        </p>
        <h4>Forme precum בַּיִת</h4>
        <p>
            Deoarece diftongii se contractă în silabele neaccentuate, ca în <a href="{% url 'construct_sg' %}"> 
             forma de construct</a>, diftongul se va contracta atunci când se adaugă un sufix posesiv, 
             de exemplu, <font size="4">בַּיִת</font> &#10232; <font size="4">בֵּיתוֹ</font> = "casa lui" 
             și <font size="4">עַיִן</font> &#10232; <font size="4">עֵינוֹ</font> = "ochiul lui".
        </p>
        <h3>Substantive cu forme deosebite în construcție și cu sufixe posesive</h3>
        <table>
            <tr>
                <td></td>
                <td>cu sufix</td>
                <td>construct</td>
                <td></td>
            </tr>
            <tr>
                <td>tatăl tău</td>
                <td>אָבִיךָ</td>
                <td>אֲבִי</td>
                <td>אָב</td>
            </tr>
            <tr>
                <td>soția ta</td>
                <td>אשְׁתְּךָ</td>
                <td>אֵשֶׁת</td>
                <td>אִשָּׁה</td>
            </tr>
            <tr>
                <td>fiica ta</td>
                <td>בִּתּךָ</td>
                <td>בַּת</td>
                <td>בַּת</td>
            </tr>
        </table>
        <p>
            &#x1F449; <font size="4">בַּת</font> <i>fiică</i> este de fapt substantivul <font size="4">בֵּן</font> <i>fiu</i>
             cu femininul <font size="4">ת</font> adăugat, 
             rezultând <font size="4">בִּנת</font> &#10232; <font size="4">בִּת</font>, cu 
             asimilarea lui nun (<font size="4">&#1504;</font>), indicată prin dagesh puternic 
             atunci când se adaugă un sufix. Originalul hireq (<font size="4">&#1460;&#9744;<font>) s-a deplasat
             la patah (<font size="4">&#1463;&#9744;<font>), iar vocala originală de clasă <i>i</i> este păstrată în 
             forma cu sufixul posesiv, <font size="4">בִּתּךָ</font>. De asemenea, se remarcă originalul 
             nun (<font size="4">&#1504;</font>) în pluralul <font size="4">בִּנוֹת</font> (<i>fiice</i>).
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>