{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header >
          <h1>(Nu) este, (nu) are</h1>
      </header>
      <main>
        <h3>Este, nu este, în ebraică</h3>
        <p>
            Este, a exista, <b>timpul prezent</b>.</br>
            &#x1F449; Pentru a exprima existența la timpul prezent se folosește particula <font size="4">יֵשׁ</font></br>.
            <font size="4">יֵשׁ נַעַר בַּבַּיִת</font> Este un băiat în casă</br>
            <font size="4">יֵשׁ נְעָרִם בַּבַּיִת</font> Sunt băieți în casă</br>
            &#x1F449; <i><font size="4">יֵשׁ</font> nu se acordă în persoană, gen și număr.</i></br> 
            &#x1F449; <i> Pentru a negarea existenței la timpul prezent se folosește particula
                <font size="4">אֵין</font> </i></br> 
            <font size="4">אֵין נַעַר בַּבַּיִת</font> nu este nici un băiat în casă</br>
            <font size="4">אֵין נְעָרִים בַּבַּיִת</font> nu sunt băieți în casă</br>
            &#x1F449; <i><font size="4">אֵין</font> nu se acordă în persoană, gen și număr.</i></br> 
        </p>
        <p>
            Este, a exista, <b>timpul trecut</b>.</br>
            &#x1F449; Pentru a exprima <i>a fost</i> la timpul trecut, se folosesc formele
             3ms și 3cp ale verbului <font size="4">הָיָה</font>.</br>
            <font size="4">הָיָה נַעַר בַּבַּיִת</font> a fost un băiat în casă</br>
            <font size="4">הָיָה נְעָרִים בַּבַּיִת</font> erau băieți în casă</br>
            &#x1F449; Pentru a nega existența la timpul trecut, se adaugă <font size="4">לֹא</font>
            <font size="4">לֹא הָיָה נַעַר בַּבַּיִת </font> nu era nici un băiat în casă</br>
            <font size="4">לֹא הָיָה נְעָרִים בַּבַּיִת </font> nu au fost băieți în casă</br>
        </p>
        <h3>Are, nu are, în ebraică</h3>
        <p>
            Are, <b>timpul prezent</b>.</br>
            &#x1F449; Pentru a exprima <i>a avea</i> în timpul prezent, particula <font size="4">יֵשׁ</font> este 
            folosită cu prepoziția <font size="4">לְ</font>.
            <font size="4">יֵשׁ לָאָב בֵּן</font> tatăl are un fiu</br>
            <font size="4">יֵשׁ לִי בֵּן</font> am un băiat</br>
            &#x1F449; Pentru a exprima <i>a nu avea</i> în timpul prezent, particula <font size="4">אֵין</font> este
            folosită cu prepoziția <font size="4">לְ</font>.
            <font size="4">אֵין לָאָב בֵּן</font> tatăl nu are un fiu</br>
            <font size="4">אֵין לִי בֵּן</font> nu am un băiat</br>
        </p>
        <p>
            A avut, <b>timpul trecut</b>.</br>
            &#x1F449; Pentru a exprima <i>a avut</i> la timpul trecut, este folosit perfectul lui <font size="4">הָיָה</font> 
            împreună cu prepoziția <font size="4">לְ</font>.</br>  
            <font size="4">הָיָה לָאָב בֵּן</font> tatăl a avut un fiu</br>
            <font size="4">הָיָה לִי בֵּן</font> am avut un fiu</br>
            <font size="4">הָיוּ לָאָב בָּנִים</font> tatăl a avut fii</br>
            <font size="4">הָיוּ לִי בָּנִים</font> am avut fii.</br>
            &#x1F449; Forma lui <font size="4">הָיָה</font> trebuie să fie în concordanță cu ceea ce este posedat.</br>
            &#x1F449; Pentru a exprima <i>a nu avea</i> în timp trecut se adaugă <font size="4">לֹא</font>.
            <font size="4">לֹא הָיה לָאָב בֵּן</font> tatăl nu a avut un fiu</br>
            <font size="4">לֹא הָיה לִי בֵּן</font> eu nu am avut un fiu</br>
        </p>
        <p>
            Voi avea, <b>timpul viitor</b>.</br>
            &#x1F449; Pentru a exprima <i>a avea</i> în timp viitor se folosește impf de la <font size="4">הָיָה</font> 
            împreună cu prepozițial <font size="4">לְ</font>.
            <font size="4">יִהְיֶה לָאָב בֵּן</font> tatăl va avea un fiu</br>
            <font size="4">יִהְיוּ לִי בָּנִים</font> eu voi avea fii</br>
            &#x1F449; Pentru a exprima <i>a nu avea</i> în timpul viitor se adaugă <font size="4">לֹא</font>.
            <font size="4">לֹא יִהְיֶה לָאָב בֵּן</font> tatăl va avea un fiu</br>
            <font size="4">לֹא יִהְיוּ לִי בָּנִים</font> eu nu voi avea fii</br>
        </p>
        <h3>O altă utilizare a lui הָיָה לְ</h3>
        <p>
            <font size="4">הָיָה לְ</font> este folosit în sensul de <i>a deveni</i>.</br>
            <font size="4">הָיָה הָאִישׁ לְאָב</font> bărbatul a devenit tată</br>
            <font size="4">תִּהְיֶה הָאִשָּׁה לְאֵם</font> femeia va deveni mamă</br>
        </p>
        <h3>O altă utilizare a lui אֵין</h3>
        <p>
            <font size="4">אֵין</font> este folosit pentru a nega propoziții cu pronume.</br>
            <font size="4">אֵין אתָּה הֹלֵךְ</font> tu (<i>ms</i>) nu mergi</br>
            <font size="4">אֵין אַתְּ הֹלֶכֶת</font> tu (<i>fs</i>) nu mergi</br>
            &#x1F449; În astfel de construcții, <font size="4">אֵין</font> este folosit de obicei cu 
            sufixe pronominale, mai degrabă decât cu pronume personale independente.</br>
            <font size="4">אֵינְךָ הֹלֵךְ</font> tu (<i>ms</i>) nu mergi</br>
            <font size="4">אֵינֵךְ הֹלֶכֶת</font> tu (<i>fs</i>) nu mergi</br>
            &#x1F449; Iată formele de <font size="4">אֵין</font>  cu sufixe pronominale.
            <table>
                <tr>
                    <td>3mp</td>
                    <td>אֵינָם</td>
                    <td></td>
                    <td>3ms</td>
                    <td>אֵינֶנּוּ</td>
                </tr>
                <tr>
                    <td>3fp</td>
                    <td></td>
                    <td></td>
                    <td>3fs</td>
                    <td>אֵינֶנָּה</td>
                </tr>
                <tr>
                    <td>2mp</td>
                    <td>אֵינְכֶם</td>
                    <td></td>
                    <td>2ms</td>
                    <td>אֵינְךָ</td>
                </tr>
                <tr>
                    <td>2fp</td>
                    <td></td>
                    <td></td>
                    <td>2fs</td>
                    <td>אֵינֵךְ</td>
                </tr>
                <tr>
                    <td>1cp</td>
                    <td>אֵינֶנּוּ</td>
                    <td></td>
                    <td>1cs</td>
                    <td>אֵינֶנִּי</td>
                </tr>
            </table>
        </p>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>