<body>
    <div class="story-container">
      <header >
          <h1>Piel: rădăcini slabe</h1>
      </header>
      <main>
        <h3>Rădăcinile slabe Piel</h3>
        <p>
            &#x1F449; Rădăcinile slabe sau găunoase fac ca verbele piel să se abată de la paradigma standard, 
            așa cum este cazul în qal. Variațiile sunt similare cu cele învățate în qal. Rădăcinile II guturale
             și III He prezintă variații.
        </p>
        <p>
            <b>II Gutural</b></br>
            &#x1F449; Deoarece consoana din mijloc este o guturală, care nu poate lua un dagesh puternic, 
            caracteristic pentru piel, verbele II guturale diferă de paradigma standard. 
            <ol>
                <li> nu au dagesh în consoana din mijloc;</li>
                <li> au o alungire compensatorie a vocalei precedente.</li>
            </ol>
            <table>
                <tr>
                    <th>II gutural imperfect</th>
                    <th>imperfect</th>
                    <th>II gutural perfect</th>
                    <th>perfect</th>
                    <th></th>
                </tr>
                <tr>
                    <td>יְבָרֵךְ</td>
                    <td>יְקַטֵּל</td>
                    <td>בֵּרֵךְ</td>
                    <td>קִטֵּל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תְּבָרֵךְ</td>
                    <td>תְּקַטֵּל</td>
                    <td>בֵּרְכָה</td>
                    <td>קִטְּלָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תְּבָרֵךְ</td>
                    <td>תְּקַטֵּל</td>
                    <td>בֵּרַכְתָּ</td>
                    <td>קִטַּלְתָּ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>תְּבָרֲכִי</td>
                    <td>תְּקַטֵּלִי</td>
                    <td>בֵּרַכְתְּ</td>
                    <td>קִטַּלְתְּ</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>אֲבָרֵךְ</td>
                    <td>אֲקַטֵּל</td>
                    <td>בֵּרַכְתִּי</td>
                    <td>קִטַּלְתִּי</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>יְבָרֲכוּ</td>
                    <td>יְקַטְּלוּ</td>
                    <td>בֵּרְכוּ</td>
                    <td>קִטְּלוּ</td>
                    <td>3c/mp</td>
                </tr>
                <tr>
                    <td>תְּבָרֵכְנָה</td>
                    <td>תְּקַטֵּלְנָה</td>
                    <td></td>
                    <td></td>
                    <td>3fp</td>
                </tr>
                <tr>
                    <td>תְּבָרֲכוּ</td>
                    <td>תְּקַטְּלוּ</td>
                    <td>בֵּרַכְתֶּם</td>
                    <td>קִטַּלְתֶּם</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>תְּבָרֵכְנָה</td>
                    <td>תְּקַטֵּלְנָה</td>
                    <td>בֵּרַכְתֶּן</td>
                    <td>קִטַּלְתֶּן</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>נְבָרֵךְ</td>
                    <td>נְקַטֵּל</td>
                    <td>בֵּרַכְנוּ</td>
                    <td>קִטַּלְנוּ</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <table>
            <tr>
                <th>II gutural participiu</th>
                <th>participiu</th>
                <th>II gutural imperativ</th>
                <th>imperativ</th>
                <th></th>
            </tr>
            <tr>
                <td>מְבָרֵךְ</td>
                <td>מְקַטֵּל</td>
                <td>בָּרֵךְ</td>
                <td>קַטֵּל</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>מְבָרֶכֶת</td>
                <td>מְקַטֶּלֶת</td>
                <td>בָּרֲכִי</td>
                <td>קַטְּלִי</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>מְבָרְכִים</td>
                <td>מְקַטְּלִים</td>
                <td>בָּרֲכוּ</td>
                <td>קַטְּלוּ</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>מְבָרְכוֹת</td>
                <td>מְקַטְּלוֹת</td>
                <td>בָּרֵכְנָה</td>
                <td>קַטֵּלְנָה</td>
                <td>2fp</td>
            </tr>        
        </table>
    </br>
        <table>
            <tr>
                <th>II gutural inf abs</th>
                <th>infinitiv absolut</th>
                <th>II gutural inf constr</th>
                <th>infinitiv construct</th>
            </tr>
            <tr>
                <td>בָּרֵךְ / בָּרוֹךְ</td>
                <td>קַטֹּל</td>
                <td>בָּרֵךְ</td>
                <td>קַטֵּל</td>
            </tr>
        </table>
        <p>
            III He
            <table>
                <tr>
                    <th>III He piel imperfect</th>
                    <th>III He qal imperfect</th>
                    <th>III He piel perfect</th>
                    <th>III He qal perfect</th>
                    <th></th>
                </tr>
                <tr>
                    <td>יִגַּלֶּה</td>
                    <td>יִגְּלֶה</td>
                    <td>גִּלָּה</td>
                    <td>גָּלָה</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תְּגַּלֶּה</td>
                    <td>תִּגְּלֶה</td>
                    <td>גִּלְּיתָה</td>
                    <td>גָּלְתָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תְּגַּלֶּה</td>
                    <td>תִּגְּלֶה</td>
                    <td>גִּלִּיתָ</td>
                    <td>גָּלִיתָ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>תְּגַּלִּי</td>
                    <td>תִּגְּלִי</td>
                    <td>גִּלִּית</td>
                    <td>גָּלִית</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>אֲגַלֶה</td>
                    <td>אֶגְלֶה</td>
                    <td>גִּלִּיתִי</td>
                    <td>גָּלִיתִי</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>יְגַלוּ</td>
                    <td>יִגְלוּ</td>
                    <td>גִּלוּ</td>
                    <td>גָּלוּ</td>
                    <td>3c/mp</td>
                </tr>
                <tr>
                    <td>תְגַּלֶינָה</td>
                    <td>תִּגְּלֶינָה</td>
                    <td></td>
                    <td></td>
                    <td>3fp</td>
                </tr>
                <tr>
                    <td>תְגַּלוּ</td>
                    <td>תִגְּלוּ</td>
                    <td>גִּלִיתֶם</td>
                    <td>גְּלִיתֶם</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>תְגַּלֶינָה</td>
                    <td>תִּגְּלֶינָה</td>
                    <td>גִּלִיתֶן</td>
                    <td>גְּלִיתֶן</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>נְגַּלֶּה</td>
                    <td>נִגְּלֶה</td>
                    <td>גִּלִינוּ</td>
                    <td>גָּלִינוּ</td>
                    <td>1cp</td>
                </tr>
            </table>
        </br>
        <table>
            <tr>
                <th>III He piel participiu</th>
                <th>III He qal participiu</th>
                <th>III He piel imperativ</th>
                <th>III He qal imperativ</th>
                <th></th>
            </tr>
            <tr>
                <td>מְגַלֶּה</td>
                <td>גֹּלֶה</td>
                <td>גַּלֵה</td>
                <td>גְּלֵה</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>מְגַלָּה</td>
                <td>גֹּלָה</td>
                <td>גַּלִי</td>
                <td>גְּלִי</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>מְגַלִּים</td>
                <td>גֹּלים</td>
                <td>גַּלּוּ</td>
                <td>גְּלוּ</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>מְגַּלּוֹת</td>
                <td>גֹּלוֹת</td>
                <td></td>
                <td>גְּלֶּינָה</td>
                <td>2fp</td>
            </tr>
        </table>
        </br>
        <table>
            <tr>
                <th>III He piel inf abs</th>
                <th>III He qal inf abs</th>
                <th>III He piel inf constr</th>
                <th>III He qal inf constr</th>
            </tr>
            <tr>
                <td>גַּלֹּה</td>
                <td>גָּלֹה</td>
                <td>גַּלּוֹת</td>
                <td>גְּלוֹת</td>
            </tr>        
        </table>
        </br>
        <table>
            <tr>
                <th>II gutural imperfect</th>
                <th>imperfect</th>
                <th>II gutural perfect</th>
                <th>perfect</th>
                <th></th>
            </tr>
            <tr>
                <td>וַיְגַל</td>
                <td>וַיִּגֶל</td>
                <td>יְגַל</td>
                <td>יִגֶל</td>
                <td>3ms</td>
            </tr>
        </table>
        </p>
        <h3>Rădăcina צוה</h3>
        <p>
            &#x1F449; Rădăcina <font size="4">צוה</font> nu este găunoasă; waw (<font size="4">&#1493;</font>) este consoană. 
            Această rădăcină este folosită ca verb în principal la piel (<i>a porunci</i>). (Este folosită și în 
            substantivul <font size="4">מִצְוָה</font> <i>poruncă</i>.) În formele verbale din această rădăcină,
            <font size="4">&#64309;</font> nu este șureq, ci waw cu dagesh tare; de exemplu,
             <font size="4">יְצַוֶּה ,צִוִּיתִי ,צִוָּה</font> și <font size="4">מְצַוֶּה</font>}. Infiniticul constuct este de 
             obicei ortografiat defectuos, <font size="4">צַוֹּת</font> pentru <font size="4">צַוּוֹת</font>.
        </p>

        <div style="text-align: center;">

        <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </main>
    </div>
    <div class="right-sidebar"></div>
    </body>
</html>