{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> {% endcomment %}

<body>
    <div class="story-container">
      <header >
          <h1>Qal volitiv</h1>
      </header>
      <main>
        <h3>Volitivul</h3>
        <p>
            Volitivele (din latinescul volo = <i>a vrea</i>) sunt forme verbale care sunt folosite 
            pentru a exprima voința vorbitorului. Ebraica are trei volitive:</br>
            &#x1F449; Cohortativ: volitiv la persoana întâi, de exemplu, <i>Lasă-mă să ascult!</i></br>
            &#x1F449; Imperativ: volitiv la persoana a doua, de exemplu, <i>Ascultă!</i></br>
            &#x1F449; Iusiv: volitiv la persoana a treia, de exemplu, <i>Lasă-l să asculte!</i></br>
        </p>
        <p>
            Volitivele au forme speciale, precum și utilizarea specială de exprimare a voinței vorbitorului.</br>
            &#x1F449; Există un <i>iusiv de persoana a 2-a</i> care are o formă asemănătoare cu cea a unui iusiv, 
            dar care are rolul de a exprima voința celei de-a doua persoane. Acest <i>iusiv de persoana a 2-a</i>
            este folosit în primul rând într-un singur context; vezi mai jos despre <i><b>Volitivele la negațiv</b></i>.
        </p>
        <h3>Cohortativul</h3>
        <p>
            Cohortativul este la persoana întâi impf, la care se adaugă <font size="4"> &#1492;&#8239;&#1464;&#9744;</font>.</br>
            <font size="4"> &#1492;&#8239;&#1464;&#9744;</font> nu trebuie confundat 
            cu <font size="4"> &#1492;&#8239;&#1464;&#9744;</font> care desemnează fs.
            <table>
                <tr>
                    <td></td>
                    <td>cohortativ</td>
                    <td>imperfect</td>
                </tr>
                <tr>
                    <td>lasă-mă să scriu</td>
                    <td>אֶכְתְּבָה</td>
                    <td>אֶכְתֹּב</td>
                </tr>
                <tr>
                    <td>haideți să scriem</td>
                    <td>נִכְתְּבָה</td>
                    <td>נִכְתֹּב</td>
                </tr>
            </table></br>
            Deoarece holemul mediu (<font size="4">&#1465;&#9744;</font>) se termină într-o silabă pretonică 
            deschisă, holem se reduce la șva, ca în <font size="4">יִקְטֹל</font>&#10232;<font size="4">יִקְטְלוּ</font>.</br>
        </p>
        <p>
            Qal verbe slabe.</br>
            <table>
                <tr>
                    <td></td>
                    <td>cohortativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>lasă-mă să cad</td>
                    <td>אֶפְּלָה</td>
                    <td>אֶפֹּל</td>
                    <td>I nun</td>
                </tr>                
                <tr>
                    <td>lasă-mă să stau</td>
                    <td>אֵשֵׁב</td>
                    <td>אֵשְׁבָה</td>
                    <td>I yod (waw)</td>
                </tr>                
                <tr>
                    <td>אֶעֶמְדָה</td>
                    <td>אֶעֱמֹד</td>
                    <td>lasă-mă să mă ridic</td>
                    <td>I gutural</td>
                </tr>
            </table></br>
            <i>Două șeva vocale la rând nu sunt permise în limba ebraică, astfel că, sub 
                ayin (<font size="4">&#1506;</font>), se schimbă vocala așteptată 
                hatef-segol (<font size="4">&#1457;&#9744;</font>) cu vocala scurtă corespunzătoare, 
                segol (<font size="4">&#1462;&#9744;</font>).</i></br></br>
            <table>
                <tr>
                    <td></td>
                    <td>cohortativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lasă-mă să plec</td>
                    <td>אֶגְלֶה</td>
                    <td>אֶגְלֶה</td>
                    <td>III hei</td>
                </tr> 
            </table></br>
                Deoarece forma la persoana întâi se termină deja cu o vocală, nu se poate 
                adăuga <font size="4"> &#1492;&#8239;&#1464;&#9744;</font>. Contextul va
                 determina dacă o traducere impf sau coh este adecvată.          
        </p>
        <h3>Imperativul</h3>
        <p>
            Qal verbe tari.</br>
            Imperativul, ca și infinitivul constuct, este înrudit cu imperfectul. Practic, imperativul 
            este imperfect de persoana a doua fără prefix.</br>
            <table>
                <tr>
                    <td>imperativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>קְטֹל</td>
                    <td>תִּקְטֹל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>קִטְלִי</td>
                    <td>תִּקְטְלִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>קִטְלוּ</td>
                    <td>תִּקְטְלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>קְטֹלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>2fp</td>
                </tr>
            </table></br>
            <i>Odată cu dispariția prefixului, primul șva devine vocal, rezultând două 
                șva vocale consecutive la rând în formele fs și mp, astfel încât primul șva devine hireq 
                în aceste forme.</i>
        </p>
        <p>
            &#x1F449; Dacă imperfectul are ca vocală tematică patah, la fel are și imperativul.
            <table>
                <tr>
                    <td>imperativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>בְּטַח</td>
                    <td>תִּבְטַח</td>
                    <td>2ms</td>
                </tr>
            </table>
        </p>
        <p>
            Qal verbe slabe.</br>
            &#x1F449; I gutural
            <table>
                <tr>
                    <td></td>
                    <td>imperativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>ridică-te!</td>
                    <td>עֲמֹד</td>
                    <td>תַּעֲמֹד</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>ridică-te!</td>
                    <td>עִמְדִי</td>
                    <td>תַּעַמְדִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>ridicați-vă!</td>
                    <td>עִמְדוּ</td>
                    <td>תַּעַמְדוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>ridicați-vă!</td>
                    <td>עֲמֹדְנָה</td>
                    <td>תַּעֲמֹדְנָה</td>
                    <td>2fp</td>
                </tr>
            </table>
            &#x1F449; I nun
            <table>
                <tr>
                    <td></td>
                    <td>imperativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>cazi!</td>
                    <td>נְפֹל</td>
                    <td>תִּפֹּל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>cazi!</td>
                    <td>נִפְלִי</td>
                    <td>תִּפְּלִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>cădeți!</td>
                    <td>נִפְלוּ</td>
                    <td>תִּפְּלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>cădeți!</td>
                    <td>נִפֹלְנָה</td>
                    <td>תִּפֹּלְנָה</td>
                    <td>2fp</td>
                </tr>
            </table>
            &#x1F449; I yod (waw)
            <table>
                <tr>
                    <td></td>
                    <td>imperativ</td>
                    <td>imperfect</td>
                    <td></td>
                </tr>
                <tr>
                    <td>stai!</td>
                    <td>שֵׁב</td>
                    <td>תֵּשֵׁב</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>stai!</td>
                    <td>שְׁבִי</td>
                    <td>תֵּשְׁבִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>stați!</td>
                    <td>שְׁבוּ</td>
                    <td>תֵּשְׁבוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>stați!</td>
                    <td>שַׁבְנָה</td>
                    <td>תֵּשַׁבְנָה</td>
                    <td>2fp</td>
                </tr>
            </table></br>
            <i>Din moment ce <font size="4">הלך</font> și <font size="4">נתן</font>
                 urmează paradigma lui <font size="4">ישׁב</font> la imperfect, ele fac același lucru în impertaiv, 
                 rezultând <font size="4">לֵךְ</font> și <font size="4">תֵּן</font>.</i></br>
            &#x1F449; III He
             <table>
                 <tr>
                     <td></td>
                     <td>imperativ</td>
                     <td>imperfect</td>
                     <td></td>
                 </tr>
                 <tr>
                     <td>pleacă!</td>
                     <td>גְלֵה</td>
                     <td>תִּגְלֶה</td>
                     <td>2ms</td>
                 </tr>
                 <tr>
                     <td>pleacă!</td>
                     <td>גְלִי</td>
                     <td>תִּגְלִי</td>
                     <td>2fs</td>
                 </tr>
                 <tr>
                    <td>plecați!</td>
                    <td>גְלוּ</td>
                    <td>תִּגְלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>plecați!</td>
                    <td>גְלֶינָה</td>
                    <td>תִּגְלֶינָה</td>
                    <td>2fp</td>
                </tr>
            </table></br>         
        </p>
        <h3>Iusivul</h3>
        <p>
            Qal la verbe tari.</br>
            &#x1F449; La verbul tare, iusivul și imperfectul sunt identice ca formă. Contextul determină dacă este 
            necesară o traducere la iusiv sau la imperfect.
        </p>
        <p>
            Qal la verbe slabe</br>
            &#x1F449; La majoritatea verbelor slabe, iusivul și imperfectul sunt identice ca formă. O singură 
            excepție o constituie în cazul verbelor III He. În cazul verbelor III He, iusivul este o formă 
            prescurtată a imperfectului.</br>
            <table>
                <tr>
                    <td></td>
                    <td>iusiv fs</td>
                    <td>iusiv ms</td>
                    <td>imperfect</td>
                </tr>
                <tr>
                    <td>lasă-l/o să plece!</td>
                    <td>תִּגֶל</td>
                    <td>יִגֶל</td>
                    <td>יִגְלֶה</td>
                </tr>
                <tr>
                    <td>lasă-l/o să plângă!</td>
                    <td>תֵּבְךְ</td>
                    <td>יֵבְךְ</td>
                    <td>יִבְכֶּה</td>
                </tr>
                <tr>
                    <td>lasă-l/o să plângă</td>
                    <td>תַּעַל</td>
                    <td>יַעַל</td>
                    <td>יַעֲלֶה</td>
                </tr>
            </table>
        </p>
        <h3>Volitivele la negativ</h3>
        <p>
             Cohotrativul și iusivul se neagă cu <font size="4">אַל</font>, <i>nu</i>.</br>
            <font size="4">אַל נִשְׁלְתָה אוֹתוֹ</font> să nu-l trimitem!</br>
            <font size="4">אַל יִבֶן אוֹתוֹ</font> să nu-l construiască!</br>
            &#x1F449; Imperativul nu este niciodată negat. Pentru a exprima o poruncă negativă la persoana 
            a doua, se folosește un <i>iusiv de persoana a doua</i>. Forma este cea a unui iusiv, fiind 
            scurtă, dar folosită la persoana a doua.</br>
            <font size="4">אַל תִּבֶן אוֹתוֹ</font> nu-l construiți!</br>
            <font size="4">אַל תֵּבְךְ</font> nu plânge!</br>
            &#x1F449; <font size="4">אַל תֵּבְךְ</font> ar putea însemna, de asemenea, <i>nu o lăsa să plângă</i>.
        </p>
        <h3>Volitivele indirecte</h3>
        <p>
            &#x1F449; În plus față de utilizarea lor pentru a exprima voința <i>directă</i> a vorbitorului, volitivele
             sunt, de asemenea, utilizate pentru a exprima voința <i>indirectă</i> a vorbitorului. Un volitiv
              indirect va fi cel mai adesea tradus ca o clauză de scop, <i>astfel încât/pentru ca...</i></br>
            &#x1F449; Ori de câte ori există o secvență de volitiv + <font size="4">&#1493;&#1456;</font> + volitiv, 
            cel de-al doilea volitiv este de obicei <i>indirect</i>, cu excepția cazului în care cei doi volitivi
            sunt aceeași persoană.
        </br>
            <font size="4">שׁלַח אוֹתָנוּ וְנִזְבְּחָה זְבָחִים</font> </br> 
            trimite-ne pe noi, ca să aducem jertfe.</br>
            <i>imperativ + <font size="4">&#1493;&#1456;</font> + cohortativ</i></br>
        </br>
            <font size="4">שׁלַח אוֹתוֹ וְיִבֶן מִזְבֵּחַ</font> </br> 
            trimite-l, ca să zidească un altar.</br>
            <i>imperativ + <font size="4">&#1493;&#1456;</font> + iusiv</i></br>
        </br>
            <font size="4">נִשְׁלְחָה אוֹתוֹ וְיִבֶן מִזְבֵּחַ</font> </br> 
            să-l trimitem, ca să construiască un altar.</br>
            <i>cohotativ + <font size="4">&#1493;&#1456;</font> + iusiv</i></br>
        </br>
            <font size="4">יִבֶן מִזְבֵּחַ וְנִבְּחָה זְבָחִים</font> </br> 
            să construiască un altar, ca să aducem jertfe..</br>
            <i>iusiv + <font size="4">&#1493;&#1456;</font> + cohortativ</i></br>
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>