{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en"> {% endcomment %}

{% comment %} <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> {% endcomment %}

<body>
    <div class="story-container">
      <header >
          <h1>Constructul la plural</h1>
      </header>
      <main>
        <h3> Formele constructului la plural </h3>
        <h4>Pluralul masculin</h4>
        <p>Terminația absolută a pluralului <font size="4"> &#1497;&#1501;&#8239;&#1460;&#9744;</font> este schimbată 
            în <font size="4"> &#1497;&#8239;&#1461;&#9744;</font> în constructul masculin plural.</br>
            <font size="4">אֱלֹהִים</font> &#10232; <font size="4">אֱלֹהֵי</font> Dumnezeul lui</br>
            <font size="4">סוּסִים</font> &#10232; <font size="4">סוּסֵי</font> cai de</br>
            <font size="4">עַמִּים</font> &#10232; <font size="4">עַמֵּי</font> oamenii din
        </p>
        <p>     
            Deoarece accentul se deplasează, are loc schimbarea corespunzătoare a vocalelor.<br>
            &#x1F449; Vocalele medii din silabele deschise se reduc de obicei la șva (<font size="4">&#1456;&#9744;</font>).<br>
            <font size="4">בֵּן</font> &#10232; <font size="4">בְּנֵי</font> fiii lui</br>
            <font size="4">מִשְׁפָּט</font> &#10232; <font size="4">מִשְׁפְּטֵי</font> judecăți de</br>
            <font size="4">נָבִיא</font> &#10232; <font size="4">נְבִיאֵי</font> profeți ai</br>
            &#x1F449; În cazul în care reducerea vocalei la sheva (<font size="4">&#1456;&#9744;</font>) are ca 
            rezultat două vocale succesive, prima devine hireq (<font size="4">&#1460;&#9744;</font>) sau 
            patah (<font size="4">&#1463;&#9744;</font>).<br>
            <font size="4">דְּבָרִים</font> &#10232; <font size="4">דְּבְרֵי</font>  &#10232; <font size="4">דִּבְרֵי</font> cuvinte de</br>
            <font size="4">זְקֵנִים</font> &#10232; <font size="4">זְקְנֵי</font>  &#10232; <font size="4">זִקְנֵי</font> bătrânii din</br>
            <font size="4">מְלָכִים</font> &#10232; <font size="4">מְלְכֵי</font>  &#10232; <font size="4">מַלְכֵי</font> regi ai</br>
            <font size="4">דְּבָרִים</font> &#10232; <font size="4">אֲנְשֵׁי</font>  &#10232; <font size="4">אַנְשֵׁי</font> bărbați din</br>
        </p>
        <h4>Pluralul feminin</h4>
        <p>
            Terminația construct a pluralului este aceeași cu terminația pluralului absolut <font size="4"> וֹת </font>.</br>
            <font size="4">סוּסוֹת־</font> iepe de</br>
            <font size="4">קוֹלוֹת־</font> voci de</br>
            <font size="4">תּוֹרוֹת־</font> legi din
        </p>
        <p>
            Deoarece accentul se deplasează, au loc schimbări corespunzătoare ale vocalelor..<br>
            &#x1F449; Vocalele medii din silabele deschise se reduc de obicei la șva (<font size="4">&#1456;&#9744;</font>).<br>
            <font size="4">מִשְׁפָּחוֹת</font> &#10232; <font size="4">מִשְׁפְּחוֹת</font> familii de</br>
            <font size="4">מִלְחָמוֹת</font> &#10232; <font size="4">מִלְחֲמוֹת</font> bătăliile din</br>
            &#x1F449; În cazul în care reducerea vocalei la șva (<font size="4">&#1456;&#9744;</font>)
             rezultă în două vocale succesive, prima devine de obicei patah (<font size="4">&#1463;&#9744;</font>).<br>
            <font size="4">אֲרָצוֹת</font> &#10232; <font size="4">אֲרְצוֹת</font> &#10232; <font size="4">אַרְצוֹת</font> pământuri din</br>
            <font size="4">נְפָשׁוֹת</font> &#10232; <font size="4">נְפְשׁוֹת</font> &#10232; <font size="4">נַפְשׁוֹת</font> suflete de</br>
        </p>
        <h3>Construct înlănțuit</h3>
        <p>
            Două cuvinte aflate într-o relație de construcție se numesc "construct înlănțuit". Este posibil să 
            existe mai mult de două cuvinte într-un construct înlănțuit. Numai ultimul cuvânt poate avea articolul
            hotărât.</br>
            <font size="4">דִּבְרֵי נְבִיאֵי הַמֶּלֶךְ</font> cuvintele profeților regelui </br>
            <font size="4">בְּנֵי מִשְׁפְּחוֹת הָעִיר</font> fiii familiilor din cetate </br>
        </p>
        <h3>Acordul cu starea de construct</h3>
        <h4>Acordul cu verbul</h4>
        <p>
            Atunci când un construct înlănțuit este subiectul unei propoziții, verbul este în acord cu 
            substantivul din construct, deoarece acesta este substantivul primar, ceilalți fiind calificativi.</br>
            <font size="4">מָלַךְ בֶּן־הַמֶּלֶךְ</font> Fiul regelui a domnit</br>
            <font size="4">מָלְכָה בַּת־הַמֶּלֶךְ</font> Fiica regelui a domnit</br>
            <font size="4">מָלְכוּ בְּנֵי־הַמֶּלֶךְ</font> Fiii regelui au domnit</br>

        </p>
        <h4>Acordul cu adjectivul</h4>
        <p>
            Orice parte a unui construct înlănțuit poate fi modificată de un adjectiv. Adjectivul se acordă 
            cu partea lanțului pe care o modifică. În cazul în care adjectivul este atributiv, acesta urmează 
            întregul lanț.
            <font size="4">דִּבְרֵי הַמֶּלֶךְ הַטּוֹב</font> cuvintele bunului rege</br>
            <font size="4">דִּבְרֵי הַמֶּלֶךְ הַטּוֹבִם</font> vorbele bune ale regelui</br>
            <font size="4">טוֹבִים דִּבְרֵי הַמֶּלֶךְ</font> Cuvintele regelui sunt bune</br>
        </p>        
        <h3>Tot/toate, fiecare și întregul/întreaga (כֹּל)</h3>
        <p>
            Forma de construct a lui <font size="4">כֹּל</font> este <font size="4">כָּל־</font>: (qameț-hataf).</br>
            &#x1F449; În construcția cu un substantiv hotărât la plural, <font size="4">כָּל־</font> se traduce 
            cel mai bine <i>toți/toate</i>.</br>
            <font size="4">כָּל־הַדְּבָרִים</font> toate cuvintele </br>
            <font size="4">כָּל־הַמְּלָכִים</font> toți regii</br>
            &#x1F449; În construcția cu un substantiv singular nedefinit,  <font size="4">כָּל־</font> 
            se traduce cel mai bine prin <i>fiecare</i>.</br>
            <font size="4">כָּל־בַּיִת</font> fiecare casă</br>
            <font size="4">כָּל־עִיר</font> fiecare oraș</br>
            &#x1F449; În construcția cu un substantiv hotărât la singular, <font size="4">כָּל־</font> se traduce 
            cel mai bine prin <i>întregul/întreaga</i>.
            <font size="4">כָּל־הַבַּיִת</font> întreaga casă</br>
            <font size="4">כָּל־הַעִיר</font> întregul oraș</br>



        </br>
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>