{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header >
          <h1>Prepoziții și waw conjunctiv</h1>
      </header>
      <main>
        <h3>Prepozițiile</h3>
        <p>O prepoziție este un cuvânt plasat înaintea unui substantiv sau a unui pronume pentru a arăta 
            legătura dintre substantivul sau pronumele respectiv și o altă parte a propoziției, de exemplu: 
            "A mers pe jos până în oraș" sau "A mers pe pământ".<br>
            <font size="4"> הָלַךְ אֶל הָעִיר </font> &#10232; A mers pe jos până în oraș.</br>
            <font size="4"> הָלַךְ עַל הָאָרֶץ </font> &#10232; A mers pe pământ.</br>
            
        </p>
        <p>
            &#x1F449; Ebraica biblică are două feluri de prepoziții: independente și inseparabile.</br>
        </p>
        <h4>Prepozițiile independente</h4>
        <p>
            &#x1F449; Prepozițiile independente sunt cuvinte independente, ca și prepozițiile românești. Exemple de prepoziții independente.</br>
            <font size="4"> יָשַׁב בְּתוֹךְ הבַּיִת </font> &#10232; A stat <i>în</i> casă.</br>
            <font size="4"> יָשַׁב לִפְנֵי הַמִּזְבֵּחַ </font> &#10232; S-a așezat <i>înaintea</i> altarului.</br>
            <font size="4"> הָלַךְ מִן הָעִיר </font> &#10232; A venit pe jos <i>din</i> oraș.</br>
            <font size="4"> הָלַךְ עִם הָאִשָּׁה </font> &#10232; A mers <i>cu</i> femeia.</br>
        </p>
        <h4>Prepoziții inseparabile</h4>
        <p>
            &#x1F449; Prepozițiile inseparabile nu sunt cuvinte separate ci sunt atașate ca prefix la cuvântul pe care îl precede. </br>
            <font size="4"> בְּ </font> &#10232; în, la, cu.</br>
            <font size="4"> כְּ </font> &#10232; ca, cum ar fi, în conformitate cu.</br>
            <font size="4"> לְ </font> &#10232; la, pentru.</br>
        </p>
        <p>
            &#x1F449; Vocala obișnuită pentru prepozițiile inseparabile este șva(<font size="4">&#1456;&#9744;</font>). </br>
            <font size="4"> בְּמִלְחָמָה </font> &#10232; într-o luptă</br>
            <font size="4"> כְּמִלְחָמָה </font> &#10232; ca o luptă</br>
            <font size="4"> לְמִלְחָמָה </font> &#10232; la o luptă</br>
        </p>
        <p>
            &#x1F449; Dacă cuvântul are prima vocală șva(<font size="4">&#1456;&#9744;</font>) atunci vocala prepoziției va fi hireq (<font size="4">&#1460;&#9744;</font>) </br>
            <font size="4"> בִּנְבִיאִים </font> &#10232; cu profeți</br>
            <font size="4"> כִּנְבִיאִים </font> &#10232; ca profeți</br>
            <font size="4"> לִנְבִיאִים </font> &#10232; la profeți</br>
        </p>
        <p>
            &#x1F449; Dacă cuvântul începe cu vocale reduse hatef patah (<font size="4">&#1458;&#9744;</font>), hatef segol (<font size="4">&#1457;&#9744;</font>) sau hatef qameț (<font size="4">&#1459;&#9744;</font>) atunci vocala prepoziției vocala scurtă corespunzătoare </br>
            <font size="4"> בַּאֲרצֹת </font> &#10232; în pământuri</br>
            <font size="4"> בֶּאֱמֶת </font> &#10232; în adevăr</br>
            <font size="4"> בָּחֳלִי </font> &#10232; în caz de boală</br>
        </p>
        <p>
            &#x1F449; Uneori, dacă cuvântul începe cu hatef segol (<font size="4">&#1457;&#9744;</font>) adăugat la  (<font size="4">&#1488;</font>) atunci vocala de sub (<font size="4">&#1488;</font>) "cade" și prepoziția primește țere (<font size="4">&#1461;&#9744;</font>) </br>
            <font size="4"> לֵאלֹהִים </font> &#10232; la Dumnezeu</br>
        </p>
        <p>
            &#x1F449; Atunci când o prepoziție inseparabilă este adăugată la un substantiv hotărât, (<font size="4">&#1492;</font>) din articolul hotărât este înlocuit de elementul consonantic al prepoziției. </br>
            <font size="4"> הַיּוֹם </font> &#10232; <font size="4"> בַּיּוֹם </font> &#10232; în ziua</br>
            <font size="4"> הָאֵם </font> &#10232; <font size="4"> כַּאֵם </font> &#10232; ca mama</br>
            <font size="4"> הֶהרִם </font> &#10232; <font size="4"> לֶהרִם </font> &#10232; pe dealuri</br>
        </p>
        <h4>Prepoziția (<font size="4"> מִן </font>)</h4> 
        <p>
            Prepoziția (<font size="4"> מִן </font>) este uneori tratată ca independentă, uneori ca separată. </br>
            &#x1F449; Înainte de substantiv hotărât, (<font size="4"> מִן </font>) este de obicei separată și lipită cu maqef (<font size="4"> ־ </font>) care este un fel de cratimă.
            <font size="4"> מִן־הָעִיר </font> &#10232; din orașul</br>
            &#x1F449; Înainte de substantiv nehotărât (<font size="4"> מִן </font>) neseparat și iar n-ul este asimilat de silaba următoare și atunci când se întâmpla asta este semnalat prin dagheș pe următoarea consoană.</br>
            <font size="4"> מִןזֶבַח </font> &#10232;<font size="4"> מִזֶבַח </font> &#10232;<font size="4"> מִזֶּבַח </font> &#10232; de la un sacrificiu</br>
            <font size="4"> מִןיָד </font> &#10232;<font size="4"> מִייָד </font> &#10232;<font size="4"> מִיָּד </font> &#10232; dintr-o mână</br>
            <font size="4"> מִןשֵׁם </font> &#10232;<font size="4"> מִשׁשֵׁם </font> &#10232;<font size="4"> מִשֵּׁם </font> &#10232; de la un nume</br>
            &#x1F449; Înainte de substantiv nehotărât care începe cu o literă guturală sau cu reș n-ul este omis și cum după cum știm deja aceste consoane nu primesc dagheș. În această situație hireq (<font size="4">&#1460;&#9744;</font>) va deveni țere (<font size="4">&#1461;&#9744;</font>) </br>
            <font size="4"> מִןאָב </font> &#10232;<font size="4"> מִאאָב </font> &#10232;<font size="4"> מֵאָב </font> &#10232; de la un tată</br>
            <font size="4"> מִןאֵם </font> &#10232;<font size="4"> מִאאֵם </font> &#10232;<font size="4"> מֵאֵם </font> &#10232; de la o mamă</br>
            <font size="4"> מִןעַם </font> &#10232;<font size="4"> מִעעַם </font> &#10232;<font size="4"> מֵעַם </font> &#10232; dintr-un popor
        </p>
        <h3>Waw conjunctiv</h3>
        <p>
            O "conjuncție" este un cuvânt care unește două părți ale unei propoziții. Ebraica, are două tipuri de conjuncții: coordonatoare și subordonatoare. Conjuncția coordonatoare în ebraică este waw (<font size="4"> &#1493; </font>).
        </p>
    <h4>Formele comjuncției waw (<font size="4"> &#1493; </font>) </h4>
        <p>
            Conjuncția waw este inseparabilă și se scrie de obicei cu șva (<font size="4">&#1456;&#9744;</font>).
            <font size="4"> וְלֵב </font> &#10232; și o inimă</br>
            <font size="4"> וְנֶפֶשׁ </font> &#10232; și un suflet</br>
            <font size="4"> וְעַם </font> &#10232; și un popor
        </p>
        <p>
            Înaintea unui cuvânt care începe cu literele <font size="4">&#1489;</font>, <font size="4">&#1502;</font> sau <font size="4">&#1508;</font> forma este <font size="4">&#1493;&#1468;</font>.</br>
            <font size="4"> וּבַיִת </font> &#10232; și o casă</br>
            <font size="4"> וּמִשְׁפָּט </font> &#10232; și o sentință</br>
            <font size="4"> וּפֶתַח </font> &#10232; și o intrare
        </p>
        <p>
            &#x1F449; Înaintea cuvintelor care încep cu vocale reduse hatef patah (<font size="4">&#1458;&#9744;</font>), hatef segol (<font size="4">&#1457;&#9744;</font>) sau hatef qameț (<font size="4">&#1459;&#9744;</font>) atunci vocala prepoziției vocala scurtă corespunzătoare </br>
            <font size="4"> וַאֲרצֹת </font> &#10232; și terenuri</br>
            <font size="4"> וֶאֱמֶת </font> &#10232; și adevăruri</br>
            <font size="4"> וָחֳלִי </font> &#10232; și boli
        </p>
        <h4>Uzul conjuncției waw(<font size="4"> &#1493; </font>)</h4>
        <p>
            Waw este folosit pentru a lega diferite părți de propoziție.<br>
            &#x1F449; Poate lega două subiecte:</br>
            <font size="4"> הָלְכוּ הָאִישׁ וְהָאִשָּׁה </font> &#10232; Bărbatul și femeia au mers<br>
            <font size="4"> שָׁפְטוּ הַמֶּלֶךְ וְהַכֹּהֵן </font> &#10232; Regele și preotul au judecat<br>
            &#x1F449; Poate lega două complemente:</br>
            <font size="4"> שָׁלַח אֶת־הַנָּבִיא וְאֶת־הַכֹּהֵן </font> &#10232; A trimis pe profet și pe preot<br>
            <font size="4"> שָׁמַר אֶת־הַנָּבִיא וְאֶת־הַכֹּהֵן </font> &#10232; L-a păzit pe profet și pe preot</br>
            &#x1F449; Sau poate lega două verbe. Dar pentru asta este o nevoie de o lecție separată</br>
        </p>
        <div style="text-align: center;">

        <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </main>
    </div>
    <div class="right-sidebar"></div>
    </body>
</html>