<body>
    <div class="story-container">
      <header >
          <h1>Alte verbe pasive: qal, pual și hofal</h1>
      </header>
      <main>
        <h2>Participiul pasiv al qal</h2>
        <p>
            &#x1F449; În plus față de participiul activ, qal are un participiu pasiv (prescurtat pass ptc ).</br>
            Formele participiului pasiv al qal<br> 
            <table class=jumate>
                <tr>
                    <td></td>
                    <th style="width:33%">plural</th>
                    <th style="width:33%">singular</th>
                </tr>
                <tr>
                    <td>masculin</td>
                    <td>קְטוּלִים</td>
                    <td>קָטוּל</td>
                </tr>
                <tr>
                    <td>feminin</td>
                    <td>קְטוּלוֹת</td>
                    <td>קְטוּלָה</td>
                </tr>
            </table>

        </p>
        <p>
            Utilizarea participiului pasiv Qal.</br>
            &#x1F449; Participiul pasiv are aceleași trei utilizări ca și participiul.
            <ul>
                <li>Atributive: <font size="4">הַאִישׁ הַשָּׁמוּר</font> omul care a fost păzit</li>
                <li>Predicative: <font size="4">שָּׁמוּר הַאִישׁ</font> omul a fost păzit</li>
                <li>Substantive: <font size="4">הַשָּׁמוּר</font> omul păzit</li>
            </ul>
        </p>
        <h2>Pual</h2>
        <p>
            &#x1F449; Pual este al cincilea dintre cele șapte modele verbale majore; reprezintă doar 0,6% din 
            verbele din ebraică și este pasivul lui piel.</br>
            &#x1F449; A schimba forma verbului înseamnă a îi schimba sensul.</br>
            <table class=jumate>
                <tr>
                    <th style="width:40%">pual</th>
                    <th style="width:40%">piel</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>să fie binecuvântat</td>
                    <td class=cell-st>binecuvintează</td>
                    <td>ברך</td>
                </tr>
                <tr>
                    <td class=cell-st>să fie lăudat</td>
                    <td class=cell-st>laudă</td>
                    <td>הלל</td>
                </tr>
                <tr>
                    <td class=cell-st>să fie ispășit</td>
                    <td class=cell-st>ispășească</td>
                    <td>כפר</td>
                </tr>
                <tr>
                    <td class=cell-st>să fie alungat</td>
                    <td class=cell-st>trimite departe</td>
                    <td>שׁלח</td>
                </tr><br>
            </table>
            <ul>
                <li>
                    Ocazional, niphalul servește ca pasiv al pielului
                </li>
            </ul>
            <table  class=jumate>
                <tr>
                    <th style="width:40%">niphal</th>
                    <th style="width:40%">piel</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>să fie pângărit</td>
                    <td class=cell-st>desfrâu</td>
                    <td>חלל</td>
                </tr>
            </table></br>
            &#x1F449; Pual este format ca piel, cu dagesh puternic în mijlocul literei radicale, dar modelul vocalic
             este qibuț (<font size="4">&#1467;&#9744;</font>) urmat de patah (<font size="4">&#1463;&#9744;</font>).<br>
            <b>Perfect</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">pual</th>
                    <th style="width:40%">piel</th>
                </tr>
                <tr>
                    <td>קֻטַּל</td>
                    <td>קִטֵּל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td>קֻטְּלָה</td>
                    <td>קִטְּלָה</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td>קֻטַּלְתָּ</td>
                    <td>קִטַּלְתָּ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
            </table>   
            <b>Imperfect</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">pual</th>
                    <th style="width:40%">piel</th>
                </tr>
                <tr>
                    <td>יְקֻטַּל</td>
                    <td>יְקַטֵּל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td>תְּקֻטַּל</td>
                    <td>תְּקַטֵּל</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td>תְּקֻטַּל</td>
                    <td>תְּקַטֵּל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
            </table>   
            <b>Participiu</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">pual</th>
                    <th style="width:40%">piel</th>
                </tr>
                <tr>
                    <td>מְקֻטָּל</td>
                    <td>מְקַטֵּל</td>
                    <td class=cell-st><i>ms<i></td>
                </tr>
            </table>   
        </p>
        <h2>Hophal</h2>
        <p>
            &#x1F449; Hophal este al șaselea din cele șapte modele verbale majore și reprezintă doar 0,6% din verbele din 
            ebraică; Este pasivul lui hiphil.</br>
            &#x1F449; A schimba forma verbului înseamnă a îi schimba sensul.<br>
            <table class=jumate>
                <tr>
                    <th style="width:40%">hophal</th>
                    <th style="width:40%">hiphil</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>să fie doborâți</td>
                    <td class=cell-st>să doboare</td>
                    <td>ירד</td>
                </tr>
                <tr>
                    <td class=cell-st>să fie făcut rege</td>
                    <td class=cell-st>să facă rege</td>
                    <td>מלך</td>
                </tr>
                <tr>
                    <td class=cell-st>să fie spus</td>
                    <td class=cell-st>să spună</td>
                    <td>נגל</td>
                </tr>
                <tr>
                    <td class=cell-st>să fie aruncat</td>
                    <td class=cell-st>să arunce</td>
                    <td>שׁלך</td>
                </tr>
            </table>
            <ul>
                <li>
                    Ocazional, niphalul servește ca pasiv al hiphilului
                </li>
            </ul></br>
            <table class=jumate>
                <tr>
                    <th style="width:40%">niphal</th>
                    <th style="width:40%">hiphil</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>să fie salvat</td>
                    <td class=cell-st>salvează</td>
                    <td>ישׁע</td>
                </tr>
            </table>
        </p>
        <p>
            &#x1F449; Hophal se formează ca și hiphil, dar modelul vocalic este qamets 
            (<font size="4">&#1464;&#9744;</font>) urmat de patach (<font size="4">&#1463;&#9744;</font>).<br>
            <b>Perfect</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">hophal</th>
                    <th style="width:40%">hiphil</th>
                </tr>
                <tr>
                    <td class=cell-dr>הָקְטַל</td>
                    <td class=cell-dr>הִקְטִיל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הָקְטַלָה</td>
                    <td class=cell-dr>הִקְטִילָה</td>
                    <td class=cell-st><i>3fs<i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הָקְטַלְתָּ</td>
                    <td class=cell-dr>הִקְטַלְתָּ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
            </table><br>
            <b>Imperfect</b>
            <table  class=jumate>
                <tr>
                    <th style="width:40%">hophal</th>
                    <th style="width:40%">hiphil</th>
                </tr>
                <tr>
                    <td class=cell-dr>יָקְטַל</td>
                    <td class=cell-dr>יַקְטִיל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תָּקְטַל</td>
                    <td class=cell-dr>תַּקְטִיל</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תָּקְטַל</td>
                    <td class=cell-dr>תַּקְטִיל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
            </table><br>
            <b>Participiu</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">hophal</th>
                    <th style="width:40%">hiphil</th>
                </tr>
                <tr>
                    <td class=cell-dr>מַקְטָל / מֻקְטַל</td>
                    <td class=cell-dr>מַקְטִיל</td>
                    <td class=cell-st><i>ms</i></td>
                </tr>
            </table> <br>
            &#x1F449; <i>Hophal este prescurtat hoph.</i>     
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>