<body>
    <div class="story-container">
      <header >
          <h1>Alte verbe pasive: qal, pual și hofal</h1>
      </header>
      <main>
        <h3>Participiul pasiv al qal</h3>
        <p>
            &#x1F449; În plus față de participiul activ, qal are un participiu pasiv (prescurtat pass ptc ).</br>
            Formele participiului pasiv al qal<br> 
            <table>
                <tr>
                    <td></td>
                    <th style="width:33%">plural</th>
                    <th style="width:33%">singular</th>
                </tr>
                <tr>
                    <td>masculin</td>
                    <td>קְטוּלִים</td>
                    <td>קָטוּל</td>
                </tr>
                <tr>
                    <td>feminin</td>
                    <td>קְטוּלוֹת</td>
                    <td>קְטוּלָה</td>
                </tr>
            </table>

        </p>
        <p>
            Utilizarea participiului pasiv Qal.</br>
            &#x1F449; Participiul pasiv are aceleași trei utilizări ca și participiul.
            <ul>
                <li>Atributive: <font size="4">הַאִישׁ הַשָּׁמוּר</font> omul care a fost păzit</li>
                <li>Predicative: <font size="4">שָּׁמוּר הַאִישׁ</font> omul a fost păzit</li>
                <li>Substantive: <font size="4">הַשָּׁמוּר</font> omul păzit</li>
            </ul>
        </p>
        <h3>Pual</h3>
        <p>
            &#x1F449; Pual este al cincilea dintre cele șapte modele verbale majore; reprezintă doar 0,6% din 
            verbele din ebraică și este pasivul lui piel.</br>
            &#x1F449; A schimba forma verbului înseamnă a îi schimba sensul.</br>
            <table>
                <tr>
                    <th>pual</th>
                    <th style="width:33%">piel</th>
                    <th style="width:33%">rădăcină</th>
                </tr>
                <tr>
                    <td>să fie binecuvântat</td>
                    <td>binecuvintează</td>
                    <td>ברך</td>
                </tr>
                <tr>
                    <td>să fie lăudat</td>
                    <td>laudă</td>
                    <td>הלל</td>
                </tr>
                <tr>
                    <td>să fie ispășit</td>
                    <td>ispășească</td>
                    <td>כפר</td>
                </tr>
                <tr>
                    <td>să fie alungat</td>
                    <td>trimite departe</td>
                    <td>שׁלח</td>
                </tr><br>
            </table>
            <ul>
                <li>
                    Ocazional, niphalul servește ca pasiv al pielului
                </li>
            </ul>
            <table  style="width:75%" align='center'>
                <tr>
                    <th>niphal</th>
                    <th style="width:33%">piel</th>
                    <th style="width:33%">rădăcină</th>
                </tr>
                <tr>
                    <td>să fie pângărit</td>
                    <td>desfrâu</td>
                    <td>חלל</td>
                </tr>
            </table></br>
            &#x1F449; Pual este format ca piel, cu dagesh puternic în mijlocul literei radicale, dar modelul vocalic
             este qibuț (<font size="4">&#1467;&#9744;</font>) urmat de patah (<font size="4">&#1463;&#9744;</font>).<br>
            <b>Perfect</b>
            <table>
                <tr>
                    <th style="width:33%">pual</th>
                    <th style="width:33%">piel</th>
                </tr>
                <tr>
                    <td>קֻטַּל</td>
                    <td>קִטֵּל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>קֻטְּלָה</td>
                    <td>קִטְּלָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>קֻטַּלְתָּ</td>
                    <td>קִטַּלְתָּ</td>
                    <td>2ms</td>
                </tr>
            </table>   
            <b>Imperfect</b>
            <table>
                <tr>
                    <th style="width:33%">pual</th>
                    <th style="width:33%">piel</th>
                </tr>
                <tr>
                    <td>יְקֻטַּל</td>
                    <td>יְקַטֵּל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תְּקֻטַּל</td>
                    <td>תְּקַטֵּל</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תְּקֻטַּל</td>
                    <td>תְּקַטֵּל</td>
                    <td>2ms</td>
                </tr>
            </table>   
            <b>Participiu</b>
            <table>
                <tr>
                    <th style="width:33%">pual</th>
                    <th style="width:33%">piel</th>
                </tr>
                <tr>
                    <td>מְקֻטָּל</td>
                    <td>מְקַטֵּל</td>
                    <td>ms</td>
                </tr>
            </table>   
        </p>
        <h3>Hophal</h3>
        <p>
            &#x1F449; Hophal este al șaselea din cele șapte modele verbale majore și reprezintă doar 0,6% din verbele din 
            ebraică; Este pasivul lui hiphil.</br>
            &#x1F449; A schimba forma verbului înseamnă a îi schimba sensul.<br>
            <table>
                <tr>
                    <th>hophal</th>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">rădăcină</th>
                </tr>
                <tr>
                    <td>să fie doborâți</td>
                    <td>să doboare</td>
                    <td>ירד</td>
                </tr>
                <tr>
                    <td>să fie făcut rege</td>
                    <td>să facă rege</td>
                    <td>מלך</td>
                </tr>
                <tr>
                    <td>să fie spus</td>
                    <td>să spună</td>
                    <td>נגל</td>
                </tr>
                <tr>
                    <td>să fie aruncat</td>
                    <td>să arunce</td>
                    <td>שׁלך</td>
                </tr>
            </table>
            <ul>
                <li>
                    Ocazional, niphalul servește ca pasiv al hiphilului
                </li>
            </ul></br>
            <table>
                <tr>
                    <th>niphal</th>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">rădăcină</th>
                </tr>
                <tr>
                    <td>să fie salvat</td>
                    <td>salvează</td>
                    <td>ישׁע</td>
                </tr>
            </table>
        </p>
        <p>
            &#x1F449; Hophal se formează ca și hiphil, dar modelul vocalic este qamets 
            (<font size="4">&#1464;&#9744;</font>) urmat de patach (<font size="4">&#1463;&#9744;</font>).<br>
            <b>Perfect</b>
            <table>
                <tr>
                    <th style="width:33%">hophal</th>
                    <th style="width:33%">hiphil</th>
                </tr>
                <tr>
                    <td>הָקְטַל</td>
                    <td>הִקְטִיל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>הָקְטַלָה</td>
                    <td>הִקְטִילָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>הָקְטַלְתָּ</td>
                    <td>הִקְטַלְתָּ</td>
                    <td>2ms</td>
                </tr>
            </table><br>
            <b>Imperfect</b>
            <table>
                <tr>
                    <th style="width:33%">hophal</th>
                    <th style="width:33%">hiphil</th>
                </tr>
                <tr>
                    <td>יָקְטַל</td>
                    <td>יַקְטִיל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תָּקְטַל</td>
                    <td>תַּקְטִיל</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תָּקְטַל</td>
                    <td>תַּקְטִיל</td>
                    <td>2ms</td>
                </tr>
            </table><br>
            <b>Participiu</b>
            <table>
                <tr>
                    <th style="width:33%">hophal</th>
                    <th style="width:33%">hiphil</th>
                </tr>
                <tr>
                    <td>מַקְטָל / מֻקְטַל</td>
                    <td>מַקְטִיל</td>
                    <td>ms</td>
                </tr>
            </table> <br>
            &#x1F449; Hophal este prescurtat hoph.     
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>