<body>
    <div class="story-container">
      <header >
          <h1>Niphal: Rădăcini tari</h1>
      </header>
      <main>
        <h3>Sensul lui Niphal</h3>
        <p>
            &#x1F449; Niphalul este al patrulea dintre cele șapte modele majore de verb prezentate în acestă pagină. 
            Niphalul reprezintă 6% din toate verbele din Biblia ebraică. Qal, piel, hiphil și niphal reprezintă
             97% din toate verbele.</br>
             &#x1F449; Cele mai multe verbe niphal sunt pasivele lui qal. 
        
        <table>
            <tr>
                <th style="width:33%">niphal</th>
                <th style="width:33%">qal</th>
                <th>rădăcină</th>
            </tr>
            <tr>
                <td>să fie ținut minte</td>
                <td>ține minte</td>
                <td>זכר</td>
            </tr>
            <tr>
                <td>să fie tăiat</td>
                <td>taie</td>
                <td>כּרת</td>
            </tr>
            <tr>
                <td>să fie dat</td>
                <td>dă</td>
                <td>נתן</td>
            </tr>
            <tr>
                <td>să fi păzit</td>
                <td>păzește</td>
                <td>שׁמר</td>
            </tr>
        </table><br>
            &#x1F449; Uneori, niphalul este reflexivul lui qal.</br>
        <table>
            <tr>
                <th style="width:33%">niphal</th>
                <th style="width:33%">qal</th>
                <th>rădăcină</th>
            </tr>
            <tr>
                <td>este păzit</td>
                <td>păzește</td>
                <td>שׁמר</td>
            </tr>
        </table>
            </br>
            &#x1F449; Câteva verbe apar numai (sau în principal) în niphal, fără un qal corespunzător și cu 
            un sens de acțiune asemănător cu qal.
        <table>
            <tr>
                <td style="width:33%">luptă</td>
                <td style="width:33%"></td>
                <td>לחם</td>
            </tr>
            <tr>
                <td>jură</td>
                <td></td>
                <td>שׁבע</td>
            </tr>
        </table></br>
        </br>
        <i>Niphalul este prescurtat niph.</i>
        </p>
        <h3>Formele lui Niphal</h3>
        <p>
            &#x1F449; Caracteristica principală a niphalului este prefixarea cu nun (<font size="4">&#1504;</font>).<br>
            <b>Perfect.</b>
            <table>
                <tr>
                    <th style="width:33%">niphal</th>
                    <th style="width:33%">qal</th>
                </tr>
                <tr>
                    <td>נִקְטַל</td>
                    <td>קָטַל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>נִקְטְלָה</td>
                    <td>קָטְלָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>נִקְטַלְתָּ</td>
                    <td>קָטַלְתָּ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>נִקְטַלְתְּ</td>
                    <td>קָטַלְתְּ</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>נִקְטַלְתִּי</td>
                    <td>קָטַלְתִּי</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>נִקְטְלוּ</td>
                    <td>קָטְלוּ</td>
                    <td>3cp</td>
                </tr>
                <tr>
                    <td>נִקְטַלְתֶּם</td>
                    <td>קְטַלְתֶּם</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>נִקְטַלְתֶּן</td>
                    <td>קְטַלְתֶּן</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>נִקְטַלְנוּ</td>
                    <td>קָטַלְנוּ</td>
                    <td>1cp</td>
                </tr>
            </table></br>
            </br>
            <b>Imperfect.</b> (יִנְקָטֵל>)<br>
            <table>
                <tr>
                    <th style="width:33%">niphal</th>
                    <th style="width:33%">qal</th>
                </tr>
                <tr>
                    <td>יִקָּטֵל</td>
                    <td>יִקְטֹל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תִּקָּטֵל</td>
                    <td>תִּקְטֹל</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תִּקָּטֵל</td>
                    <td>תִּקְטֹל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>תִּקָּטְלִי</td>
                    <td>תִּקְטְלִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>אֶקָּטֵל</td>
                    <td>אֶקְטֹל</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>יִקָּטְלוּ</td>
                    <td>יִקְטְלוּ</td>
                    <td>3mp</td>
                </tr>
                <tr>
                    <td>תִּקָּטֹלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>3fp</td>
                </tr>
                <tr>
                    <td>תִּקָּטְלוּ</td>
                    <td>תִּקְטְלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>תִּקָּטֹלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>נִקְּטֵל</td>
                    <td>נִקְטֹל</td>
                    <td>1cp</td>
                </tr>
            </table></br>
            </br>
            <b>Imperativ.</b> (הִנְקָטֵל>)<br>
            <table>
        <tr>
            <th style="width:33%">niphal</th>
            <th style="width:33%">qal</th>
        </tr>
        <tr>
            <td>הִקָּטֵל</td>
            <td>תִּקָטֵל</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td>הִקָּטְלִי</td>
            <td>תִּקָטְלִי</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td>הִקָּטְלוּ</td>
            <td>תִּקָטְלוּ</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td>הִקָּטַלְנָה</td>
            <td>תִּקָטַלְנָה</td>
            <td>2fp</td>
        </tr>
        </table></br>
        </br>
    <b>Infinitiv.</b> (הִנְקָטֵל>)<br>
    <table>
        <tr>
            <th style="width:33%">infinitiv constr</th>
            <th style="width:33%">infinitiv abs</th>
            <th >imperativ</th>
        </tr>
        <tr>
            <td>הִקָּטֵל</td>
            <td>תִּהִקָּטֹל / הִקְטֹלקָטֵל</td>
            <td>הִקָּטֵל</td>
        </tr>
    </table><br>
</br>        
        <b>Participiu.</b><br>
        <table>
            <tr>
                <th style="width:33%">niphal</th>
                <th style="width:33%">qal abs</th>
            </tr>
            <tr>
                <td>נִקְטָל</td>
                <td>קֹטֵל</td>
                <td>ms</td>
            </tr>
            <tr>
                <td>נִקְטֶלֶת</td>
                <td>קֹטֶלֶת</td>
                <td>fs</td>
            </tr>
            <tr>
                <td>נִקְטָלִים</td>
                <td>קֹטְלִים</td>
                <td>mp</td>
            </tr>
            <tr>
                <td>נִקְטָלוֹת</td>
                <td>קֹטְלוֹת</td>
                <td>fp</td>
            </tr>
        </table><br>
    </br>
    <b>Cohortativ.</b> (אֶנְקָטל>)<br>
    <table>
        <tr>
            <th style="width:33%">niphal</th>
            <th style="width:33%">qal abs</th>
        </tr>
        <tr>
            <td>אֶקָּטְלָה</td>
            <td>אֶקְטְלָה</td>
            <td>1cs</td>
        </tr>
        <tr>
            <td>נִקָּטְלָה</td>
            <td>נִקְטְלָה</td>
            <td>1cp</td>
        </tr>
    </table><br>
</br>
    <b>Iusiv.</b> (יִנְקָטֵל>)<br>
    <table>
        <tr>
            <th style="width:33%">iusiv</th>
            <th style="width:33%">imperfect</th>
        </tr>
        <tr>
            <td>יִקָּטֵל</td>
            <td>יִקָּטֵל</td>
            <td>3ms</td>
        </tr>
    </table><br>
</br>
</p>   
<b>Waw relativ.</b> (וַיִּנְקָטֵל>)<br>
<table>
    <tr>
        <th style="width:33%">waw relativ</th>
        <th style="width:33%">iusiv</th>
    </tr>
    <tr>
        <td>וַיִּקָּטֵל</td>
        <td>יִקָּטֵל</td>
        <td>3ms</td>
    </tr>
</table>
</p>   

<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>