<body>
    <div class="story-container">
      <header >
          <h1>Niphal: Rădăcini tari</h1>
      </header>
      <main>
        <h3>Sensul lui Niphal</h3>
        <p>
            &#x1F449; Niphalul este al patrulea dintre cele șapte modele majore de verb prezentate în acestă pagină. 
            Niphalul reprezintă 6% din toate verbele din Biblia ebraică. Qal, piel, hiphil și niphal reprezintă
             97% din toate verbele.</br>
             &#x1F449; Cele mai multe verbe niphal sunt pasivele lui qal. 
        
        <table class=jumate>
            <tr>
                <th style="width:33%">niphal</th>
                <th style="width:33%">qal</th>
                <th>rădăcină</th>
            </tr>
            <tr>
                <td class=cell-st>să fie ținut minte</td>
                <td class=cell-st>ține minte</td>
                <td>זכר</td>
            </tr>
            <tr>
                <td class=cell-st>să fie tăiat</td>
                <td class=cell-st>taie</td>
                <td>כּרת</td>
            </tr>
            <tr>
                <td class=cell-st>să fie dat</td>
                <td class=cell-st>dă</td>
                <td>נתן</td>
            </tr>
            <tr>
                <td class=cell-st>să fi păzit</td>
                <td class=cell-st>păzește</td>
                <td>שׁמר</td>
            </tr>
        </table><br>
            &#x1F449; Uneori, niphalul este reflexivul lui qal.</br>
        <table class=jumate>
            <tr>
                <th style="width:33%">niphal</th>
                <th style="width:33%">qal</th>
                <th>rădăcină</th>
            </tr>
            <tr>
                <td class=cell-st>este păzit</td>
                <td class=cell-st>păzește</td>
                <td>שׁמר</td>
            </tr>
        </table>
            </br>
            &#x1F449; Câteva verbe apar numai (sau în principal) în niphal, fără un qal corespunzător și cu 
            un sens de acțiune asemănător cu qal.
        <table class=jumate>
            <tr>
                <td class=cell-st style="width:33%">luptă</td>
                <td style="width:33%"></td>
                <td>לחם</td>
            </tr>
            <tr>
                <td class=cell-st>jură</td>
                <td></td>
                <td>שׁבע</td>
            </tr>
        </table></br>
        </br>
        <i>Niphalul este prescurtat niph.</i>
        </p>
        <h3>Formele lui Niphal</h3>
        <p>
            &#x1F449; Caracteristica principală a niphalului este prefixarea cu nun (<font size="4">&#1504;</font>).<br>
            <b>Perfect.</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">niphal</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַל</td>
                    <td class=cell-dr>קָטַל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטְלָה</td>
                    <td class=cell-dr>קָטְלָה</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַלְתָּ</td>
                    <td class=cell-dr>קָטַלְתָּ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַלְתְּ</td>
                    <td class=cell-dr>קָטַלְתְּ</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַלְתִּי</td>
                    <td class=cell-dr>קָטַלְתִּי</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטְלוּ</td>
                    <td class=cell-dr>קָטְלוּ</td>
                    <td class=cell-st><i>3cp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַלְתֶּם</td>
                    <td class=cell-dr>קְטַלְתֶּם</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַלְתֶּן</td>
                    <td class=cell-dr>קְטַלְתֶּן</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְטַלְנוּ</td>
                    <td class=cell-dr>קָטַלְנוּ</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table></br>
            </br>
            <b>Imperfect.</b> (יִנְקָטֵל>)<br>
            <table class=jumate>
                <tr>
                    <th style="width:40%">niphal</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>יִקָּטֵל</td>
                    <td class=cell-dr>יִקְטֹל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תִּקָּטֵל</td>
                    <td class=cell-dr>תִּקְטֹל</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תִּקָּטֵל</td>
                    <td class=cell-dr>תִּקְטֹל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תִּקָּטְלִי</td>
                    <td class=cell-dr>תִּקְטְלִי</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>אֶקָּטֵל</td>
                    <td class=cell-dr>אֶקְטֹל</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class=cell-dr>יִקָּטְלוּ</td>
                    <td class=cell-dr>יִקְטְלוּ</td>
                    <td class=cell-st><i>3mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תִּקָּטֹלְנָה</td>
                    <td class=cell-dr>תִּקְטֹלְנָה</td>
                    <td class=cell-st><i>3fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תִּקָּטְלוּ</td>
                    <td class=cell-dr>תִּקְטְלוּ</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תִּקָּטֹלְנָה</td>
                    <td class=cell-dr>תִּקְטֹלְנָה</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נִקְּטֵל</td>
                    <td class=cell-dr>נִקְטֹל</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table></br>
            </br>
            <b>Imperativ.</b> (הִנְקָטֵל>)<br>
            <table class=jumate>
        <tr>
            <th style="width:40%">niphal</th>
            <th style="width:40%">qal</th>
        </tr>
        <tr>
            <td class=cell-dr>הִקָּטֵל</td>
            <td class=cell-dr>תִּקָטֵל</td>
            <td class=cell-st><i>2ms</i></td>
        </tr>
        <tr>
            <td class=cell-dr>הִקָּטְלִי</td>
            <td class=cell-dr>תִּקָטְלִי</td>
            <td class=cell-st><i>2fs</i></td>
        </tr>
        <tr>
            <td class=cell-dr>הִקָּטְלוּ</td>
            <td class=cell-dr>תִּקָטְלוּ</td>
            <td class=cell-st><i>2mp</i></td>
        </tr>
        <tr>
            <td class=cell-dr>הִקָּטַלְנָה</td>
            <td class=cell-dr>תִּקָטַלְנָה</td>
            <td class=cell-st><i>2fp</i></td>
        </tr>
        </table></br>
        </br>
    <b>Infinitiv.</b> (הִנְקָטֵל>)<br>
    <table>
        <tr>
            <th style="width:33%">infinitiv constr</th>
            <th style="width:33%">infinitiv abs</th>
            <th >imperativ</th>
        </tr>
        <tr>
            <td>הִקָּטֵל</td>
            <td>תִּהִקָּטֹל / הִקְטֹלקָטֵל</td>
            <td>הִקָּטֵל</td>
        </tr>
    </table><br>
</br>        
        <b>Participiu.</b><br>
        <table class=jumate>
            <tr>
                <th style="width:40%">niphal</th>
                <th style="width:40%">qal abs</th>
            </tr>
            <tr>
                <td class=cell-dr>נִקְטָל</td>
                <td class=cell-dr>קֹטֵל</td>
                <td class=cell-st><i>ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נִקְטֶלֶת</td>
                <td class=cell-dr>קֹטֶלֶת</td>
                <td class=cell-st><i>fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נִקְטָלִים</td>
                <td class=cell-dr>קֹטְלִים</td>
                <td class=cell-st><i>mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נִקְטָלוֹת</td>
                <td class=cell-dr>קֹטְלוֹת</td>
                <td class=cell-st><i>fp</i></td>
            </tr>
        </table><br>
    </br>
    <b>Cohortativ.</b> (אֶנְקָטל>)<br>
    <table class=jumate>
        <tr>
            <th style="width:40%">niphal</th>
            <th style="width:40%">qal abs</th>
        </tr>
        <tr>
            <td>אֶקָּטְלָה</td>
            <td>אֶקְטְלָה</td>
            <td class=cell-st><i>1cs</i></td>
        </tr>
        <tr>
            <td>נִקָּטְלָה</td>
            <td>נִקְטְלָה</td>
            <td class=cell-st><i>1cp</i></td>
        </tr>
    </table><br>
</br>
    <b>Iusiv.</b> (יִנְקָטֵל>)<br>
    <table class=jumate>
        <tr>
            <th style="width:40%">iusiv</th>
            <th style="width:40%">imperfect</th>
        </tr>
        <tr>
            <td>יִקָּטֵל</td>
            <td>יִקָּטֵל</td>
            <td class=cell-st><i>3ms</i></td>
        </tr>
    </table><br>
</br>
</p>   
<b>Waw relativ.</b> (וַיִּנְקָטֵל>)<br>
<table class=jumate>
    <tr>
        <th style="width:40%">waw relativ</th>
        <th style="width:40%">iusiv</th>
    </tr>
    <tr>
        <td>וַיִּקָּטֵל</td>
        <td>יִקָּטֵל</td>
        <td class=cell-st><i>3ms</i></td>
    </tr>
</table>
</p>   

<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>