{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> {% endcomment %}

<body>
    <div class="story-container">
      <header >
          <h1>Qal: Verbe slabe</h1>
      </header>
      <main>
        <h3> Verbe slabe sau găunoase </h3>
        <p>
            &#x1F449; Un verb găunos este slab, deoarece rădăcina nu este alcătuită din trei consoane, 
            ci doar din două consoane, cu o vocală lungă între ele, de exemplu (<font size="4"> קוּם</font>), 
            (<font size="4">שִׂים</font>) și (<font size="4">בּוֹא</font>).
        </p>
        <p>
            <b>Infinitivul constuct.</b></br>
            Vocala lungă caracteristică este prezentă în inf const, care este forma de dicționar a verbelor 
            găunoase, de exemplu,  (<font size="4">קוּם</font>), 
            (<font size="4">שִׂים</font>) și (<font size="4">בּוֹא</font>).
        </p>
        <p>
            <b>Imperfectul.</b></br>
                &#x1F449; Vocala lungă caracteristică este prezentă și la impf.</br>
                <table>
                    <tr>
                        <td style="width:25%"></td>
                        <th style="width:25%">בּוֹא</th>
                        <th style="width:25%">שִׂים</th>
                        <th>קוּם</th>
                    </tr>
                    <tr>
                        <td><i>3ms</i></td>
                        <td>יָבוֹא</td>
                        <td>יָשִׂים</td>
                        <td>יָקוּם</td>
                    </tr>
                    <tr>
                        <td><i>3fs</i></td>
                        <td>תָּבוֹא</td>
                        <td>תָּשִׂים</td>
                        <td>תָּקוּם</td>
                    </tr>
                    <tr>
                        <td><i>2ms</i></td>
                        <td>תָּבוֹא</td>
                        <td>תָּשִׂים</td>
                        <td>תָּקוּם</td>
                    </tr>
                    <tr>
                        <td><i>2fs</i></td>
                        <td>תָּבוֹאִי</td>
                        <td>תָּשִׂימִי</td>
                        <td>תָּקוּמִי</td>
                    </tr>
                    <tr>
                        <td><i>1cs</i></td>
                        <td>אָבוֹא</td>
                        <td>אָשִׂים</td>
                        <td>אָקוּם</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td><i>3mp</i></td>
                        <td>יָבוֹאוּ</td>
                        <td>יָשִׂימוּ</td>
                        <td>יָקוּמוּ</td>
                    </tr>
                    <tr>
                        <td><i>3fp</i></td>
                        <td>תְּבוֹאֶינָה</td>
                        <td>תְּשִׂימֶינָה</td>
                        <td>תְּקוּמֶינָה</td>
                    </tr>
                    <tr>
                        <td><i>2mp</i></td>
                        <td>תָּבוֹאוּ</td>
                        <td>תָּשִׂימוּ</td>
                        <td>תָּקוּמוּ</td>
                    </tr>
                    <tr>
                        <td><i>2fp</i></td>
                        <td></td>
                        <td>תְּשִׂימֶינָה</td>
                        <td>תְּקוּמֶינָה</td>
                    </tr>
                    <tr>
                        <td><i>1cp</i></td>
                        <td>נָבוֹא</td>
                        <td>נָשִׁים</td>
                        <td>נָקוּם</td>
                    </tr>
                </table>    
        </p>
        <p>
            <b>Imperativul</b></br>
            &#x1F449; Vocala lungă caracteristică este prezentă și în imperativ, deoarece imperativul este înrudit 
            ca formă cu infinitivul constuct și cu imperfectul.
            <table>
                <tr>
                    <td colspan="4"></td>
                    <th>Imperfect</th>
                </tr>
                <tr>
                    <td><i>2ms</i></td>
                    <td>בּוֹא</td>
                    <td>שִׂים</td>
                    <td>קוּם</td>
                    <td>תָּקוּם</td>
                </tr>
                <tr>
                    <td><i>2fs</i></td>
                    <td>בּוֹאִי</td>
                    <td>שִׂימִי</td>
                    <td>קוּמִי</td>
                    <td>תָּקוּמִי</td>
                </tr>
                <tr>
                    <td><i>2mp</i></td>
                    <td>בּוֹאוּ</td>
                    <td>שִׂימוּ</td>
                    <td>קוּמוּ</td>
                    <td>תָּקוּמוּ</td>
                </tr>
                <tr>
                    <td><i>2fp</i></td>
                    <td></td>
                    <td></td>
                    <td>קֹמְנָה</td>
                    <td>תָּקוּמֶינָה</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Cohortativul.</b></br>
            &#x1F449; Cohortativul este pur și simplu imperfect cu (<font size="4">&#1464;&#9744;</font>) adăugat, 
            de exemplu, <font size="4">אָקוּמָה</font>.
        </p>
        <p>
            <b>Iusivul</b></br>
            &#x1F449; Ca și în cazul verbelor III He, iusivul este o formă prescurtată a imperfectului, 
            de exemplu, <font size="4">יָקֹם</font> (impf <font size="4">יָקוּם</font>) 
            și <font size="4">יָשֵׂם</font> (impf <font size="4">יָשִׂים</font>).
        </p>
        <p>
            <b>Perfect</b></br>
            &#x1F449; Vocala lungă caracteristică nu se regăsește la perfect. Cele mai multe verbe 
            găunoase sunt verbe de acțiune, iar vocala din erfect este o vocală din clasa <i>a</i>. Mai multe 
            verbe găunoase sunt verbe stative, iar în aceste cazuri vocala din perfect este o vocală din 
            clasa <i>i</i> sau <i>u</i>.
            <table>
                <tr>
                    <th></th>
                    <th style="width:18%">מוּת</th>
                    <th style="width:18%">בּוֹשׁ</th>
                    <th style="width:18%">בּוֹא</th>
                    <th style="width:18%">שִׂים</th>
                    <th style="width:18%">קוּם</th>
                </tr>
                <tr>
                    <td><i>3ms</i></td>
                    <td>מֵתוּ</td>
                    <td>בּוֹשׁ</td>
                    <td>בָּא</td>
                    <td>שָׂם</td>
                    <td>קָם</td>
                </tr>
                <tr>
                    <td><i>3fs</i></td>
                    <td>מֵתָה</td>
                    <td>בּוֹשָׁה</td>
                    <td>בָּאָה</td>
                    <td>שָׂמָה</td>
                    <td>קָמָה</td>
                </tr>
                <tr>
                    <td><i>2ms</i></td>
                    <td>מַתָּה</td>
                    <td></td>
                    <td>בָּאתָ</td>
                    <td>שָׂמְתָּ</td>
                    <td>קָמְתָּ</td>
                </tr>
                <tr>
                    <td><i>2fs</i></td>
                    <td></td>
                    <td>בֹּשְׁתְּ</td>
                    <td>בָּאת</td>
                    <td>שָׂמְתְּ</td>
                    <td>קָמְתְּ</td>
                </tr>
                <tr>
                    <td><i>1cs</i></td>
                    <td>מַתִּי</td>
                    <td>בֹּשְׁתִּי</td>
                    <td>בָּאתִי</td>
                    <td>שָׂמְתִּי</td>
                    <td>קָמְתִּי</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i>3cp</i></td>
                    <td>מַתוּ</td>
                    <td>בּוֹשׁוּ</td>
                    <td>בָּאוּ</td>
                    <td>שָׂמוּ</td>
                    <td>קָמוּ</td>
                </tr>
                <tr>
                    <td><i>2mp</i></td>
                    <td></td>
                    <td></td>
                    <td>בָּאתֶם</td>
                    <td>שָׂמְתֶּם</td>
                    <td>קָמְתֶּם</td>
                </tr>
                <tr>
                    <td><i>2fp</i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>שָׂמְתֶּן</td>
                    <td>קָמְתֶּן</td>
                </tr>
                <tr>
                    <td><i>1cp</i></td>
                    <td>מַתְנוּ</td>
                    <td>בּוֹשְׁנוּ</td>
                    <td>בָּאנוּ</td>
                    <td>שָׂמְנוּ</td>
                    <td>קָמְנוּ</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Participiu</b></br>
            &#x1F449; Participiul Qal-ului are aceeași formă ca și 3ms de la perfect, pe care se adaugă 
            sufixurile specifice participiului.</br>
            <table>
                <tr>
                    <th></th>
                    <th style="width:18%">מוּת</th>
                    <th style="width:18%">בּוֹשׁ</th>
                    <th style="width:18%">בּוֹא</th>
                    <th style="width:18%">שִׂים</th>
                    <th style="width:18%">קוּם</th>
                </tr>
                <tr>
                    <td><i>ms</i></td>
                    <td>מֵת</td>
                    <td>בּוֹשׁ</td>
                    <td>בָּא</td>
                    <td>שָׂם</td>
                    <td>קָם</td>
                </tr>
                <tr>
                    <td><i>fs</i></td>
                    <td>מֵתָה</td>
                    <td></td>
                    <td>בָּאָה</td>
                    <td>שָׂמָה</td>
                    <td>קָמָה</td>
                </tr>
                <tr>
                    <td><i>mp</i></td>
                    <td>מֵתִים</td>
                    <td>בּוֹשִׁים</td>
                    <td>בָּאִים</td>
                    <td>שָׂמִים</td>
                    <td>קָמִים</td>
                </tr>
                <tr>
                    <td><i>fp</i></td>
                    <td></td>
                    <td></td>
                    <td>בָּאוֹת</td>
                    <td>שָׂמוֹת</td>
                    <td>קָמִוֹת</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Infinitivul absolut</b></br>
            &#x1F449; Infinitivul absolut are caracteristica holem-waw (<font size="4">&#64331;</font>) a oricărui 
            infinitiv absolut la forma qal.</br>
            <font size="4">מוֹת</font> &nbsp; &nbsp; &nbsp; &nbsp;
            <font size="4">בּוֹשׁ</font> &nbsp; &nbsp; &nbsp; &nbsp;
            <font size="4">בּוֹא</font> &nbsp; &nbsp; &nbsp; &nbsp;
            <font size="4">שׂוֹם</font> &nbsp; &nbsp; &nbsp; &nbsp;
            <font size="4">קוֹם</font> &nbsp; &nbsp; &nbsp; &nbsp;
        </p>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>