<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: I yod</h1>
      </header>
      <main>
        <h3>I yod (yod)</h3>
        <p>
            &#x1F449; Formele verbului I yod (yod) erau inițial <font size="4">,יַיְטִיב ,חַיְטִיב </font> etc., înainte 
            ca patahul inițial să se schimbe în hireq. Dar deoarece diftongul neaccentuat <font size="4"> &#1497;&#8239;&#1463;&#9744;</font>
             se contractă la <font size="4">&#1497;&#8239;&#1461;&#9744;</font> 
             (vezi <a href="{% url 'construct_sg' %}" class="mark"><i>diftongul</i></a>), formele sunt 
             <font size="4">,יֵיטִיב ,חֵיטִיב </font> etc.
        </p>
        <table>
            <tr>
                <th style="width:23%">I yod (yod) imperfect</th>
                <th style="width:23%">imperfect standard</th>
                <th style="width:23%">I yod (yod) perfect</th>
                <th style="width:23%">perfect standard</th>
            </tr>
            <tr>
                <td>יֵיטִיב</td>
                <td>יַקְטִל</td>
                <td>תַּקְטִיל</td>
                <td>הִקְטִיל</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תֵּיטִיב</td>
                <td>תַּקְטִיל</td>
                <td>הֵיטִיבָה</td>
                <td>הִקְטִילָה</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תֵּיטִיב</td>
                <td>תַּקְטִיל</td>
                <td>הֵיטַבְתָּ</td>
                <td>הִקְטַלְתָּ</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תֵּיטִיבִי</td>
                <td>תַּקְטִילִי</td>
                <td>הֵיטַבְתְּ</td>
                <td>הִקְטַלְתְּ</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אֵיטִיב</td>
                <td>אַקְטִיל</td>
                <td>הֵיטַבְתִּי</td>
                <td>הִקְטַלְתִּי</td>
                <td>1cs</td>
            </tr>
            <tr><td>
            <tr>
                <td>יֵיטִיבוּ</td>
                <td>יַקְטִילוּ</td>
                <td>הֵיטִיבוּ</td>
                <td>הִקְטִילוּ</td>
                <td>3m/cp</td>
            </tr>
            <tr>
                <td>תֵּיטֵבְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תֵּיטִיבוּ</td>
                <td>תַּקְטִילְוּ</td>
                <td>הֵיטַבְתֶּם</td>
                <td>הִקְטַלְתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תֵּיטֵבְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td>הֵיטַבְתֶּן</td>
                <td>הִקְטַלְתֶּן</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נֵיטִיב</td>
                <td>נַקְטִיל</td>
                <td>הֵיטַבְנוּ</td>
                <td>הִקְטַלְנוּ</td>
                <td>1cp</td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <th style="width:23%">I yod (yod) participiu</th>
            <th style="width:23%">participiu standard</th>
            <th style="width:23%">I yod (yod) imperativ</th>
            <th style="width:23%">imperativ standard</th>
        </tr>
        <tr>
            <td>מֵיטִיב</td>
            <td>מַקְטִיל</td>
            <td>הֵיטֵב</td>
            <td>הַקְטֵל</td>
            <td>2ms</td>
        </tr>
        <tr>
            <td>מֵיטֶבֶת</td>
            <td>מַקְטֶלֶת</td>
            <td>הֵיטִיבִי</td>
            <td>הַקְטִילִי</td>
            <td>2fs</td>
        </tr>
        <tr>
            <td>מֵיטִיבִים</td>
            <td>מַקְטִילִים</td>
            <td>הֵיטִיבוּ</td>
            <td>הַקְטִילוּ</td>
            <td>2mp</td>
        </tr>
        <tr>
            <td>מֵיטִיבוֹת</td>
            <td>מַקְטִילוֹת</td>
            <td>הֵיטֵבְנָה</td>
            <td>הַקְטֵלְנָה</td>
            <td>2fp</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th style="width:25%">I yod (yod) inf absolut</th>
            <th style="width:25%">inf absolut standard</th>
            <th style="width:25%">I yod (yod) inf constr</th>
            <th>inf constr standard</th>
        </tr>
        <tr>
            <td>הֵיטֵב</td>
            <td>הַקְטֵל</td>
            <td>הֵיטִיב</td>
            <td>הַקְטִיל</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th style="width:23%">I yod (yod) wci</th>
            <th style="width:23%">wci standard</th>
            <th style="width:23%">I yod (yod) iusiv</th>
            <th style="width:23%">iusiv standard</th>
        </tr>
        <tr>
            <td>וַיֵּיטֵב</td>
            <td>וַיַּקְטֵל</td>
            <td>יֵיטֵב</td>
            <td>יַקְטֵל</td>
            <td>3ms</td>
        </tr>
        </table>
        <h3>I yod (waw)</h3>
        <p>
            &#x1F449; Formele verbale ale lui I yod (waw)  ar trebui să fie
            <font size="4">יַוְשִׁיב ,הַוְשִׁיב</font>, etc. Dar deoarece diftongul 
            neaccentuat <font size="4">&#1493;&#8239;&#1461;&#9744;</font> se contractă 
            la <font size="4">&#64331;</font>, formele sunt <font size="4">יוֹשִׁיב ,הוֹשִׁיב</font>, etc.
        </p>
        <table>
            <tr>
                <th style="width:23%">I yod (waw) imperfect</th>
                <th style="width:23%">imperfect standard</th>
                <th style="width:23%">I yod (waw) perfect</th>
                <th style="width:23%">perfect standard</th>
            </tr>
            <tr>
                <td>יוֹשִׁיב</td>
                <td>יַקְטִל</td>
                <td>הוֹשִׁיב</td>
                <td>הִקְטִיל</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תּוֹשִׁיב</td>
                <td>תַּקְטִיל</td>
                <td>הוֹשִׁיבָה</td>
                <td>הִקְטִילָה</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תּוֹשִׁיב</td>
                <td>תַּקְטִיל</td>
                <td>הוֹשַׁבְתָּ</td>
                <td>הִקְטַלְתָּ</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תּוֹשִׁיבִי</td>
                <td>תַּקְטִילִי</td>
                <td>הוֹשַׁבְתְּ</td>
                <td>הִקְטַלְתְּ</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אוֹשִׁיב</td>
                <td>אַקְטִיל</td>
                <td>הוֹשַׁבְתִּי</td>
                <td>הִקְטַלְתִּי</td>
                <td>1cs</td>
            </tr>
            <tr><td>
            <tr>
                <td>יוֹשִׁיבוּ</td>
                <td>יַקְטִילוּ</td>
                <td></td>
                <td>הִקְטִילוּ</td>
                <td>3m/cp</td>
            </tr>
            <tr>
                <td>תּוֹשֵׁבְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תּוֹשִׁיבוּ</td>
                <td>תַּקְטִילְוּ</td>
                <td>הוֹשַׁבְתֶּם</td>
                <td>הִקְטַלְתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תּוֹשֵׁבְנָה</td>
                <td>תַּקְטֵלְנָה</td>
                <td>הוֹשַׁבְתֶּן</td>
                <td>הִקְטַלְתֶּן</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נוֹשִׁיב</td>
                <td>נַקְטִיל</td>
                <td>הוֹשַׁבְנוּ</td>
                <td>הִקְטַלְנוּ</td>
                <td>1cp</td>
            </tr>
        </table>
        </br>
        <table>
            <tr>
                <th style="width:23%">I yod (waw) participiu</th>
                <th style="width:23%">participiu standard</th>
                <th style="width:23%">I yod (waw) imperativ</th>
                <th style="width:23%">imperativ standard</th>
            </tr>
            <tr>
                <td>מוֹשִׁיב</td>
                <td>מַקְטִיל</td>
                <td>הוֹשֵׁב</td>
                <td>הַקְטֵל</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>מוֹשֶׁבֶת</td>
                <td>מַקְטֶלֶת</td>
                <td>הוֹשִׁיבִי</td>
                <td>הַקְטִילִי</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>מוֹשִׁיבּים</td>
                <td>מַקְטִילִים</td>
                <td>הוֹשִׁיבוּ</td>
                <td>הַקְטִילוּ</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>מוֹשִׁיבוֹת</td>
                <td>מַקְטִילוֹת</td>
                <td>הוֹשֵׁבְנָה</td>
                <td>הַקְטֵלְנָה</td>
                <td>2fp</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th style="width:25%">I yod (waw) inf absolut</th>
                <th style="width:25%">inf absolut standard</th>
                <th style="width:25%">I yod (waw) inf constr</th>
                <th>inf constr standard</th>
            </tr>
            <tr>
                <td>הוֹשֵׁב</td>
                <td>הַקְטֵל</td>
                <td>הוֹשִׁיב</td>
                <td>הַקְטִיל</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th style="width:23%">I yod (waw) wci</th>
                <th style="width:23%">wci standard</th>
                <th style="width:23%">I yod (waw) iusiv</th>
                <th style="width:23%">iusiv standard</th>
            </tr>
            <tr>
                <td>וַיּוֹשֵׁב</td>
                <td>וַיַּקְטֵל</td>
                <td>יוֹשֵׁב</td>
                <td>יַקְטֵל</td>
                <td>3ms</td>
            </tr>
        </table>
        <h3>Verbe I Yod (waw) în Hiphil cunoscute</h3>
        <table>
            <tr>
                <th style="width:23%"></th>
                <th style="width:23%">hiphil</th>
                <th style="width:23%"></th>
                <th style="width:23%">qal</th>
            </tr>
            <tr>
                <td>se usucă</td>
                <td>הוֹבִישׁ</td>
                <td>să fie uscat</td>
                <td>יָבֵשׁ</td>
            </tr>
            <tr>
                <td>se informează</td>
                <td>הוֹדִיעַ</td>
                <td>știe</td>
                <td>יָדַע</td>
            </tr>
            <tr>
                <td>devine tată</td>
                <td>הוֹלִיד</td>
                <td>să nască</td>
                <td>יָלַד</td>
            </tr>
            <tr>
                <td>evidențiază</td>
                <td>הוֹצִיא</td>
                <td>să iasă</td>
                <td>יָצָא</td>
            </tr>
            <tr>
                <td>doboară</td>
                <td>הוֹרִיד</td>
                <td>du-te jos</td>
                <td>יָרַד</td>
            </tr>
            <tr>
                <td>deposedează</td>
                <td>הוֹרִישׁ</td>
                <td>moștenește</td>
                <td>יָרַשׁ</td>
            </tr>
            <tr>
                <td>se așează</td>
                <td>הוֹשִׁיב</td>
                <td>locuiește</td>
                <td>יָשַׁב</td>
            </tr>
        </table>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>