<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: I yod</h1>
      </header>
      <main>
        <h3>I yod (yod)</h3>
        <p>
            &#x1F449; Formele verbului I yod (yod) erau inițial <font size="4">,יַיְטִיב ,חַיְטִיב </font> etc., înainte 
            ca patahul inițial să se schimbe în hireq. Dar deoarece diftongul neaccentuat <font size="4"> &#1497;&#8239;&#1463;&#9744;</font>
             se contractă la <font size="4">&#1497;&#8239;&#1461;&#9744;</font> 
             (vezi <a href="{% url 'construct_sg' %}" class="mark"><i>diftongul</i></a>), formele sunt 
             <font size="4">,יֵיטִיב ,חֵיטִיב </font> etc.
        </p>
        <table>
            <tr>
                <th style="width:22%">I yod (yod) imperfect</th>
                <th style="width:22%">imperfect standard</th>
                <th style="width:22%">I yod (yod) perfect</th>
                <th style="width:22%">perfect standard</th>
            </tr>
            <tr>
                <td class=cell-dr>יֵיטִיב</td>
                <td class=cell-dr>יַקְטִל</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הִקְטִיל</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תֵּיטִיב</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הֵיטִיבָה</td>
                <td class=cell-dr>הִקְטִילָה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תֵּיטִיב</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הֵיטַבְתָּ</td>
                <td class=cell-dr>הִקְטַלְתָּ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תֵּיטִיבִי</td>
                <td class=cell-dr>תַּקְטִילִי</td>
                <td class=cell-dr>הֵיטַבְתְּ</td>
                <td class=cell-dr>הִקְטַלְתְּ</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>אֵיטִיב</td>
                <td class=cell-dr>אַקְטִיל</td>
                <td class=cell-dr>הֵיטַבְתִּי</td>
                <td class=cell-dr>הִקְטַלְתִּי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr><td>
            <tr>
                <td class=cell-dr>יֵיטִיבוּ</td>
                <td class=cell-dr>יַקְטִילוּ</td>
                <td class=cell-dr>הֵיטִיבוּ</td>
                <td class=cell-dr>הִקְטִילוּ</td>
                <td class=cell-st><i>3m/cp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תֵּיטֵבְנָה</td>
                <td class=cell-dr>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תֵּיטִיבוּ</td>
                <td class=cell-dr>תַּקְטִילְוּ</td>
                <td class=cell-dr>הֵיטַבְתֶּם</td>
                <td class=cell-dr>הִקְטַלְתֶּם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תֵּיטֵבְנָה</td>
                <td class=cell-dr>תַּקְטֵלְנָה</td>
                <td class=cell-dr>הֵיטַבְתֶּן</td>
                <td class=cell-dr>הִקְטַלְתֶּן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נֵיטִיב</td>
                <td class=cell-dr>נַקְטִיל</td>
                <td class=cell-dr>הֵיטַבְנוּ</td>
                <td class=cell-dr>הִקְטַלְנוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table>
    </br>
    <table>
        <tr>
            <th style="width:22%">I yod (yod) participiu</th>
            <th style="width:22%">participiu standard</th>
            <th style="width:22%">I yod (yod) imperativ</th>
            <th style="width:22%">imperativ standard</th>
        </tr>
        <tr>
            <td class=cell-dr>מֵיטִיב</td>
            <td class=cell-dr>מַקְטִיל</td>
            <td class=cell-dr>הֵיטֵב</td>
            <td class=cell-dr>הַקְטֵל</td>
            <td class=cell-st><i>2ms</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מֵיטֶבֶת</td>
            <td class=cell-dr>מַקְטֶלֶת</td>
            <td class=cell-dr>הֵיטִיבִי</td>
            <td class=cell-dr>הַקְטִילִי</td>
            <td class=cell-st><i>2fs</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מֵיטִיבִים</td>
            <td class=cell-dr>מַקְטִילִים</td>
            <td class=cell-dr>הֵיטִיבוּ</td>
            <td class=cell-dr>הַקְטִילוּ</td>
            <td class=cell-st><i>2mp</i></td>
        </tr>
        <tr>
            <td class=cell-dr>מֵיטִיבוֹת</td>
            <td class=cell-dr>מַקְטִילוֹת</td>
            <td class=cell-dr>הֵיטֵבְנָה</td>
            <td class=cell-dr>הַקְטֵלְנָה</td>
            <td class=cell-st><i>2fp</i></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th style="width:25%">I yod (yod) inf absolut</th>
            <th style="width:25%">inf absolut standard</th>
            <th style="width:25%">I yod (yod) inf constr</th>
            <th>inf constr standard</th>
        </tr>
        <tr>
            <td>הֵיטֵב</td>
            <td>הַקְטֵל</td>
            <td>הֵיטִיב</td>
            <td>הַקְטִיל</td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th style="width:22%">I yod (yod) wci</th>
            <th style="width:22%">wci standard</th>
            <th style="width:22%">I yod (yod) iusiv</th>
            <th style="width:22%">iusiv standard</th>
        </tr>
        <tr>
            <td>וַיֵּיטֵב</td>
            <td>וַיַּקְטֵל</td>
            <td>יֵיטֵב</td>
            <td>יַקְטֵל</td>
            <td class=cell-st><i>3ms</i></td>
        </tr>
        </table>
        <h3>I yod (waw)</h3>
        <p>
            &#x1F449; Formele verbale ale lui I yod (waw)  ar trebui să fie
            <font size="4">יַוְשִׁיב ,הַוְשִׁיב</font>, etc. Dar deoarece diftongul 
            neaccentuat <font size="4">&#1493;&#8239;&#1461;&#9744;</font> se contractă 
            la <font size="4">&#64331;</font>, formele sunt <font size="4">יוֹשִׁיב ,הוֹשִׁיב</font>, etc.
        </p>
        <table>
            <tr>
                <th style="width:22%">I yod (waw) imperfect</th>
                <th style="width:22%">imperfect standard</th>
                <th style="width:22%">I yod (waw) perfect</th>
                <th style="width:22%">perfect standard</th>
            </tr>
            <tr>
                <td class=cell-dr>יוֹשִׁיב</td>
                <td class=cell-dr>יַקְטִל</td>
                <td class=cell-dr>הוֹשִׁיב</td>
                <td class=cell-dr>הִקְטִיל</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תּוֹשִׁיב</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הוֹשִׁיבָה</td>
                <td class=cell-dr>הִקְטִילָה</td>
                <td class=cell-st><i>3fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תּוֹשִׁיב</td>
                <td class=cell-dr>תַּקְטִיל</td>
                <td class=cell-dr>הוֹשַׁבְתָּ</td>
                <td class=cell-dr>הִקְטַלְתָּ</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תּוֹשִׁיבִי</td>
                <td class=cell-dr>תַּקְטִילִי</td>
                <td class=cell-dr>הוֹשַׁבְתְּ</td>
                <td class=cell-dr>הִקְטַלְתְּ</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>אוֹשִׁיב</td>
                <td class=cell-dr>אַקְטִיל</td>
                <td class=cell-dr>הוֹשַׁבְתִּי</td>
                <td class=cell-dr>הִקְטַלְתִּי</td>
                <td class=cell-st><i>1cs</i></td>
            </tr>
            <tr><td>
            <tr>
                <td class=cell-dr>יוֹשִׁיבוּ</td>
                <td class=cell-dr>יַקְטִילוּ</td>
                <td></td>
                <td class=cell-dr>הִקְטִילוּ</td>
                <td class=cell-st><i>3m/cp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תּוֹשֵׁבְנָה</td>
                <td class=cell-dr>תַּקְטֵלְנָה</td>
                <td></td>
                <td></td>
                <td class=cell-st><i>3fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תּוֹשִׁיבוּ</td>
                <td class=cell-dr>תַּקְטִילְוּ</td>
                <td class=cell-dr>הוֹשַׁבְתֶּם</td>
                <td class=cell-dr>הִקְטַלְתֶּם</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>תּוֹשֵׁבְנָה</td>
                <td class=cell-dr>תַּקְטֵלְנָה</td>
                <td class=cell-dr>הוֹשַׁבְתֶּן</td>
                <td class=cell-dr>הִקְטַלְתֶּן</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>נוֹשִׁיב</td>
                <td class=cell-dr>נַקְטִיל</td>
                <td class=cell-dr>הוֹשַׁבְנוּ</td>
                <td class=cell-dr>הִקְטַלְנוּ</td>
                <td class=cell-st><i>1cp</i></td>
            </tr>
        </table>
        </br>
        <table>
            <tr>
                <th style="width:22%">I yod (waw) participiu</th>
                <th style="width:22%">participiu standard</th>
                <th style="width:22%">I yod (waw) imperativ</th>
                <th style="width:22%">imperativ standard</th>
            </tr>
            <tr>
                <td class=cell-dr>מוֹשִׁיב</td>
                <td class=cell-dr>מַקְטִיל</td>
                <td class=cell-dr>הוֹשֵׁב</td>
                <td class=cell-dr>הַקְטֵל</td>
                <td class=cell-st><i>2ms</i></td>
            </tr>
            <tr>
                <td class=cell-dr>מוֹשֶׁבֶת</td>
                <td class=cell-dr>מַקְטֶלֶת</td>
                <td class=cell-dr>הוֹשִׁיבִי</td>
                <td class=cell-dr>הַקְטִילִי</td>
                <td class=cell-st><i>2fs</i></td>
            </tr>
            <tr>
                <td class=cell-dr>מוֹשִׁיבּים</td>
                <td class=cell-dr>מַקְטִילִים</td>
                <td class=cell-dr>הוֹשִׁיבוּ</td>
                <td class=cell-dr>הַקְטִילוּ</td>
                <td class=cell-st><i>2mp</i></td>
            </tr>
            <tr>
                <td class=cell-dr>מוֹשִׁיבוֹת</td>
                <td class=cell-dr>מַקְטִילוֹת</td>
                <td class=cell-dr>הוֹשֵׁבְנָה</td>
                <td class=cell-dr>הַקְטֵלְנָה</td>
                <td class=cell-st><i>2fp</i></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th style="width:25%">I yod (waw) inf absolut</th>
                <th style="width:25%">inf absolut standard</th>
                <th style="width:25%">I yod (waw) inf constr</th>
                <th>inf constr standard</th>
            </tr>
            <tr>
                <td>הוֹשֵׁב</td>
                <td>הַקְטֵל</td>
                <td>הוֹשִׁיב</td>
                <td>הַקְטִיל</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th style="width:22%">I yod (waw) wci</th>
                <th style="width:22%">wci standard</th>
                <th style="width:22%">I yod (waw) iusiv</th>
                <th style="width:22%">iusiv standard</th>
            </tr>
            <tr>
                <td>וַיּוֹשֵׁב</td>
                <td>וַיַּקְטֵל</td>
                <td>יוֹשֵׁב</td>
                <td>יַקְטֵל</td>
                <td class=cell-st><i>3ms</i></td>
            </tr>
        </table>
        <h3>Verbe I Yod (waw) în Hiphil cunoscute</h3>
        <table>
            <tr>
                <th style="width:22%"></th>
                <th style="width:22%">hiphil</th>
                <th style="width:22%"></th>
                <th style="width:22%">qal</th>
            </tr>
            <tr>
                <td class=cell-st>se usucă</td>
                <td>הוֹבִישׁ</td>
                <td class=cell-st>să fie uscat</td>
                <td>יָבֵשׁ</td>
            </tr>
            <tr>
                <td class=cell-st>se informează</td>
                <td>הוֹדִיעַ</td>
                <td class=cell-st>știe</td>
                <td>יָדַע</td>
            </tr>
            <tr>
                <td class=cell-st>devine tată</td>
                <td>הוֹלִיד</td>
                <td class=cell-st>să nască</td>
                <td>יָלַד</td>
            </tr>
            <tr>
                <td class=cell-st>evidențiază</td>
                <td>הוֹצִיא</td>
                <td class=cell-st>să iasă</td>
                <td>יָצָא</td>
            </tr>
            <tr>
                <td class=cell-st>doboară</td>
                <td>הוֹרִיד</td>
                <td class=cell-st>du-te jos</td>
                <td>יָרַד</td>
            </tr>
            <tr>
                <td class=cell-st>deposedează</td>
                <td>הוֹרִישׁ</td>
                <td class=cell-st>moștenește</td>
                <td>יָרַשׁ</td>
            </tr>
            <tr>
                <td class=cell-st>se așează</td>
                <td>הוֹשִׁיב</td>
                <td class=cell-st>locuiește</td>
                <td>יָשַׁב</td>
            </tr>
        </table>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>