{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="story-container">
    <header >
        <h1>Formele substantivului</h1>
    </header>
    <main>
    <h3> Genul substantivului </h3>
    <p>La fel ca în limba română substantivele au gen feminin sau masculin. Spre deosebire de română nu au neutru</p>
    <p class="p-indent">&#x27A0; <font size="5">סוּס</font> este substantiv masculin și înseamnă cal; 
      <br>
      &#x27A0; <font size="5">סוּסָה</font> este substantiv feminin și înseamnă iapă; 
    </p>
    <p>Uneori substantivele nu au legătură cu sexul dar tot au gen</p>
    <p class="p-indent">&#x27A0; <font size="5">דָּבָר</font> este substantiv masculin și înseamnă cuvânt; 
      <br>
      &#x27A0; <font size="5">מִלְחָמָה</font> este substantiv feminin și înseamnă bătălie; 
    </p>
    <h4> Substantivul masculin la singular </h4>
    <p>Substantivele masculine la singular sunt, de obicei, "nemarcate", adică nu există o terminație 
      specială care să marcheze substantivul ca fiind masculin.</p>
      <p class="p-indent">&#x27A0; <font size="5">סוּס</font> și <font size="5">דָּבָר</font> sunt substantive 
        masculine și nu au terminație specială;</p>
        
        
    <h4> Substantivul feminin la singular </h4>
    <p>Substantivele feminine la singular sunt, de obicei, "marcate", adică au o terminație 
      caracteristică ce marcheză substantivul ca fiind feminin.</br>
      Cea mai des întâlnită terminație pentru substantivul feminin este
      <span class="colored-letter"> <font size="4"> &#1492;&thinsp;&#1464;&#9744;</span></font> unde &#1492; este considerat vocală
    </p>
    <p class="p-indent">&#x27A0; <font size="4">סוּסָה</font> și <font size="4">מִלְחָמָה</font> sunt substantive 
      feminine și au terminația <span class="colored-letter"> <font size="4"> &#1492;&thinsp;&#1464;&#9744;</span></font></p>
    <p>O altă terminație specifică substantivelor la genul feminin este în litera
    <span class="colored-letter"> <font size="4"> &#1514;</span></font> precedată de diferite vocale.</p>
    <p class="p-indent">&#x27A0; <font size="4">בַּת</font> (<i>fiică</i>) și <font size="4">מַלְכּוּת</font> (<i>regat</i>) 
      sunt substantive feminine și au terminația <span class="colored-letter"> <font size="4"> &#1514;</span></font></p> 


    <h4> Substantivul feminin la singular, forme neregulate </h4>
    <p> Unele substantive feminine nu au terminația specială, iar genul lor reiese din context.
      Părțile corpului sunt și ele substantive feminine dar nu sunt marcate ca atare de terminația specifică.<p>
        <p class="p-indent"> <font size="3">אֵם &#10232; <i>mamă</i></font></br>
          <font size="3">יָד &#10232; <i>mână</i> </font></br>
          <font size="3">אֶרֶץ &#10232; <i>țără, pământ</i></font></br>
          <font size="3">עִיר &#10232; <i>oraș, localitate</i></font></br>


    <h3> Numeralul substantivului </h3>

    <p> Substantivele au ca și în limba română singular și plural dar au în plus și o formă de dual.<p>
    
    
      <h4> Substantivul masculin la plural </h4>
    <p> Substantivele masculine la plural sunt de obicei marcate de 
      terminația <span class="colored-letter"> <font size="5"> &#1497;&thinsp;&#1501;&thinsp;&#1460; </span></font><p>

        <table>
          <tr>
            <th>סוּס</th>
            <th>סוּסִים</th>
          </tr>
          <tr>
            <td>cal</td>
            <td>cai</td>
          </tr>
          <tr>
            <th>אֵל</th>
            <th>אֵלִים</th>
          </tr>
          <tr>
            <td>zeu</td>
            <td>zei</td>
          </tr>
        </table></p>


        <h4> Substantivul feminin la plural </h4>
        <p> Substantivele feminine la plural sunt de obicei marcate de 
          terminația <span class="colored-letter"> <font size="5"> וֹת </span></font><p>
    
            <table>
              <tr>
                <th>סוּסָה</th>
                <th>סוּסוֹת</th>
              </tr>
              <tr>
                <td>iapă</td>
                <td>iepe</td>
              </tr>
              <tr>
                <th>מִלְחָמָה</th>
                <th>מִלְחָמוֹת</th>
              </tr>
              <tr>
                <td>bătălie</td>
                <td>bătălii</td>
              </tr>
            </table></p>
    
      <h4> Forme neregulate ale pluralului</h4>
        <p> Unele substantive masculine la plural par feminine, genul se deduce din context<p>
          <table>
            <tr>
              <th>אָב</th>
              <th>אָבוֹת</th>
            </tr>
            <tr>
              <td>tată</td>
              <td>tați</td>
            </tr>
          
          </table></p>
          <p> Unele substantive feminine la plural par masculine, genul se deduce din context.<p>    
          <p>  <table>
              <tr>
                <th>עִיר</th>
                <th>עִירִים</th>
              </tr>
              <tr>
                <td>oraș</td>
                <td>orașe</td>
              </tr>
            
            </table></p>

      <h4> Pluralul dual</h4>
        <p> Pluralul dual se referă la două obiecte, nu la trei sau mai multe și se întâlnește 
          la substantivele care există în mod natural în perechi și la unele expresii referitoare la timp.
          Terminația specifică este <span class="colored-letter"> <font size="5"> יִם &#1463;</span></font>
        </p>
          <p>  <table>
            <tr>
              <th>יָד</th>
              <th>יָדַיִם</th>
            </tr>
            <tr>
              <td>mână</td>
              <td>două mâini</td>
            </tr>
            <tr>
              <th>יוֹם</th>
              <th>יוֹםַיִם</th>
            </tr>
            <tr>
              <td>zi</td>
              <td>două zile</td>
            </tr>
          
          </table></p>

<br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    </body>

    </div>
</body>
