{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> {% endcomment %}

<body>
    
    <div class="story-container">
      <header >
          <h1>Propoziții cu verb</h1>
      </header>
      <main>
        <h2> Subiectul </h2>
        <p> 
            Asemănător limbii române în ebraica biblică subiectul poate fi dedus numai din forma verbului. 
            <font size="4"> שָׁלַחְתִּי </font> este o propoziție simplă completă și înseamnă <i>eu am trimis</i> unde 
            subiectul <i>eu</i> este dedus din sufixul  <font size="4"> תִּי </font>.
        </p>
        <p>
            &#x1F449; Subiectul poate fi specificat prin adăugarea unui pronume personal. Atunci când se adaugă un pronume, 
            se pune accentul pe subiect. Propoziția <font size="4"> אֲנִי שָׁלַחְתִּי </font> înseamnă "Eu (nu tu sau 
            altcineva) am trimis".
        </p>
        <p>
            &#x1F449; Subiectul poate fi precizat printr-un substantiv, atunci când verbul este la persoana a III-a.</br>
            <font size="4">אָב שָׁלַח</font> &#10232; Un tată a trimis.</br>
            <font size="4"> אֵם שָׁלַחָה </font> &#10232; O mamă a trimis.</br>
            <font size="4"> אֲנָשִׁים שָׁלְחוּ </font> &#10232; Cineva a trimis.
        </p>
        <p>
            Subiectul - fie că este un pronume sau un substantiv - trebuie să fie în acord cu verbul 
            în gen și număr.
        </p>
        <h2>Complementul direct</h2>
        <p>
            Complementul direct este obiectul (persoană sau lucru) afectat direct de acțiunea verbului. 
            În "a aruncat o minge", complementul direct este "o minge".</br>
            <font size="4"> שָׁלַח סוּס </font> &#10232; El a trimis un cal.</br>
            <font size="4"> שָׁלַח בֶּגֶד </font> &#10232; El a trimis un veșmânt.</br>
        </p>    
        <p>
            &#x1F449; În ebraică există două feluri de complement direct, determinate și nedeterminate. Exemplele anterioare
            se referă la un obiect care nu este definit.
        </p>
        <p>
            &#x1F449; Atunci când există un obiect direct definit, cuvântul <font size="4"> אֵת </font> este plasat înaintea obiectului. Cuvântul
            <font size="4"> אֵת </font>nu este traductibil, ci indică doar prezența unui complement direct determinat. 
            Markerul de obiect direct <font size="4"> אֵת </font> apare în două forme. În aproximativ 10% din cazuri, 
            forma este <font size="4"> אֵת </font>. Aproximativ 90% din timp, forma este <font size="4"> אֵת־ </font>. 
            Bara din stânga sus a cuvântului se numește maqef și funcționează oarecum ca o cratimă în limba română.
        </p>
        <h2>Ordinea cuvintelor</h2>
        <p>
            Ordinea tipică a cuvintelor în ebraică este: (1) verbul, (2) subiectul și (3) complementul direct.</br>
            <font size="4"> שָׁלַח הַאָב אֵת־הַסּוּס </font> &#10232; Tatăl a trimis calul.</br>
            <font size="4"> שָׁלְחָה הָאֵם אֶת־הַבֶּגֶד </font> &#10232; Mama a trimis veșmântul.
        </p>
        <p>
            &#x1F449; Atunci când subiectul sau complementul direct este plasat înaintea verbului, accentul este pus pe acel
            subiect sau complement direct. </br>
            <font size="4"> חָאָב שָׁלַח אֶת־הַסּוּס </font> &#10232; Tatăl (nu altcineva) a trimis calul.</br>
            <font size="4"> אֶת־ה־סּוּס שָׁלַח הָאָב </font> &#10232; Tatăl a trimis calul (nu altceva).</br>
        </p>
        <h2>Propozițiile negative</h2>
        <p>
            Propozițiile sunt făcute negative prin cuvântul <font size="4"> לֹא </font>. Orice element 
            al propoziției poate fi negat, iar <font size="4"> לֹא </font> va fi plasat imediat înaintea 
            elementului negat.</br>
            <font size="4"> לֹא שָׁלַח הָאָב אֶת־הַסּוּס </font> &#10232; Tatăl nu a trimis calul (l-a păstrat).</br>
            <font size="4"> לֹא הָאָב שָׁלַח אֶת־הַסּוּס </font> &#10232; Nu tatăl a trimis calul (ci altcineva).</br>
            <font size="4"> לֹא אֶת־הַסּוּס שָׁלַח הָאָב  </font> &#10232; "Tatăl nu a trimis calul (ci haina).".
        </p>
        <p>
            &#x1F449; Se poate observa că propozițiile ebraice sunt diferite din punct de vedere logic, 
           după cum se poate observa din elementul de contrast din paranteze.
        </p>
           
        <br>
        <div style="text-align: center;">

            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </main>
        </div>
            <div class="right-sidebar"></div>
    </div>
    </body>
</html>