<body>
    <div class="story-container">
      <header >
          <h1>Piel: rădăcini tari</h1>
      </header>
      <main>
        <h2>Semnificația lui Piel</h2>
        <p>
            &#x1F449; Piel este al doilea dintre cele șapte modele majore de verbe. Qal reprezintă 69% din toate 
            verbele din Biblia ebraică; piel, 9%.
        </p>
        <p>
            &#x1F449; La fel ca și qal, piel are un perfect (<i>pf</i>), imperfect (<i>impf</i>), iusiv (<i>jus</i>), 
            cohortativ (<i>coh</i>), imperativ (<i>impv</i>), participiu (<i>ptc</i>), 
            infinitiv constuct (<i>inf const</i>), și infinitiv absbsolut (<i>inf abs</i>).
        </p>
        <p>
            &#x1F449; A schimba forma verbului înseamnă a schimba sensul verbului.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>distruge</td>
                    <td class=cell-st>piere</td>
                    <td>אבד</td>
                </tr>
                <tr>
                    <td class=cell-st>termină</td>
                    <td class=cell-st>să fie terminat</td>
                    <td>כלה</td>
                </tr>
                <tr>
                    <td class=cell-st>umple</td>
                    <td class=cell-st>să fie umplut</td>
                    <td>מלא</td>
                </tr>
                <tr>
                    <td class=cell-st>eliberat</td>
                    <td class=cell-st>trimis</td>
                    <td>שׁלח</td>
                </tr>
            </table>
        </p>
        <p>
            &#x1F449; Unele verbe apar numai (sau în principal) în piel fără un qal corespunzător.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>caută</td>
                    <td></td>
                    <td>בקשׁ</td>
                </tr>
                <tr>
                    <td class=cell-st>vorbește</td>
                    <td></td>
                    <td>דבר</td>
                </tr>
                <tr>
                    <td class=cell-st>comandă</td>
                    <td></td>
                    <td>צוח</td>
                </tr>
            </table>
        </p>
        <h2>Formele lui Piel</h2>
        <p>
            &#x1F449; Caracteristica primară a pielului este puternicul dagesh în consoana centrală a rădăcinii.
        </p>
        <p>
            Perfect.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>קִטֵּל</td>
                    <td class=cell-dr>קָטַל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטְּלָה</td>
                    <td class=cell-dr>קָטְלָה</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטַּלְתָּ</td>
                    <td class=cell-dr>קָטַלְתָּ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטַּלְתְּ</td>
                    <td class=cell-dr>קָטַלְתְּ</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטַּלְתִּי</td>
                    <td class=cell-dr>קָטַלְתִּי</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטְּלוּ</td>
                    <td class=cell-dr>קָטְלוּ</td>
                    <td class=cell-st><i>3cp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטַּלְתֶּם</td>
                    <td class=cell-dr>קְטַלְתֶּם</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטַּלְתֶּן</td>
                    <td class=cell-dr>קְטַלְתֶּן</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קִטַּלְנוּ</td>
                    <td class=cell-dr>קָטַלְנוּ</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table>
        </p>
        <p>
            Imperfect.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>יְקַטֵּל</td>
                    <td class=cell-dr>יִקְטֹל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תְּקַטֵּל</td>
                    <td class=cell-dr>תִּקְטֹל</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תְּקַטֵּל</td>
                    <td class=cell-dr>תִּקְטֹל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תְִקַטְּלִי</td>
                    <td class=cell-dr>תִּקְטְלִי</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>אֲקַטֵּל</td>
                    <td class=cell-dr>אֶקְטֹל</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class=cell-dr>יְקַטְּלוּ</td>
                    <td class=cell-dr>יִקְטְלוּ</td>
                    <td class=cell-st><i>3mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תְּקַטֵּלְנָה</td>
                    <td class=cell-dr>תִּקְטֹלְנָה</td>
                    <td class=cell-st><i>3fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תְּקַטֵּלוּ</td>
                    <td class=cell-dr>תִּקְטְלוּ</td>
                    <td class=cell-st>2mp</td>
                </tr>
                <tr>
                    <td class=cell-dr>תְּקַטֵּלְנָה</td>
                    <td class=cell-dr>תִּקְטֹלְנָה</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נְקַטֵּל</td>
                    <td class=cell-dr>נִקְטֹל</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table>
        </p>
        <p>
            Imperativ.
            <table class=jumate>
                <tr>
                    <th style="width:40%">imperativ</th>
                    <th style="width:40%">imperfect</th>
                </tr>
                <tr>
                    <td class=cell-dr>קַטֵּל</td>
                    <td class=cell-dr>תְּקַטֵּל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קַטְּלִי</td>
                    <td class=cell-dr>תְּקַטְּלִי</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קַטְּלוּ</td>
                    <td class=cell-dr>תְּקַטְּלוּ</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>קַטֵּלְנָה</td>
                    <td class=cell-dr>תְּקַטֵּלְנָה</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
            </table>
        </p>
        <p>
            Infinitiv.
            <table class=jumate>
                <tr>
                    <th style="width:33%">infinitiv construct</th>
                    <th style="width:33%">infinitiv absolut</th>
                    <th>imperativ</th>
                </tr>
                <tr>
                    <td>קַטֵּל</td>
                    <td>קַטֵּל / קַטֹּל</td>
                    <td>קַטֵּל</td>
                </tr>
            </table>
        </p>
        <p>
            Participiu.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>מְקַטֵּל</td>
                    <td class=cell-dr>קֹטֵל</td>
                    <td class=cell-st><i>ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>מְקַטֶּלֶת</td>
                    <td class=cell-dr>קֹטֶלֶת</td>
                    <td class=cell-st><i>fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>מְקַטְּלִים</td>
                    <td class=cell-dr>קֹטְלִים</td>
                    <td class=cell-st><i>mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>מְקַטְּלוֹת</td>
                    <td class=cell-dr>קֹטְלוֹת</td>
                    <td class=cell-st><i>fp</i></td>
                </tr>
            </table>
        </p>
        <p>
            Cohortativ.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>אֲקַטְּלָה</td>
                    <td class=cell-dr>אֶקְטְלָה</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נְקַטְּלָה</td>
                    <td class=cell-dr>נִקְטְלָה</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table>
        </p>
        <p>
            Iusiv.
            <table class=jumate>
                <tr>
                    <th style="width:40%">piel</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>יִקַטֵּל</td>
                    <td class=cell-dr>יִקְטֹל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
            </table>
        </p>

        <div style="text-align: center;">

        <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </main>
    </div>
    <div class="right-sidebar"></div>
    </body>
</html>