<body>
    <div class="story-container">
      <header >
          <h1>Piel: rădăcini tari</h1>
      </header>
      <main>
        <h3>Semnificația lui Piel</h3>
        <p>
            &#x1F449; Piel este al doilea dintre cele șapte modele majore de verbe. Qal reprezintă 69% din toate 
            verbele din Biblia ebraică; piel, 9%.
        </p>
        <p>
            &#x1F449; La fel ca și qal, piel are un perfect (<i>pf</i>), imperfect (<i>impf</i>), iusiv (<i>jus</i>), 
            cohortativ (<i>coh</i>), imperativ (<i>impv</i>), participiu (<i>ptc</i>), 
            infinitiv constuct (<i>inf const</i>), și infinitiv absbsolut (<i>inf abs</i>).
        </p>
        <p>
            &#x1F449; A schimba forma verbului înseamnă a schimba sensul verbului.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td>distruge</td>
                    <td>piere</td>
                    <td>אבד</td>
                </tr>
                <tr>
                    <td>termină</td>
                    <td>să fie terminat</td>
                    <td>כלה</td>
                </tr>
                <tr>
                    <td>umple</td>
                    <td>să fie umplut</td>
                    <td>מלא</td>
                </tr>
                <tr>
                    <td>eliberat</td>
                    <td>trimis</td>
                    <td>שׁלח</td>
                </tr>
            </table>
        </p>
        <p>
            &#x1F449; Unele verbe apar numai (sau în principal) în piel fără un qal corespunzător.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td>caută</td>
                    <td></td>
                    <td>בקשׁ</td>
                </tr>
                <tr>
                    <td>vorbește</td>
                    <td></td>
                    <td>דבר</td>
                </tr>
                <tr>
                    <td>comandă</td>
                    <td></td>
                    <td>צוח</td>
                </tr>
            </table>
        </p>
        <h3>Formele lui Piel</h3>
        <p>
            &#x1F449; Caracteristica primară a pielului este puternicul dagesh în consoana centrală a rădăcinii.
        </p>
        <p>
            Perfect.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>קִטֵּל</td>
                    <td>קָטַל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>קִטְּלָה</td>
                    <td>קָטְלָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>קִטַּלְתָּ</td>
                    <td>קָטַלְתָּ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>קִטַּלְתְּ</td>
                    <td>קָטַלְתְּ</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>קִטַּלְתִּי</td>
                    <td>קָטַלְתִּי</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>קִטְּלוּ</td>
                    <td>קָטְלוּ</td>
                    <td>3cp</td>
                </tr>
                <tr>
                    <td>קִטַּלְתֶּם</td>
                    <td>קְטַלְתֶּם</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>קִטַּלְתֶּן</td>
                    <td>קְטַלְתֶּן</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>קִטַּלְנוּ</td>
                    <td>קָטַלְנוּ</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <p>
            Imperfect.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>יְקַטֵּל</td>
                    <td>יִקְטֹל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תְּקַטֵּל</td>
                    <td>תִּקְטֹל</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תְּקַטֵּל</td>
                    <td>תִּקְטֹל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>תְִקַטְּלִי</td>
                    <td>תִּקְטְלִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>אֲקַטֵּל</td>
                    <td>אֶקְטֹל</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>יְקַטְּלוּ</td>
                    <td>יִקְטְלוּ</td>
                    <td>3mp</td>
                </tr>
                <tr>
                    <td>תְּקַטֵּלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>3fp</td>
                </tr>
                <tr>
                    <td>תְּקַטֵּלוּ</td>
                    <td>תִּקְטְלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>תְּקַטֵּלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>נְקַטֵּל</td>
                    <td>נִקְטֹל</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <p>
            Imperativ.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>imperativ</th>
                    <th>imperfect</th>
                    <th></th>
                </tr>
                <tr>
                    <td>קַטֵּל</td>
                    <td>תְּקַטֵּל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>קַטְּלִי</td>
                    <td>תְּקַטְּלִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>קַטְּלוּ</td>
                    <td>תְּקַטְּלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>קַטֵּלְנָה</td>
                    <td>תְּקַטֵּלְנָה</td>
                    <td>2fp</td>
                </tr>
            </table>
        </p>
        <p>
            Infinitiv.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>infinitiv construct</th>
                    <th>infinitiv absolut</th>
                    <th>imperativ</th>
                </tr>
                <tr>
                    <td>קַטֵּל</td>
                    <td>קַטֵּל / קַטֹּל</td>
                    <td>קַטֵּל</td>
                </tr>
            </table>
        </p>
        <p>
            Participiu.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>מְקַטֵּל</td>
                    <td>קֹטֵל</td>
                    <td>ms</td>
                </tr>
                <tr>
                    <td>מְקַטֶּלֶת</td>
                    <td>קֹטֶלֶת</td>
                    <td>fs</td>
                </tr>
                <tr>
                    <td>מְקַטְּלִים</td>
                    <td>קֹטְלִים</td>
                    <td>mp</td>
                </tr>
                <tr>
                    <td>מְקַטְּלוֹת</td>
                    <td>קֹטְלוֹת</td>
                    <td>fp</td>
                </tr>
            </table>
        </p>
        <p>
            Cohortativ.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>אֲקַטְּלָה</td>
                    <td>אֶקְטְלָה</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td>נְקַטְּלָה</td>
                    <td>נִקְטְלָה</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <p>
            Iusiv.
            <table  style="width:75%" align='center'>
                <tr>
                    <th>piel</th>
                    <th>qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>יִקַטֵּל</td>
                    <td>יִקְטֹל</td>
                    <td>3ms</td>
                </tr>
            </table>
        </p>

        <div style="text-align: center;">

        <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </main>
    </div>
    <div class="right-sidebar"></div>
    </body>
</html>