{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
        <header >
            <h1>Silabe, șva și dagheș</h1>
        </header>
    <main>
        <h3> Silabe </h3>
            <p>O silabă este un grup de litere care se pronunță împreună într-un cuvânt.
          Cuvântul "silabă" are trei silabe: si-la-bă. Așa cum româna are reguli 
          care reglementează silabele, la fel și ebraica. În ebraică:</p>
        <p>&#x27A1; o silabă nu poate începe cu o vocală</p>
        <p>&#x27A1; există două feluri de silabe:</p>
        <p class="p-indent">&#x27A0; silabă deschisă, formată din consoană + vocală <font size="5">שָׁ</font> ; 
            <br>
          &#x27A0; silabă închisă formată din consoană + vocală + consoană <font size="5">לַח</font> ; 
            </br>
  
        <font size="4">שָׁ &ensp; לַח</font><span class="colored-letter"> &#x279F; </span>
        <font size="4">שָׁלַח</font>
            </br>
        <font size="4">אָ &ensp; תוֹת</font><span class="colored-letter"> &#x279F; </span>
        <font size="4">אָתוֹת</font>
            </br>
        <font size="4">כָּ &ensp; בֵד</font><span class="colored-letter"> &#x279F; </span>
                <font size="4">כָּבֵד</font></p>
        <h3>Șva</h3>
        <p>
            Cele trei vocale reduse prezentate, hatef qameț
              <span class="colored-letter"> <font size="6"> &#1459;</span>&#9744; </font>,  hatef segol
              <span class="colored-letter"> <font size="6"> &#1457;</span>&#9744; </font>; și hatef patach
              <span class="colored-letter"> <font size="6"> &#1458;</span>&#9744; </font>; 
              sunt formate din vocalele respective și încă un semn
              <span class="colored-letter"> <font size="6"> &#1456;</span>&#9744; </font>care e numește șva (sau șeva).
                <br>
            Șva <span class="colored-letter"> <font size="6"> &#1456;</span>&#9744; </font> se găsește deseori singur 
            sub consoane și are două sarcini.
                <br>
            &#x27A1; Șva vocal care se pronunță ca un ă scurt (fonetic ə) <font size="4">דְּבָרִים</font>
                <br>
            &#x27A1; Șva mut care nu se promnunță dar are rol de a încheia silaba <font size="4">מִדְבָּר</font></p>
        <p class="p-indent">
              &#x279F; În cazul în care înaintea consoanei sub care se află șva se află o vocală scurtă, sheva este mut.
            <font size="4">מִדְבָּר , יַקְטִיל</font>
                <br>
            &#x279F; Dacă șva se află sub prima consoană a unui cuvânt, șva este vocal 
            (nu este precedat de o vocală scurtă). <font size="4">דְּבָרִים</font>
                <br>
            &#x279F; Dacă două consoane consecutive au șva, primul este tăcut, iar al doilea este vocal. 
            (Primul este precedat de o vocală scurtă și este mut, al doilea nu este precedat 
            de vocală scurtă și este vocal). <font size="4">יִקְטְלוּ</font></p>

            <h3> Dagheș </h3>
            <p> Dagheș este și el de două feluri. Dagheș slab este punctul care schimbă pronunțarea literelor 
              <i>begadkefat</i>, adică <font size="4">בּ ,כּ</font> și <font size="4">פּ</font>
                <br>
              Dagheș tare dublează o consoană, ceea ce înseamnă că sunt prezente două consoane, chiar dacă este scrisă doar una. 
              Cuvântul <font size="4">קִטֵּל </font> putea fi transliterat în limba română ca qittel (qit tel), deoarece dageș înseamnă 
              că există două litere "t" <font size="4">ט</font>. O consoană cu dagesh ar trebui pronunțată de două ori, 
              ca în românescul "înnebuni".
                </br>
              Dacă dagheș se află într-o consoană alta decât <i>begadkefat</i> atunci el este dagheș tare. 
            Dar consoanele <i>begadkefat</i> pot avea dagesh tare sau slab.</p>
        <p class="p-indent">
              &#x279F; Dacă sunetul care precede <i>begadkefat</i> este o consoană atunci dagheș este slab.
            <font size="4">מִדְבָּר</font>
                </br>
              &#x279F; Dacă sunetul care precede <i>begadkefat</i> este o vocală atunci dagheș este tare.
            <font size="4">קִדַּשׁ</font><br>
            <font size='4'> ע , ח , ה , א </font> și uneori <font size='4'>ר</font> sunt consoane guturale. 
            Ele nu primesc niciodată dagheș.
        </p>
            </br>
        <div style="text-align: center;">
            <a href="{% url 'home' %}" class="custom-link">Acasă</a>
        </div>
        <div class="right-sidebar"></div>
            </div>
        </main>
    </body>
</html>