<body>
    <div class="story-container">
    <header >
        <h1>Mai multe despre sufixele pronominale</h1>
    </header>
<main>
    <h3> Sufixe pronominale pe כֹּל </h3>
    <h4>Forma de כֹּל cu sufixe</h4>
    <p>
        &#x1F449; Cuvântul <font size="4">כֹּל</font> este prezentat 
        la <a href="{% url 'substantiv_doi' %}" class="mark">relațiile de costruct</a>, unde vedem 
        că forma construct este <font size="4">כָּל־</font>: (qameț-hataf ). Forma la care se adaugă 
        sufixe pronominale este <font size="4">כֻּלּ</font>, și rezultă forme precum
        <font size="4">כֻּלָּם ,כֻּלָּהּ ,כֻּלּוֹ</font> și <font size="4">כֻּלָּנוּ</font>.
    </p>
    <p>
        Utilizarea lui <font size="4">כֹּל</font> cu sufixe.</br>
        &#x1F449; Accentuare: <font size="4">כֹּל</font> cu un sufix este adesea plasat după un 
        substantiv pe care îl modifică pentru a adăuga accent. </br>
        <font size="4">יִשְׂרָאֵל כֻּלָּךְ</font> Israel, voi toți! </br>
        <font size="4">שִׁמְעוּ עַמִּים כֻּלָּם</font> Ascultați, popoare, toate!</br>
        <font size="4">כָּל־בֵּית הַמֶּלֶךְ כֻּלּוֹ</font> Întreaga casă a regelui, toată casa!</br></br>
        &#x1F449; <i>Toată lumea</i>: Cu sufixul 3ms, înțeles ca referindu-se la totalitatea persoanelor 
        sau a lucrurilor, sensul este <i>toți</i> sau <i>toată lumea</i>.<br>
        <font size="4">כֻּלּוֹ אֹמֵר כָּבוֹד</font> Toată lumea spune: <i>Glorie</i></br>
        <font size="4">כֻּלּוֹ אֹהֵב אֶת־הַמֶּלֶךְ</font> Toți îl iubesc pe rege
    </p>
    <h3>Sufixe pronominale pe verbe</h3>
    <p>
        &#x1F449; La <a href="{% url 'substantiv_doi' %}" class="mark"> Semnul atributului (אֶת־ / אֵת) cu sufixe</a>
        se arată că atunci când un complement direct este un pronume, acesta se adaugă la particula de complement
         direct <font size="4">אֶת־ / אֵת</font> .</br>
         <font size="4">שָׁלַח הַמֶּלֶךְ אֶת־הַנְּבִיאִים</font> regele a trimis profeții</br>
         <font size="4">שָׁלַח הַמֶּלֶךְ אוֹתָם</font> regele i-a trimis</br><br>
         &#x1F449; Un pronume folosit drept complement direct poate fi, de asemenea, adăugat direct la verb.</br>
         <font size="4">שְׁלָחָם הַמֶּלֶךְ</font> regele i-a trimis </br>
         <font size="4">שְׁלָחָנוּ הַמֶּלֶךְ</font> ne-a trimis regele</br></br>
         &#x1F449; Atunci când se adaugă un sufix, accentul se mută spre stânga, astfel încât vocalele se vor 
         schimba în conformitate cu regulile prezentate deja. </br>
         <font size="4">שְׁלָחָנוּ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">שָׁלַח</font> el ne-a trimis<br>
         <font size="4">שְׁלַחְתָּנוּ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">שָׁלַחְתָּ</font> tu (<i>ms</i>) ne-ai trimis<br>
         <font size="4">שְׁלַחְתִּיךָ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">שָׁלַחְתִּי</font> eu te-am trimis (<i>ms</i>)<br>
         <font size="4">שְׁלָחוּךָ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">שָׁלְחוּ</font> ei te-au trimis (<i>ms</i>)<br>
         <font size="4">יִשְׁלְחֵנוּ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">יִשְׁלַח</font> el ne va trimite<br>
         <font size="4">יִשְׁלָחֵךְ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">יִשְׁלַח</font> El vă va trimite (<i>fs</i>)<br><br>
        &#x1F449; De cele mai multe ori, sufixul adăugat verbului este același cu sufixul adăugat la particula 
        complementului direct, dar două forme sunt diferite:
        <ul>
            <li>
                Pentru <i>3ms</i>, pe lângă <font size="4">&#64331;</font>, ca în <font size="4">קְטָלוֹ</font>, apare
                <font size="4">&#1492;&#64309;&#8239;&#1464;&#9744;</font>, ca în <font size="4">קְטָלָהוֹ</font>. 
                Legătura dintre <font size="4">&#1492;&#64309;&#8239;&#1464;&#9744;</font> și pronumele personal 
                independent <font size="4">הוּא</font> este evidentă.
            </li>
            <li>
                Pentru <i>1cs</i> forma este <font size="4">&#1504;&#1460;&#1497;&#8239;&#1463;&#9744;</font> sau
                <font size="4">&#1504;&#1460;&#1497;&#8239;&#1461;&#9744;</font>, ca în <font size="4">קְטָלַנִי</font>
                 și <font size="4">יִקְטְלֵנִי</font>. Legătura dintre <font size="4">נִי</font> și pronumele personal
                  independent <font size="4">אֲנִי</font> este evidentă. 
            </li>
        </ul>
        &#x1F449; Un sufix pronominal poate fi adăugat la participii drept complement direct.</br>
        <font size="4">שֹׁלְחָהּ</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">שֹׁלֵחַ</font> trimițând-o<br>
        <font size="4">שֹׁלְחָם</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="4">שֹׁלֵחַ</font> trimiterea lor<br>

        </ul>
    </p>    

    <div style="text-align: center;">    
        <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </div>
    <div class="right-sidebar"></div>
    </div>
    </main>  
</body>
</html>