{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="story-container">
    <header >
        <h1>Alfabetul limbii ebraice biblice</h1>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </header>
    <main>
 
<div style="text-align: center;">

<h3>Vocale scurte</h3>
<table>
<p>În ortografia ebraică, niqqud sau nikud (ebraică: נִקּוּד), , "punctare, indicare" este un sistem de semne diacritice 
  utilizat pentru a reprezenta vocale sau pentru a face distincția între pronunțiile alternative ale literelor din 
  alfabetul ebraic. Sistemul a fost creat și dezvoltat de o sectă de învățați, numiți 
  masoreți, în a doua jumătate a primului mileniu d.Hr. în Țara lui Israel. Semnele de niqqud sunt mici în comparație
  cu literele, astfel încât pot fi adăugate fără a se retranscrie texte ai căror autori nu le-au anticipat.
  <tr>
    <td>tip - a </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>&#1463;</strong></span></font></td>
    <td>patach</td>
    <td>a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
  </tr>
  <tr>
    <td>tip - e </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>&#1462;</strong></span></font></td>
    <td>segol</td>
    <td>e ca în <span class="colored-letter"><strong>e</strong></span>lev</td>
  </tr>
  <tr>
    <td>tip - i </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>&#1460;</strong></span></font></td>
    <td>hireq</td>
    <td>i ca în <span class="colored-letter"><strong>i</strong></span>ntuiție</td>
  </tr>
  <tr>
    <td>tip - o </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>ָ</strong></span></font></td>
    <td>qameț hatuf</td>
    <td>o ca în <span class="colored-letter"><strong>o</strong></span>m (silabă închisă, neaccentuată)</td>
  </tr>
  <tr>
    <td>tip - u </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>ֻ</strong></span></font></td>
    <td>qibbuț</td>
    <td>u ca în <span class="colored-letter"><strong>u</strong></span>nde</td>
  </tr>
  

</table>

<h3>Vocale lungi modificabile</h3>
<table>

  <tr>
    <td>tip - a </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>ָ</strong></span></font></td>
    <td>qameț</td>
    <td>a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
  </tr>
  <tr>
    <td>tip - e </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>ֵ</strong></span></font></td>
    <td>țere</td>
    <td>e ca în <span class="colored-letter"><strong>e</strong></span>lev</td>
  </tr>
  <tr>
    <td>tip - o </td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>ֹ</strong></span></font></td>
    <td>holem</td>
    <td>o ca în <span class="colored-letter"><strong>o</strong></span>m</td>
  </tr>
</table>

<h3>Vocale lungi nemodificabile</h3>
<table>

  <tr>
    <td>tip - a </td>
    <td><font size="5">&#1488;<span class="colored-letter">ָה</span></font></td>
    <td>qameț he</td>
    <td>a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
  </tr>
  <tr>
    <td>tip - e </td>
    <td><font size="5">&#1488;<span class="colored-letter">ֵי</span></font></td>
    <td>țere yod</td>
    <td>e ca în h<span class="colored-letter"><strong>e</strong></span>i!</td>
  </tr>
  <tr>
    <td> </td>
    <td><font size="5">&#1488;<span class="colored-letter">ֶי</span></font></td>
    <td>segol yod</td>
    <td>e ca în <span class="colored-letter"><strong>e</strong></span>lefant</td>
  </tr>
  <tr>
    <td>tip - i </td>
    <td><font size="5">&#1488;<span class="colored-letter">ִי</span></font></td>
    <td>hireq yod</td>
    <td>i ca în <span class="colored-letter"><strong>i</strong></span>ntuiție</td>
  </tr>
  <tr>
    <td>tip - o </td>
    <td><font size="5">&#1488;<span class="colored-letter">וֹ</span></font></td>
    <td>holem waw</td>
    <td>o ca în <span class="colored-letter"><strong>o</strong></span>m</td>
  </tr>
  <tr>
    <td>tip - u </td>
    <td><font size="5">&#1488;<span class="colored-letter">וּ</span></font></td>
    <td>șureq</td>
    <td>u ca în <span class="colored-letter"><strong>u</strong></span>nde</td>
  </tr>
</table>

<h3>Vocale reduse (hatef)</h3>
<table>
  <tr>
    <td>tip - a </td>
    <td><font size="5">&#1488;<span class="colored-letter">ֲ</span></font></td>
    <td>hatef patach</td>
    <td>a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
  </tr>
  <tr>
    <td>tip - e </td>
    <td><font size="5">&#1488;<span class="colored-letter">ֱ</span></font></td>
    <td>hatef segol</td>
    <td>e ca în <span class="colored-letter"><strong>e</strong></span>lev</td>
  </tr>
  <tr>
    <td>tip - o </td>
    <td><font size="5">&#1488;<span class="colored-letter">ֳ</span></font></td>
    <td>hatef qameț</td>
    <td>o ca în <span class="colored-letter"><strong>o</strong></span>m</td>
  </tr>
</table>


<h3>Ortografie defectivă</h3>
<table>
  <tr>
    <td><font size="5">&#1488;<span class="colored-letter">וֹ</span></font></td>
    <td><font size="5">&#8594;</font></td>
    <td><font size="5">&#1488;<span class="colored-letter"><strong>ֹ</strong></span></font></td>
    <td>holem waw la holem</td>
  </tr>
  <tr>
    <td><font size="5">&#1488;<span class="colored-letter">וּ</span></font></td>
    <td><font size="5">&#8594;</font></td>
    <td><font size="5">&#1488;<span class="colored-letter">ֻ</span></font></td>
    <td>șureq la qibbuț</td>
  </tr>
  <tr>
    <td><font size="5">&#1488;<span class="colored-letter">ִי</span></font></td>
    <td><font size="5">&#8594;</font></td>
    <td><font size="5">&#1488;<span class="colored-letter">ִ</span></font></td>
    <td>hireq yod la hireq</td>
  </tr>
</table>



</br></br>

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
</div>
    </body>

    </div>
</body>
