<body>

    <div class="story-container">
    <header >
        <h1>Vocalele limbii ebraice biblice</h1>
    </header>
    <main>
 

    <h2>Vocale scurte</h2>

    <p>În ortografia ebraică, niqqud sau nikud (ebraică: נִקּוּד), "punctare, indicare" este un sistem de semne diacritice 
      utilizat pentru a reprezenta vocale sau pentru a face distincția între pronunțiile alternative ale literelor din 
      alfabetul ebraic. Sistemul a fost creat și dezvoltat de o sectă de învățați, numiți 
      masoreți, în a doua jumătate a primului mileniu d.Hr. în Țara lui Israel. Semnele de niqqud sunt mici în comparație
    cu literele, astfel încât pot fi adăugate fără a se retranscrie texte ai căror autori nu le-au anticipat.</p>
    <table>
      <tr>
        <td style="width:20%">tip - a </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>&#1463;</strong></span></font></td>
        <td style="width:20%">patach</td>
        <td style="width:50%" class=cell-st>a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
      </tr>
      <tr>
        <td>tip - e </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>&#1462;</strong></span></font></td>
        <td>segol</td>
        <td class=cell-st>e ca în <span class="colored-letter"><strong>e</strong></span>lev</td>
      </tr>
      <tr>
        <td>tip - i </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>&#1460;</strong></span></font></td>
        <td>hireq</td>
        <td class=cell-st>i ca în <span class="colored-letter"><strong>i</strong></span>ntuiție</td>
      </tr>
      <tr>
        <td>tip - o </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>ָ</strong></span></font></td>
        <td>qameț hatuf</td>
        <td class=cell-st>o ca în <span class="colored-letter"><strong>o</strong></span>m (silabă închisă, neaccentuată)</td>
        </tr>
      <tr>
        <td>tip - u </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>ֻ</strong></span></font></td>
        <td>qibbuț</td>
        <td class=cell-st>u ca în <span class="colored-letter"><strong>u</strong></span>nde</td>
      </tr>
    </table>

    <h2>Vocale lungi modificabile</h2>
    <table>
      <tr>
        <td style="width:20%">tip - a </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>ָ</strong></span></font></td>
        <td style="width:20%">qameț</td>
        <td class=cell-st style="width:50%">a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
      </tr>
      <tr>
        <td>tip - e </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>ֵ</strong></span></font></td>
        <td>țere</td>
        <td class=cell-st>e ca în <span class="colored-letter"><strong>e</strong></span>lev</td>
      </tr>
      <tr>
        <td>tip - o </td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>ֹ</strong></span></font></td>
        <td>holem</td>
        <td class=cell-st>o ca în <span class="colored-letter"><strong>o</strong></span>m</td>
      </tr>
    </table>

    <h2>Vocale lungi nemodificabile</h2>  
    <table>
      <tr>
        <td style="width:20%">tip - a </td>
        <td><font size="5">&#1488;<span class="colored-letter">ָה</span></font></td>
        <td style="width:20%">qameț he</td>
        <td class=cell-st style="width:50%">a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
      </tr>
      <tr>
        <td>tip - e </td>
        <td><font size="5">&#1488;<span class="colored-letter">ֵי</span></font></td>
        <td>țere yod</td>
        <td class=cell-st>e ca în h<span class="colored-letter"><strong>e</strong></span>i!</td>
      </tr>
      <tr>
        <td> </td>
        <td><font size="5">&#1488;<span class="colored-letter">ֶי</span></font></td>
        <td>segol yod</td>
        <td class=cell-st>e ca în <span class="colored-letter"><strong>e</strong></span>lefant</td>
      </tr>
      <tr>
        <td>tip - i </td>
        <td><font size="5">&#1488;<span class="colored-letter">ִי</span></font></td>
        <td>hireq yod</td>
        <td class=cell-st>i ca în <span class="colored-letter"><strong>i</strong></span>ntuiție</td>
      </tr>
      <tr>
        <td>tip - o </td>
        <td><font size="5">&#1488;<span class="colored-letter">וֹ</span></font></td>
        <td>holem waw</td>
        <td class=cell-st>o ca în <span class="colored-letter"><strong>o</strong></span>m</td>
      </tr>
      <tr>
        <td>tip - u </td>
        <td><font size="5">&#1488;<span class="colored-letter">וּ</span></font></td>
        <td>șureq</td>
        <td class=cell-st>u ca în <span class="colored-letter"><strong>u</strong></span>nde</td>
      </tr>
    </table>

    <h2>Vocale reduse (hatef)</h2>
    <table>
      <tr>
        <td style="width:20%">tip - a </td>
        <td><font size="5">&#1488;<span class="colored-letter">ֲ</span></font></td>
        <td style="width:20%">hatef patach</td>
        <td class=cell-st style="width:50%">a ca în <span class="colored-letter"><strong>a</strong></span>cum</td>
      </tr>
      <tr>
        <td>tip - e </td>
        <td><font size="5">&#1488;<span class="colored-letter">ֱ</span></font></td>
        <td>hatef segol</td>
        <td class=cell-st>e ca în <span class="colored-letter"><strong>e</strong></span>lev</td>
      </tr>
      <tr>
        <td>tip - o </td>
        <td><font size="5">&#1488;<span class="colored-letter">ֳ</span></font></td>
        <td>hatef qameț</td>
        <td class=cell-st>o ca în <span class="colored-letter"><strong>o</strong></span>m</td>
      </tr>
    </table>

    <h2>Ortografie defectivă</h2>
    <table>
      <tr>
        <td><font size="5">&#1488;<span class="colored-letter">וֹ</span></font></td>
        <td><font size="5">&#8594;</font></td>
        <td><font size="5">&#1488;<span class="colored-letter"><strong>ֹ</strong></span></font></td>
        <td class=cell-st>holem waw la holem</td>
      </tr>
      <tr>
        <td><font size="5">&#1488;<span class="colored-letter">וּ</span></font></td>
        <td><font size="5">&#8594;</font></td>
        <td><font size="5">&#1488;<span class="colored-letter">ֻ</span></font></td>
        <td class=cell-st>șureq la qibbuț</td>
      </tr>
      <tr>
        <td><font size="5">&#1488;<span class="colored-letter">ִי</span></font></td>
        <td><font size="5">&#8594;</font></td>
        <td><font size="5">&#1488;<span class="colored-letter">ִ</span></font></td>
        <td class=cell-st>hireq yod la hireq</td>
      </tr>
    </table>

<br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>
