<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: Rădăcini tari</h1>
      </header>
      <main>
        <h3>Înțelesul lui Hiphil</h3>
        <p>
            &#x1F449; Hiphilul este al treilea dintre cele șapte modele majore de verbe pe care le tratăm aici. Hiphilul 
            reprezintă 13% din toate verbele din Biblia ebraică. Qal, piel și hiphil reprezintă 91% din toate verbele. </br>
        </p>
        <p>
            &#x1F449; La fel ca și qal și piel, hiphil are un perfect, imperfect, iusiv, cohortativ, imperativ, 
            pparticipiu, infinitiv construct și infinitiv absolut.
        </p>
        <p>
            &#x1F449; Schimbarea formei verbului duce la schimbarea sensului verbului.
            <table class=jumate>
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td class=cell-st>mărire</td>
                    <td class=cell-st>fi măreț</td>
                    <td>גדל</td>
                </tr>
                <tr>
                    <td class=cell-st>face rege</td>
                    <td class=cell-st>fi rege</td>
                    <td>מלך</td>
                </tr>
                <tr>
                    <td class=cell-st>desemnează</td>
                    <td class=cell-st>vizită</td>
                    <td>פקשׁ</td>
                </tr>
                <tr>
                    <td class=cell-st>sfințiți</td>
                    <td class=cell-st>fi sfânt</td>
                    <td>קדשׁ</td>
                </tr>
            </table><br>
            Unele verbe apar numai (sau în principal) în hiphil, fără un qal corespunzător.<br>
            <table class=jumate>
            <tr>
                <th style="width:33%">hiphil</th>
                <th style="width:33%">qal</th>
                <th>rădăcină</th>
            </tr>
            <tr>
                <td class=cell-st>spune</td>
                <td></td>
                <td>נגד</td>
            </tr>
            <tr>
                <td class=cell-st>livrează</td>
                <td></td>
                <td>נצל</td>
            </tr>
            <tr>
                <td class=cell-st>aruncă</td>
                <td></td>
                <td>שׁלךְ</td>
            </tr>
        </table>        
        </p>

        <h3>Formele lui Hiphil</h3>
        <p>
            Caracteristicile principale ale hiphilului sunt: 
            <ul>
                <li> Un prefix <font size="4">&#1492;</font> </li>
                <li> <font size="4">&#1497;&#8239;&#1460;&#9744;</font> ca vocală tematică.</li>
            </ul>
        </p>
        <p>
            <b>Perfect</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">hiphil</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטִיל</td>
                    <td class=cell-dr>קָטַל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטִילָה</td>
                    <td class=cell-dr>קָטְלָה</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטַלְתָּ</td>
                    <td class=cell-dr>קָטַלְתָּ</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטַלְתְּ</td>
                    <td class=cell-dr>קָטַלְתְּ</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטַלְתִּי</td>
                    <td class=cell-dr>קָטַלְתִּי</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטִילוּ</td>
                    <td class=cell-dr>קָטְלוּ</td>
                    <td class=cell-st><i>3cp<i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטַלְתֶּם</td>
                    <td class=cell-dr>קְטַלְתֶּם</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטַלְתֶּן</td>
                    <td class=cell-dr>קְטַלְתֶּן</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטַלְנוּ</td>
                    <td class=cell-dr>קָטַלְנוּ</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table>
        </p>
        <p>
            <b>Imperfect.</b></br>
            &#x1F449; Caracteristica <font size="4">&#1492;</font> este abandonată în imperfect, la fel ca 
            și <font size="4">&#1492;</font> din articolul definit cu o prepoziție inseparabilă, de exemplu,
            <font size="4">לַבַּיִת</font> pentru <font size="4">לְהַבַּיִת</font>.
            <table class=jumate>
                <tr>
                    <th style="width:40%">hiphil</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>הִקְטִיל</td>
                    <td class=cell-dr>יִקְטֹל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תַּקְטִיל</td>
                    <td class=cell-dr>תִּקְטֹל</td>
                    <td class=cell-st><i>3fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תַּקְטִיל</td>
                    <td class=cell-dr>תִּקְטֹל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תַּקְטִילִי</td>
                    <td class=cell-dr>תִּקְטְלִי</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>אַקְטִיל</td>
                    <td class=cell-dr>אֶקְטֹל</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class=cell-dr>יַקְטִילוֹ</td>
                    <td class=cell-dr>יִקְטְלוֹ</td>
                    <td class=cell-st><i>3mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תַּקְטֵלְנָה</td>
                    <td class=cell-dr>תִּקְטֹלְנָה</td>
                    <td class=cell-st><i>3fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תַּקְטִילוּ</td>
                    <td class=cell-dr>תִּקְטְלוּ</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>תַּקְטֵלְנָה</td>
                    <td class=cell-dr>תִּקְטֹלְנָה</td>
                    <td class=cell-st><i>2fp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נַקְטִיל</td>
                    <td class=cell-dr>נִקְטֹל</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table>
        </p>
        <p>
            <b>Imperativ.</b>
            <table class=jumate>
                <tr>
                    <th style="width:40%">imperativ</th>
                    <th style="width:40%">imperfect</th>
                </tr>
                <tr>
                    <td class=cell-dr>הַקְטֵל</td>
                    <td class=cell-dr>תַּקְטִיל</td>
                    <td class=cell-st><i>2ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הַקְטִילִי</td>
                    <td class=cell-dr>תַּקְטִילִי</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הַקְטִילוּ</td>
                    <td class=cell-dr>תַּקְטִילוּ</td>
                    <td class=cell-st><i>2mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>הַקְטֵלְנָה</td>
                    <td class=cell-dr>תַּקְטֵלְנָה</td>
                    <td class=cell-st><i>2fs</i></td>
                </tr>
            </table>
            <b>Infinitiv.</b>
            <table>
                <tr>
                    <th style="width:33%">infinitiv construct</th>
                    <th style="width:33%">infinitiv absolut</th>
                    <th style="width:33%">imperativ</th>
                </tr>
                <tr>
                    <td class=cell-dr>הַקְטִיל</td>
                    <td class=cell-dr>הַקְטֵל</td>
                    <td class=cell-dr>הַקְטֵל</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Participiu.</b></br>
            &#x1F449; Caracteristica <font size="4">&#1492;</font> este abandonată la participiu.
            <table class=jumate>
                <tr>
                    <th style="width:40%">hiphil</th>
                    <th style="width:40%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>מַקְטִיל</td>
                    <td class=cell-dr>קֹטֵל</td>
                    <td class=cell-st><i>ms</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>מַקְטֶלֶת</td>
                    <td class=cell-dr>קֹטֵלֶת</td>
                    <td class=cell-st><i>fs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>מַקְטִילִים</td>
                    <td class=cell-dr>קֹטְלִים</td>
                    <td class=cell-st><i>mp</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>מַקְטִילוֹת</td>
                    <td class=cell-dr>קֹטְלוֹת</td>
                    <td class=cell-st><i>fp</i></td>
                </tr>
            </table>
        </p>
        <p>
            <b>Cohortativ.</b></br>
            &#x1F449; Caracteristica <font size="4">&#1492;</font> este abandonată la cohortativ.
            <table class=jumate>
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                </tr>
                <tr>
                    <td class=cell-dr>אַקְטִילָה</td>
                    <td class=cell-dr>אֶקְטְלָה</td>
                    <td class=cell-st><i>1cs</i></td>
                </tr>
                <tr>
                    <td class=cell-dr>נַקְטִילָה</td>
                    <td class=cell-dr>נִקְטְלָה</td>
                    <td class=cell-st><i>1cp</i></td>
                </tr>
            </table>
        </p>
        <p>
            <b>Iusiv.</b></br>
            &#x1F449; Iusivul este o formă scurtă.
            <table class=jumate>
                <tr>
                    <th style="width:40%">iusiv</th>
                    <th style="width:40%">imperfect</th>
                </tr>
                <tr>
                    <td class=cell-dr>יַקְטֵל</td>
                    <td class=cell-dr>יַקְטִיל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
            </table>
        </p>
        <p>
            <b>Waw relativ.</b></br>
            <table class=jumate>
                <tr>
                    <th style="width:40%">waw relativ</th>
                    <th style="width:40%">iusiv</th>
                </tr>
                <tr>
                    <td class=cell-dr>וַיַּקְטֵל</td>
                    <td class=cell-dr>יַקְטֵל</td>
                    <td class=cell-st><i>3ms</i></td>
                </tr>
            </table>
        </p>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>