<body>
    <div class="story-container">
      <header >
          <h1>Hiphil: Rădăcini tari</h1>
      </header>
      <main>
        <h3>Înțelesul lui Hiphil</h3>
        <p>
            &#x1F449; Hiphilul este al treilea dintre cele șapte modele majore de verbe pe care le tratăm aici. Hiphilul 
            reprezintă 13% din toate verbele din Biblia ebraică. Qal, piel și hiphil reprezintă 91% din toate verbele. </br>
        </p>
        <p>
            &#x1F449; La fel ca și qal și piel, hiphil are un perfect, imperfect, iusiv, cohortativ, imperativ, 
            pparticipiu, infinitiv construct și infinitiv absolut.
        </p>
        <p>
            &#x1F449; Schimbarea formei verbului duce la schimbarea sensului verbului.
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                    <th>rădăcină</th>
                </tr>
                <tr>
                    <td>mărire</td>
                    <td>fi măreț</td>
                    <td>גדל</td>
                </tr>
                <tr>
                    <td>face rege</td>
                    <td>fi rege</td>
                    <td>מלך</td>
                </tr>
                <tr>
                    <td>desemnează</td>
                    <td>vizită</td>
                    <td>פקשׁ</td>
                </tr>
                <tr>
                    <td>sfințiți</td>
                    <td>fi sfânt</td>
                    <td>קדשׁ</td>
                </tr>
            </table><br>
            Unele verbe apar numai (sau în principal) în hiphil, fără un qal corespunzător.<br>
            <table style="width:75%" align="center">
            <tr>
                <th style="width:33%">hiphil</th>
                <th style="width:33%">qal</th>
                <th>rădăcină</th>
            </tr>
            <tr>
                <td>spune</td>
                <td></td>
                <td>נגד</td>
            </tr>
            <tr>
                <td>livrează</td>
                <td></td>
                <td>נצל</td>
            </tr>
            <tr>
                <td>aruncă</td>
                <td></td>
                <td>שׁלךְ</td>
            </tr>
        </table>        
        </p>

        <h3>Formele lui Hiphil</h3>
        <p>
            Caracteristicile principale ale hiphilului sunt: 
            <ul>
                <li> Un prefix <font size="4">&#1492;</font> </li>
                <li> <font size="4">&#1497;&#8239;&#1460;&#9744;</font> ca vocală tematică.</li>
            </ul>
        </p>
        <p>
            <b>Perfect</b>
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>הִקְטִיל</td>
                    <td>קָטַל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>הִקְטִילָה</td>
                    <td>קָטְלָה</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>הִקְטַלְתָּ</td>
                    <td>קָטַלְתָּ</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>הִקְטַלְתְּ</td>
                    <td>קָטַלְתְּ</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>הִקְטַלְתִּי</td>
                    <td>קָטַלְתִּי</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>הִקְטִילוּ</td>
                    <td>קָטְלוּ</td>
                    <td>3cp</td>
                </tr>
                <tr>
                    <td>הִקְטַלְתֶּם</td>
                    <td>קְטַלְתֶּם</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>הִקְטַלְתֶּן</td>
                    <td>קְטַלְתֶּן</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>הִקְטַלְנוּ</td>
                    <td>קָטַלְנוּ</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Imperfect.</b></br>
            &#x1F449; Caracteristica <font size="4">&#1492;</font> este abandonată în imperfect, la fel ca 
            și <font size="4">&#1492;</font> din articolul definit cu o prepoziție inseparabilă, de exemplu,
            <font size="4">לַבַּיִת</font> pentru <font size="4">לְהַבַּיִת</font>.
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>הִקְטִיל</td>
                    <td>יִקְטֹל</td>
                    <td>3ms</td>
                </tr>
                <tr>
                    <td>תַּקְטִיל</td>
                    <td>תִּקְטֹל</td>
                    <td>3fs</td>
                </tr>
                <tr>
                    <td>תַּקְטִיל</td>
                    <td>תִּקְטֹל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>תַּקְטִילִי</td>
                    <td>תִּקְטְלִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>אַקְטִיל</td>
                    <td>אֶקְטֹל</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>יַקְטִילוֹ</td>
                    <td>יִקְטְלוֹ</td>
                    <td>3mp</td>
                </tr>
                <tr>
                    <td>תַּקְטֵלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>3fp</td>
                </tr>
                <tr>
                    <td>תַּקְטִילוּ</td>
                    <td>תִּקְטְלוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>תַּקְטֵלְנָה</td>
                    <td>תִּקְטֹלְנָה</td>
                    <td>2fp</td>
                </tr>
                <tr>
                    <td>נַקְטִיל</td>
                    <td>נִקְטֹל</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Imperativ.</b>
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">imperativ</th>
                    <th style="width:33%">imperfect</th>
                    <th></th>
                </tr>
                <tr>
                    <td>הַקְטֵל</td>
                    <td>תַּקְטִיל</td>
                    <td>2ms</td>
                </tr>
                <tr>
                    <td>הַקְטִילִי</td>
                    <td>תַּקְטִילִי</td>
                    <td>2fs</td>
                </tr>
                <tr>
                    <td>הַקְטִילוּ</td>
                    <td>תַּקְטִילוּ</td>
                    <td>2mp</td>
                </tr>
                <tr>
                    <td>הַקְטֵלְנָה</td>
                    <td>תַּקְטֵלְנָה</td>
                    <td>2fs</td>
                </tr>
            </table>
            <b>Infinitiv.</b>
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">infinitiv construct</th>
                    <th style="width:33%">infinitiv absolut</th>
                    <th style="width:33%">imperativ</th>
                </tr>
                <tr>
                    <td>הַקְטִיל</td>
                    <td>הַקְטֵל</td>
                    <td>הַקְטֵל</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Participiu.</b></br>
            &#x1F449; Caracteristica <font size="4">&#1492;</font> este abandonată la participiu.
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>מַקְטִיל</td>
                    <td>קֹטֵל</td>
                    <td>ms</td>
                </tr>
                <tr>
                    <td>מַקְטֶלֶת</td>
                    <td>קֹטֵלֶת</td>
                    <td>fs</td>
                </tr>
                <tr>
                    <td>מַקְטִילִים</td>
                    <td>קֹטְלִים</td>
                    <td>mp</td>
                </tr>
                <tr>
                    <td>מַקְטִילוֹת</td>
                    <td>קֹטְלוֹת</td>
                    <td>fp</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Cohortativ.</b></br>
            &#x1F449; Caracteristica <font size="4">&#1492;</font> este abandonată la cohortativ.
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">hiphil</th>
                    <th style="width:33%">qal</th>
                    <th></th>
                </tr>
                <tr>
                    <td>אַקְטִילָה</td>
                    <td>אֶקְטְלָה</td>
                    <td>1cs</td>
                </tr>
                <tr>
                    <td>נַקְטִילָה</td>
                    <td>נִקְטְלָה</td>
                    <td>1cp</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Iusiv.</b></br>
            &#x1F449; Iusivul este o formă scurtă.
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">iusiv</th>
                    <th style="width:33%">imperfect</th>
                    <th></th>
                </tr>
                <tr>
                    <td>יַקְטֵל</td>
                    <td>יַקְטִיל</td>
                    <td>3ms</td>
                </tr>
            </table>
        </p>
        <p>
            <b>Waw relativ.</b></br>
            <table style="width:75%" align="center">
                <tr>
                    <th style="width:33%">waw relativ</th>
                    <th style="width:33%">iusiv</th>
                    <th></th>
                </tr>
                <tr>
                    <td>וַיַּקְטֵל</td>
                    <td>יַקְטֵל</td>
                    <td></td>
                </tr>
            </table>
        </p>

        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>