<body>
    <div class="story-container">
      <header >
          <h1>Waw relativ</h1>
      </header>
      <main>
        <p>
            Waw-ul relativ este o utilizare specială a conjuncției waw (<font size="4">&#1493;</font>) atunci 
            când este atașată unui verb la perfect sau la imperfect. Acest waw <i>raportează</i> verbul la care 
            este atașat la un verb anterior.
        </p>
        <h4>Formele lui waw relativ</h4>
        <p>
            Forma lui waw-relativ la imperfect<br>
            &#x1F449; Imperfectul waw-relativ este alcătuit din waw + patach + dagesh puternic
             (<font size="4">&#1468;&#9744;&#1493;&#1463;</font>), prefixat la impferfect / iusiv.<br>
             <font size="4">וַיִּקְטֹל</font>&emsp;&emsp;
             <font size="4">וַתִּקְטֹל</font>&emsp;&emsp;
             <font size="4">וַאֶקְטֹל</font>&emsp;&emsp;<br>
             <i>Observați alungirea compensatorie pe forma 1cs.</i></br>
             &#x1F449; Forma verbală folosită este de fapt iusiv și nu imperfect, așa cum reiese din 
             imperfectul waw-relativ al unor forme ale verbelor III He și găunoase.
             <table  style="width:75%" align='center'>
                <tr>
                    <td style="width:33%">waw-relativ</td>
                    <td style="width:33%">iusiv</td>
                    <td>imperfect</td>
                </tr>
                <tr>
                    <td>וַיִבֶן</td>
                    <td>יִבֶן</td>
                    <td>יִבְנֶה</td>
                </tr>
                <tr>
                    <td>וַיֵבְךְ</td>
                    <td>יֵבְךְ</td>
                    <td>יִבְכֶּה</td>
                </tr>
                <tr>
                    <td>וַיָקֹם</td>
                    <td>יָקֹם</td>
                    <td>יָקוּם</td>
                </tr>
                <tr>
                    <td>וַיָשֵׂם</td>
                    <td>יָשֵׂם</td>
                    <td>יָשִׂם</td>
                </tr>
             </table></br>
             <i>Pentru a identifica rădăcina ca fiind III He sau găunoasă, uitați-vă la vocala din prefixul 
                verbului. Dacă vocala este un qameț <font size="4">&#1464;&#9744;</font>, atunci rădăcina este găunoasă.</i>
        </p>
        <p>
            &#x1F449; Adesea, dar nu întotdeauna, accentul se mută spre dreapta, explicând astfel diferența dintre
             iusivul <font size="4">יָקֹם</font> și imperfectul waw-relativ <font size="4">וַיָקָם</font> și iusivul
             <font size="4">יָשֵׂם</font> și imperfectul waw-relativ <font size="4">וַיָּשֶׂם</font>.
        </p>
        <p>
            Forma lui waw-relativ la perfect.</br>
            &#x1F449; Waw-relativ perfect este format din vav simplu (<font size="4">וְ</font>) prefixat la perfect.<br>
            <font size="4">וְקָטַל</font>&emsp;&emsp;
            <font size="4">וּקְטַלְתֶּם</font>&emsp;&emsp;</br>
            &#x1F449; Adesea, dar nu întotdeauna, accentul se va muta pe ultima silabă.</br>
            <font size="4">קָ<span class="colored-letter">טַ</span>לְתָּ</font>&emsp;&emsp;
            <font size="4">וְקָטַלְ<span class="colored-letter">תָּ</span></font>&emsp;&emsp;</br>
            <font size="4">קָ<span class="colored-letter">טַ</span>לְתִּי</font>&emsp;&emsp;
            <font size="4">וְקָטַלְ<span class="colored-letter">תִּי</span></font>&emsp;&emsp;</br>
            <i>Waw-relativ perfect este prescurtat wcp.</i>
        </p>
        <h4>Utilizarea lui waw-relativ</h4>
        <p>
            &#x1F449; Waw-ul relativ este folosit într-o varietate de moduri, dar cea mai frecventă utilizare 
            este aceea de a exprima succesiunea temporală: <i>Următorul lucru care s-a întâmplat 
             (sau se va întâmpla)</i>.
        </p>
        <p>
            Utilizarea lui Waw-relative la imperfect.</br>
            Într-o fază anterioară a limbii ebraice, existau două feluri de imperfec: o formă de <i>imperfect lung</i>
             și o formă de <i>imperfect scurt</i>.</br>
             <ul>
                <li>
                    Imperfectul lung a fost folosit ca prezent și viitor. Acest imperfect lung se găsește în 
                    ebraica biblică sub forma imperfectului = prezent/viitor (<font size="4">יָקוּם</font>).
                </li>
                <li>
                    Imperfectul scurt a fost folosit ca iusiv și pentru <u>timpul trecut</u>. Acest imperfect scurt 
                    se regăsește în ebraica biblică ca iusiv (<font size="4">יָקֹם</font>) și în impf-ul 
                    waw-relativ (<font size="4">וַיָקָם</font>), care exprimă <u>succesiunea temporală în timp trecut</u>.
                </li>
            </ul>
             &#x1F449; Un nume tradițional pentru waw-relativ este waw-conversiv, care presupune 
             că un imperfect = prezent/viitor este convertit în trecut prin adăugarea
              <font size="4">&#1468;&#9744;&#1493;&#1463;</font> ca prefix. Cu toate acestea, nu 
              este cazul. Imperfectul waw-relativ = timp trecut este pur și simplu conservarea unei 
              utilizări vechi a imperfectului scurt.</br>
              <font size="4">יָשַׁב וַיִּכְתֹּב בַּסֵּפֶר</font> s-a așezat apoi a scris în carte. </br>
              <font size="4">יָשְׁבוּ וַיִּכְרְתוּ בְּרִית</font> apoi s-au așezat și au făcut un legământ</br>
              <font size="4">יָשַׁב וַיֹּאמֶר אֵלַי</font> a stat apoi mi-a spus...</br>
              <font size="4">שָׁלַחְתִּי אֶת־הַנַּעַר וַיִּמְצָא אֶת־הַכֶּסֶף</font> l-am trimis pe băiat, apoi el a găsit banii
        </p>
        <p>
            Utilizarea lui waw-relativ la perfect.<br>
            &#x1F449; Utilizarea inițială a lui waw-relativ perfect a fost, probabil, pentru a marca 
            clauza <i>apoi</i> într-un enunț <i>dacă...atunci</i>.</br>
            <font size="4">אִם תֵּלֵךְ עִמִּי וְאָכַלְתָּ</font> dacă tu mergi cu mine, atunci voi merge și eu</br>
            <font size="4">אִם תִּשְׁמַע וְיָדַעְתָּ</font> Dacă asculți, atunci vei ști</br>
            &#x1F449; Deoarece clauza <i>atunci</i> este prin definiție o situație viitoare, 
            waw relativul perfect este folosit pentru a exprima <u>succesiunea temporală în timp viitor</u> 
            atunci când urmează un verb imperfect.</br>
            <font size="4">נֵלֵךְ וְזָבַחְנוּ</font> vom merge, apoi vom sacrifica</br>
            <font size="4">תֵּשֵׁב וְאָכַלְתָּ</font> vă veți așeza, apoi veți mânca</br>
            <font size="4">אֶזְבַּח וְיָשַׁבְתָּ וְאָכַלְתָּ</font> voi sacrifica, apoi veți sta jos și veți mânca.<br>
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>