{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebraica biblică</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="story-container">
      <header >
          <h1>Qal perfect și imperfect: radăcini slabe</h1>
      </header>
      <main>
        <h3> Rădăcini slabe </h3>
        <p>
            Rădăcinile limbii ebraice sunt de două feluri <b>tari</b> și <b>slabe</b> sau <b><i>găunoase</b></i>.</br>
            &#x1F449; Rădăcinile puternice sunt <i>regulate</i>. Ele urmează întocmai paradigma
            standard (<font size="4">קטל</font>).</br>
            <font size="4">מְלַכְתֶּם</font>&emsp;&emsp;<font size="4">זְכַרְתֶּם</font>&emsp;&emsp;<font size="4">קְטַלְתֶּם</font></br>
            &#x1F449; Rădăcinile slabe sau găunoase sunt <i>neregulate</i>. Ele diferă de paradigma standard (<font size="4">קטל</font>)
             într-un fel sau altul. 
        </p>
        <p>
            <i>Slăbiciunea<i> din rădăcinile slabe este desemnată în două moduri: localizarea slăbiciunii și natura acesteia.</br>
            &#x1F449; În cazul în care slăbiciunea este localizată în prima, a doua sau a treia literă,
             se utilizează cifrele romane I, II, respectiv III pentru a identifica localizarea slăbiciunii.</br>
            &#x1F449; De asemenea, slăbiciunea este identificată în funcție de natura specifică a acesteia. 
             De exemplu, rădăcinile cu guturale sunt slabe, deoarece guturalele au caracteristici care fac 
             ca formele verbale ale acestor rădăcini să varieze față de paradigma standard.</br>
            <font size="4">עָבַד</font> este verb I gutural
            <font size="4">גָּאַל</font> este verb II gutural
            <font size="4">בָּטַח</font> este verb III gutural
        </p>
        <p>
            În această pagină, sunt prezentate verbele I guturale și III alef.
        </p>
        <h3>Verbe I guturale: Qal perfect și imperfect</h3>
        <p>
            Verbele I guturale diferă de paradigma standard în principal într-un singur fel: 
            în timp ce paradigma standard are șva (<font size="4">&#1456;&#9744;</font>), verbele 
            guturale au hatef-patah (<font size="4">&#1458;&#9744;</font>) sau 
            hatef-segol (<font size="4">&#1457;&#9744;</font>).
        </p>
        <h4>Qal perfect</h4>
        <p>
            Qal perfect urmează paradigma standard, cu excepția formelor 2mp și 2fp, unde
             șva (<font size="4">&#1456;&#9744;</font>) este înlocuită cu hataf-patah (<font size="4">&#1458;&#9744;</font>).
        </p>
         <table>
            <tr>
                <td>I gutural</td>
                <td>tare</td>
                <td></td>
            </tr>
            <tr>
                <td>עֲמַדְתֶּם</td>
                <td>קְטַלְתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>עֲמַדְתֶּן</td>
                <td>קְטַלְתֶּן</td>
                <td>2fp</td>
            </tr>
        </table>
            <h4>Qal imperfect</h4>
            <p>
                Qal imperfect variază față de paradigma standard în trei moduri: <ol>
                <li> șva (<font size="4">&#1456;&#9744;</font>) sub prima literă a rădăcinii este înlocuită cu 
                hatef-patah (<font size="4">&#1458;&#9744;</font>) sau hatef-segol (<font size="4">&#1457;&#9744;</font>);</li> 
                <li> vocala de sub prefix va fi vocala scurtă corespunzătoare (patah <font size="4">&#1463;&#9744;</font> 
                    sau segol <font size="4">&#1462;&#9744;</font>); </li>
                <li> în 2fs,3mp și 2mp prima șva (<font size="4">&#1456;&#9744;</font>) devine 
                    patach (<font size="4">&#1463;&#9744;</font>).</li></ol>
            </p>

        <table>
            <tr>
                <td>I Gutural</td>
                <td>Tare</td>
                <td></td>
            </tr>
            <tr>
                <td>יַעֲמֹד</td>
                <td>יִקְטֹל</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תַּעֲמֹד</td>
                <td>תּקְטֹל</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תַּעֲמֹד</td>
                <td>תּקְטֹל</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תַּעֲמֹדִי</td>
                <td>תִּקְטְלִי</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אֶעֱמֹדִי</td>
                <td>אֶקְטֹל</td>
                <td>1cs</td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>יַעַמְדוּ</td>
                <td>יִקְטְלוּ</td>
                <td>3mp</td>
            </tr>
            <tr>
                <td>תַּעֲמֹדְנָהוּ</td>
                <td>תִּקְטֹלְנָה</td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תַּעַמְדוּ</td>
                <td>תִּקְטְלוּ</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תַּעֲמֹדְנָה</td>
                <td>תִּקְטֹלְנָה</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נַעֲמֹד</td>
                <td>נִקְטֹל</td>
                <td>1cp</td>
            </tr>
        </table>
        </br>
        <p>
            <i>Verbele cu patah</i> (<font size="4">&#1463;&#9744;</font>) <i>ca vocală tematică se vocalizează 
            ca </i><font size="4">יִחֶזַק</font>.
        </p>
        <h3>Verbe III alef (<font size="4">&#1488;</font>): Qal perfect și imperfect</h3>
        <p>
            Verbele III Alef diferă de paradigma standard deoarece alef este mut când închide o silabă.
        </p>
        <h4>Qal perfect</h4>
        <p>
            În formele în care alef ar trebui să închidă o silabă, alef-ul este mut, astfel încât 
            <ol>
            <li> nu se scrie sheva (<font size="4">&#1456;&#9744;</font>) sub alef;</li> 
            <li> are loc o alungire compensatorie: patahul scurt așteptat (<font size="4">&#1463;&#9744;</font>) 
                este alungit la qamets mediu (<font size="4">&#1464;&#9744;</font>). Și pentru 
                că tav (<font size="4">&#1514;</font>) din sufixe este acum precedat de o vocală, alef-ul fiind mut, 
                dageș-ul slab este pierdut.</li>
            </ol>
        </p>



        <table>
            <tr>
                <td>III alef</td>
                <td>Tare</td>
                <td></td>
            </tr>
            <tr>
                <td>מָצָא</td>
                <td>קָטַל</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>מָצְאָה</td>
                <td>קָטְלָה</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>מָצָאתָ</td>
                <td>קָטַלְתָּ</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>מָצָאת</td>
                <td>קָטַלְתְּ</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>מָצָאתִי</td>
                <td>קָטַלְתִּי</td>
                <td>1cs</td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>מָצְאוּ</td>
                <td>קָטְלוּ</td>
                <td>3cp</td>
            </tr>
            <tr>
                <td>מָצָאתֶם</td>
                <td>קָטַלְתֶּם</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>מָצָאתֶן</td>
                <td>קָטַלְתֶּן</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>מָצָאנוּ</td>
                <td>קָטַלְנוּ</td>
                <td>1cp</td>
            </tr>
        </table>
        </br>
        <h4>Qal imperfect</h4>
        <p>
            Deoarece alef este o guturală, vocala tematică este o vocală din clasa 
            "a" (ca <font size="4">יִשְׁלַח</font>), nu o vocală din clasa "u" holem (<font size="4">&#1465;&#9744;</font>).
             În formele în care alef ar închide o silabă, alef este tăcută, astfel că are loc o alungire 
             compensatorie: patah-ul scurt așteptat (<font size="4">&#1463;&#9744;</font>) este alungit 
             la qameț mediu (<font size="4">&#1464;&#9744;</font>), cu excepția 3fp și 2fp, care au  
             segol (<font size="4">&#1462;&#9744;</font>).
        </p>
        <table>
            <tr>
                <td>III alef</td>
                <td>III gutural</td>
                <td></td>
            </tr>
            <tr>
                <td>יִמְצָא</td>
                <td>יִשְׁלַח</td>
                <td>3ms</td>
            </tr>
            <tr>
                <td>תִּמְצָא</td>
                <td>תִּשְׁלַח</td>
                <td>3fs</td>
            </tr>
            <tr>
                <td>תִּמְצָא</td>
                <td>תִּשְׁלַח</td>
                <td>2ms</td>
            </tr>
            <tr>
                <td>תִּמְצְאִי</td>
                <td>תִּשְׁלְחִי</td>
                <td>2fs</td>
            </tr>
            <tr>
                <td>אֶמְצָא</td>
                <td>אֶשְׁלַח</td>
                <td>1cs</td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>יִמְצְאוּ</td>
                <td>יִשְׁלְחוּ</td>
                <td>3mp</td>
            </tr>
            <tr>
                <td>תִּמְצֶאנָה</td>
                <td>תִּשְׁלַחְנָה</td>
                <td>3fp</td>
            </tr>
            <tr>
                <td>תִּמְצְאוּ</td>
                <td>תִּשְׁלְחוּ</td>
                <td>2mp</td>
            </tr>
            <tr>
                <td>תִּמְצֶאנָה</td>
                <td>תִּשְׁלַחְנָה</td>
                <td>2fp</td>
            </tr>
            <tr>
                <td>נִמְצָא</td>
                <td>נִשְׁלַח</td>
                <td>1cp</td>
            </tr>
        </table>
        </br>
        </p>
        <br>
<div style="text-align: center;">

    <a href="{% url 'home' %}" class="custom-link">Acasă</a>
    </main>
  </div>
    <div class="right-sidebar"></div>
  </div>
</body>
</html>